<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로젝트 취소</title>
    <link rel="stylesheet" href="/css/seller/popup.css">
    <link rel="stylesheet" href="/css/seller/projectDetail.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
</head>
<body>
    <div class="container-justify-center-w100">
        <h1 class="cancel-title">프로젝트 취소 신청</h1>
    </div>
    <div class="container-justify-center-w100">
        <table id="cancel-table" class="cancel-table">
            <tr>
                <th>프로젝트 명</th>
                <td colspan="2" th:text="${project.title}"></td>
            </tr>
            <tr>
                <th>프로젝트 기간</th>
                <td th:text="${project.startDate}"></td>
                <td th:text="${project.endDate}"></td>
            </tr>
            <tr>
                <th>목표금액(원)</th>
                <td colspan="2" th:text="${project.targetAmount}"></td>
            </tr>
            <tr>
                <th>모금액(원)</th>
                <td colspan="2" th:text="${project.currentAmount}"></td>
            </tr>
            <tr>
                <th>달성률(%)</th>
                <td colspan="2" th:text="${targetRate}"></td>
            </tr>
<!--            <tr>-->
<!--                <th>취소 수수료율(%)</th>-->
<!--                <td colspan="2"></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th>취소 예상금액(원)</th>-->
<!--                <td colspan="2"></td>-->
<!--            </tr>-->
            <tr>
                <th>상태</th>
                <td colspan="2">
                    <th:block th:replace="/seller/fragments/sellerFrag :: progressStatus(${project.projectProgress.status.toString()})">
                    </th:block>
                </td>
            </tr>
        </table>
    </div>
    <div class="cancel-content-area">
        <h1 class="cancel-content-title">취소 사유</h1>
        <label th:for="cancel-content"><span>0</span>/500</label>
        <textarea maxlength="500" class="cancel-content" th:id="cancel-content" name="content" rows=5 placeholder="취소 사유를 입력하세요." th:text="${project.projectProgress?.content}"></textarea>
    </div>

    <footer class="footer">
        <input type="button" class="footer-btn" onclick="window.close()" value="닫기">
        <input type="button" class="footer-btn" value="취소하기" onclick="cancelSubmit()" th:if="${project.projectProgress?.status.toString() != 'CANCEL'}">
    </footer>

    <script src="/js/seller/sellerPage.js"></script>
</body>
</html>