<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로젝트 정보</title>
    <link rel="stylesheet" href="/css/seller/projectDetail.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
</head>
<body>
    <div class="title">
        <h1 id="toggle" style="color:#884A3B; font-size: 40px; ">프로젝트 현황 및 통계</h1>
    </div>
    <!--프로젝트 정보-->
    <div id="proToggle" class="h1-title">
<!--        프로젝트 정보 <span>닫기</span>-->
        <label for="menuToggle">프로젝트 정보</label>
        <input type="checkbox" id="menuToggle">
    </div>
    <div id="menu" class="col-2">
        <div id="info">
            <div>
                <div class="sub-title">
                    <span>프로젝트 정보</span>
                </div>
                <table id="project-detail-table" class="project-table">
                    <tbody>
                        <tr>
                            <th>프로젝트 명</th>
                            <td colspan="2" th:text="${project.title}"></td>
                        </tr>
                        <tr>
                            <th>프로젝트 기간</th>
                            <td th:text="${project.startDate}"></td>
                            <td th:text="${project.endDate}"></td>
                        </tr>
                        <tr>
                            <th>남은 기간(일)</th>
                            <td colspan="2" th:text="${days}"></td>
                        </tr>
                        <tr>
                            <th>목표금액(원)</th>
                            <td colspan="2" th:text="${project.currentAmount}"></td>
                        </tr>
                        <tr>
                            <th>달성금액(원)</th>
                            <td colspan="2" th:text="${project.targetAmount}"></td>
                        </tr>
                        <tr>
                            <th>참여자수(명)</th>
                            <td colspan="2" th:text="${project.views}">1000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${productList.size() > 0}">
                <div class="sub-title">
                    <span>상품별 판매 현황</span>
                </div>
                <table class="product-statistics">
                    <thead>
                        <tr>
                            <th>#</th>
                            <td>상품명</td>
                            <td>상품가격(원)</td>
                            <td>주문수량(개)</td>
                            <td>판매금액(원)</td>
                        </tr>
                    </thead>
                    <tbody id="product-statics-list">
                        <tr th:each="item : ${productList}">
                            <th th:text="${productList.size() - itemStat.index}"></th>
                            <td th:text="${item.name}"></td>
                            <td th:text="${item.price}"></td>
                            <td th:text="${item.count}"></td>
                            <td th:text="${item.price * item.count}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <div class="chart-area">
                <div>
                    <canvas id="myChart" ></canvas>
                </div>
                <div>
                    <canvas id="myChart2" ></canvas>
                </div>
                <div>
                    <canvas id="myChart3" ></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="footer" style="margin-top: 4em;">
        <footer class="footer">
            <input class="footer-btn" type="button" value="닫기" onclick="window.close()" />
        </footer>
    </div>
    <script src="/js/seller/projectDetail.js"></script>
    <script>
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('myChart');
        new Chart(ctx, {
            type: 'pie',
            animation: {
                onComplete: () => {
                    delayed = true;
                },
                delay: (context) => {
                    let delay = 0;
                    if (context.type === 'data' && context.mode === 'default' && !delayed) {
                        delay = context.dataIndex * 300 + context.datasetIndex * 100;
                    }
                    return delay;
                },
            },
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: '상품별 판매 비중',
                        font: {
                            size: 20,
                        },
                    },

                }
            },
        });

        const ctx2 = document.getElementById('myChart2');
        new Chart(ctx2, {
            type: 'polarArea',
            animation: {
                onComplete: () => {
                    delayed = true;
                },
                delay: (context) => {
                    let delay = 0;
                    if (context.type === 'data' && context.mode === 'default' && !delayed) {
                        delay = context.dataIndex * 300 + context.datasetIndex * 100;
                    }
                    return delay;
                },
            },
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: '상품별 판매 비중',
                        font: {
                            size: 20,
                        },
                    }
                }
            },
        });

        const ctx3 = document.getElementById('myChart3');
        new Chart(ctx3, {
            type: 'bar',
            animation: {
                onComplete: () => {
                    delayed = true;
                },
                delay: (context) => {
                    let delay = 0;
                    if (context.type === 'data' && context.mode === 'default' && !delayed) {
                        delay = context.dataIndex * 300 + context.datasetIndex * 100;
                    }
                    return delay;
                },
            },
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: '상품별 판매 비중',
                        font: {
                            size: 20,
                        },
                    }
                }
            },
        });
    </script>


</body>
</html>