<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>프로젝트 등록 - 반려</title>
    <link rel="stylesheet" href="./popup.css">
</head>
<body>
    <div class="container-justify-center-w100">
        <h1 class="cancel-title">프로젝트 반려</h1>
    </div>
    <div class="container-justify-center-w100">
        <table class="cancel-table">
            <tr>
                <th>프로젝트 명</th>
                <td colspan="2">프로젝트 블라블라</td>
            </tr>
            <tr>
                <th>프로젝트 기간</th>
                <td>2023-01-10</td>
                <td>2023-10-10</td>
            </tr>
            <tr>
                <th>목표금액(원)</th>
                <td colspan="2">100,000,000</td>
            </tr>
            <tr>
                <th>등록 상품(개)</th>
                <td colspan="2">3</td>
            </tr>
            <tr>
                <th>배송비</th>
                <td colspan="2">조건부 판매자 부담</td>
            </tr>
            <tr>
                <th>사유</th>
                <td colspan="2">중복</td>
            </tr>
        </table>
    </div>
        <div class="container-justify-center-w100" style="margin-top: 2em">
            <a href="#"><button class="footerBtn">수정</button></a>
            <a href="#"><button class="footerBtn">닫기</button></a>
        </div>
</body>
</html>
