<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<header th:fragment="header">
  <link rel="stylesheet" href="/css/common/header.css">
  <script>
    function toggleDropdown(event) {
      // event.stopPropagation(); // 클릭 이벤트의 전파를 중지합니다.
      var dropdown = document.getElementById("dropdownContent");
      dropdown.classList.toggle("slide-open");
    }

    // 클릭 이벤트가 발생한 영역 밖을 클릭하면 슬라이드가 닫히도록 설정
    window.addEventListener("click", function (event) {
      var dropdown = document.getElementById("dropdownContent");
      var targetElement = event.target;

      if (!targetElement.closest(".gugu") && !targetElement.closest(".slide-content")) {
        dropdown.classList.remove("slide-open");
      }
    });

    //사용자 페이지 표시 기능
    function toggleUserMenu() {
      var menu = document.getElementById("userPageContent");

      if (menu.style.display === "block") {
        menu.style.display = "none";
      } else {
        menu.style.display = "block";
      }
    }

    //판매자 페이지 표시 기능
    function toggleSellerMenu() {
      var menu = document.getElementById("sellerPageContent");

      if (menu.style.display === "block") {
        menu.style.display = "none";
      } else {
        menu.style.display = "block";
      }
    }

    //관리자 페이지 표시 기능
    function toggleAdminMenu() {
      var menu = document.getElementById("adminPageContent");

      if (menu.style.display === "block") {
        menu.style.display = "none";
      } else {
        menu.style.display = "block";
      }
    }

    //판매자 드롭 페이지 표시 기능
    function toggleSellerDropMenu() {
      var menu = document.getElementById("sellerDropPageContent");

      if (menu.style.display === "block") {
        menu.style.display = "none";
      } else {
        menu.style.display = "block";
      }
    }
  </script>

  <div class="User_container">
    <th:block sec:authorize="isAnonymous()">
      <button onclick="location.href='/member/login/login'">로그인</button>
      <button onclick="location.href='/member/signup/signUp'">회원가입</button>
    </th:block>
    <th:block sec:authorize="isAuthenticated()">
        <button sec:authentication="principal.nickname" class="id_button"></button>
        <button onclick="location.href='/member/logout'">로그아웃</button>
    </th:block>

    <!-- 사용자 마이페이지 -->
    <th:block sec:authorize="hasRole('USER') or (hasRole('SELLERDROP') and hasRole('SELLER'))
                              and not hasRole('ADMIN')">
      <div class="userPage" sec:authorize="not hasRole('ADMIN') and not hasRole('SELLER')">
        <button class="userPageGo" onclick="toggleUserMenu()">마이 페이지</button>
        <div class="userPage-content" id="userPageContent">
          <a onclick="location.href='/member/mypage/MypageProfile'">마이 페이지</a>
          <a onclick="location.href='/member/suggest/suggest'">제안하기</a>
          <a onclick="location.href='/member/review/review'">리뷰하기</a>
          <a sec:authorize="not hasRole('SELLERDROP')" onclick="location.href='/admin/sellerApprovalForm/formGetMain'">판매자 권한 신청</a>
        </div>
      </div>
    </th:block>

    <!-- 판매자 권한 삭제한 자의 마이페이지 -->
    <th:block sec:authorize="hasRole('SELLERDROP')">
      <div class="sellerDropPage">
        <button class="sellerDropPageGo" onclick="toggleSellerDropMenu()">마이 페이지</button>
        <div class="sellerDropPage-content" id="sellerDropPageContent">
          <a onclick="location.href='/member/mypage/MypageProfile'">마이 페이지</a>
          <a onclick="location.href='/member/suggest/suggest'">제안하기</a>
          <a onclick="location.href='/member/review/review'">리뷰하기</a>
        </div>
      </div>
    </th:block>

    <!-- 판매자 마이페이지 -->
    <th:block sec:authorize="hasRole('SELLER') and not hasRole('SELLERDROP')">
      <div class="sellerPage">
        <button class="sellerPageGo" onclick="toggleSellerMenu()">판매자 페이지</button>
        <div class="sellerPage-content" id="sellerPageContent">
          <a onclick="location.href='/member/mypage/MypageProfile'">마이 페이지</a>
          <a onclick="location.href='/seller/projectList'">프로젝트 조회</a>
          <a onclick="location.href='/seller/orderList'">주문 관리 조회 </a>
          <a onclick="location.href='/seller/projectQnAList'">질문 답변 조회</a>
          <a onclick="location.href='/admin/sellerApprovalForm/formOutMain'">판매자 권한 회수 신청</a>
        </div>
      </div>
    </th:block>


    <!-- 관리자 마이페이지 -->
    <th:block sec:authorize="hasRole('ADMIN')">
      <div class="adminPage">
      <button class="adminPageGo" onclick="toggleAdminMenu()">관리자 페이지</button>
      <div class="adminPage-content" id="adminPageContent">
        <a onclick="location.href='/admin/user_notice/notice_view/A'">공지사항</a>
        <a onclick="location.href='/admin/user_management/full_inquiry'">사용자 조회</a>
        <a onclick="location.href='/admin/itemApproval/waitingItem'">상품 승인 관리</a>
        <a onclick="location.href='/admin/sellerApproval/waitingAuthority'">판매자 권한 관리</a>
        <a onclick="location.href='/admin/adminCategory/gettingProposals'">제안 받기</a>
        <a onclick="location.href='/admin/footerCategory/termsInput'">약관 작성</a>
      </div>
      </div>
    </th:block>
  </div>
  <div id="logo">
    <a style="cursor: pointer" onclick="location.href='/main'">
      <img src="/images/member/logo.png">
    </a>
  </div>
  <nav>
    <ul>
      <li class="category">
        <button class="gugu" onclick="toggleDropdown()">카테고리</button>
      </li>

      <div class="slide-content" id="dropdownContent">
        <div style="text-align: center;">
          <img src="/images/member/logo.png" width="150px" style="margin-top: 30px; margin-bottom: 30px;">
        </div>
        <a href="/saleList">전체 상품</a>
        <a href="#">인기 상품</a>
        <a href="#">빅 사이즈</a>
        <a href="#">스몰 사이즈</a>
        <a href="/saleList?today=true">오늘 오픈</a>
        <a href="#">마감 임박</a>
        <a href="#">맞춤 의류</a>
      </div>

      <button class="gugu" style="color: black;"><a href="/saleList?today=true">오늘 오픈</a></button>
      <button class="gugu" style="color: black;"><a href="./hotItem">인기 상품</a></button>
      <button class="gugu" style="color: black;"><a href="./saleList?openExpect=true">오픈 예정</a></button>
      <button class="gugu" style="color: black;"><a onclick="location.href='/admin/user_notice/notice_view/E'">이벤트</a></button>
      <li class="search">
        <input type="text" placeholder="검색할 내용을 입력해주세요">
      </li>
    </ul>
  </nav>
</header>

</html>