<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>판매자 권한 획득/회수 신청 관련 메인</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <link rel="stylesheet" href="/css/admin/sellerApprovalForm/formMain.css">
    <script src="/js/admin/sellerApprovalForm/formMain.js"></script>
</head>
<body>

<header id="header">
    <th:block th:include="~{/common/fragments/header}"></th:block>
</header>

<middle>
    <h1 style="text-align: center;  margin: 100px auto 50px;">OSMAS 판매자 권한 회수 신청</h1>

    <div style="align-items: center; text-align: center; margin-top: -30px;">
        <h3>회수 유의사항 안내</h3>
        <hr>
        <p>권한 회수 완료 즉시 판매자님의 데이터가 영구적으로 삭제됩니다.<br>
            판매자의 권한 회수 시 다시 신청이 불가하니 신중히 신청해주시면 감사드리겠습니다.
        </p>
    </div>

    <div style="display: flex; flex-direction: row; justify-content: center; margin: 50px auto 100px;">
        <div class="box">
            <h2><a onclick="href='outForm'">판매자 권한 회수 신청하기</a></h2>
        </div>
    </div>
</middle>


<footer >
    <th:block th:include="~{/common/fragments/footer}"></th:block>
</footer>

</body>
</html>