<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>판매자 권한 획득 신청 양식</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <link rel="stylesheet" href="/css/admin/sellerApprovalForm/form.css">
</head>
<body>

<header id="header">
    <th:block th:include="~{/common/fragments/header}"></th:block>
</header>

<middle>
    <h1 style="text-align: center; margin: 50px;">권한 신청 내용</h1>

    <form id="sellerGotForm">
        <div th:each="user, iterStat: ${getAgain}">
            <div class="form-group">
                <label for="sellerId">판매자 ID</label>
                <input type="text" id="sellerId" name="sellerId" th:value="${userID}">
            </div>

            <div class="form-group">
                <label for="bank">은행</label>
                <input type="text" id="bank" name="bank" required th:value="${user.bank}">
            </div>

        <div class="form-group">
            <label for="accountNo">계좌번호</label>
            <input type="text" id="accountNo" name="accountNo" required th:value="${user.accountNo}">
        </div>

        <div class="form-group">
            <label for="name">회사명</label>
            <input type="text" id="name" name="name" required th:value="${user.name}">
        </div>

        <div class="form-group">
            <label for="rprsn">대표자명</label>
            <input type="text" id="rprsn" name="rprsn" required th:value="${user.rprsn}">
        </div>

        <div class="form-group">
            <label for="callNumber">대표 번호</label>
            <input type="text" id="callNumber" name="callNumber" required th:value="${user.callNumber}">
        </div>

        <div class="form-group">
            <label for="address">판매자 주소</label>
            <input type="text" id="address" name="address" required th:value="${user.address}">
        </div>

        <div class="form-group">
            <label for="registNo">사업자등록번호</label>
            <input type="text" id="registNo" name="registNo" required th:value="${user.registNo}">
        </div>

        <div class="form-group">
            <label for="reportNo">통신판매업 신고번호</label>
            <input type="text" id="reportNo" name="reportNo" required th:value="${user.reportNo}">
        </div>

            <div class="file-upload">
                <label for="registFile">사업자등록증 사본</label>
                <input type="file" id="registFile" name="registFile" required>
            </div>

            <div class="file-upload">
                <label for="reportFile">통신판매업 사업자 사본</label>
                <input type="file" id="reportFile" name="reportFile" required>
            </div>

            <div class="file-upload">
                <label for="certificateFile">대표자 인감증명서(또는 본인서명사실확인서)</label>
                <input type="file" id="certificateFile" name="certificateFile" required>
            </div>

            <div class="file-upload">
                <label for="bankBookFile">대표자 혹은 사업자 명의 통장 사본</label>
                <input type="file" id="bankBookFile" name="bankBookFile" required>
            </div>

            <h5 style="text-align: center;">
                사업자등록증 : 최근 1년 이내 발급 / 공정거래위원회(http://www.ftc.go.kr)에서 조회 되는 통신판매업 사업자 정보와 일치 확인<br>
                인감증명서 : 최근 3개월 이내 발급 / 주민등록번호 뒤 7자리 마스킹<br>
                부가가치세 면세사업자 / 면세사업자 : 통신판매업신고증 필수<br><br>
                통신판매업신고<br>

                - 미신고자 : 스마트스토어 가입 절차 완료 후 안내에 따라 통신판매업신고 별도 진행<br>
                - 신고자 : 가입 시 통신판매업 신고번호만 입력하면 별도 서류제출 필요 없음<br>
            </h5>
            <br><br>

        <div class="submit-container">
            <input id="no" type="submit" value="신청 취소">
        </div>
        <hr th:if="${not iterStat.last}">
        </div>
     </form>
</middle>

<footer >
    <th:block th:include="~{/common/fragments/footer}"></th:block>
</footer>
<script src="/js/admin/sellerApprovalForm/getAgainForm.js"></script>
</body>
</html>