<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>판매자 권한 획득 신청 양식</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <link rel="stylesheet" href="/css/admin/sellerApprovalForm/form.css">
</head>
<body>
<middle>
    <h1 style="text-align: center; margin: 50px;">권한 신청하기</h1>

    <form action="submit_form.php" method="POST">
        <div class="form-group">
            <label for="bank">은행:</label>
            <select id="bank" name="bank" required>
                <option value="" disabled selected>은행을 선택하세요</option>
                <option value="bank1">국민은행 </option>
                <option value="bank2">우리은행</option>
                <option value="bank3">신한은행</option>
                <option value="bank4">기업은행</option>
                <option value="bank5">하나은행</option>
                <option value="bank6">외환은행</option>
                <option value="bank7">농협은행</option>
                <option value="bank8">씨티은행</option>
                <option value="bank9">제일은행</option>
            </select>
        </div>

        <div class="form-group">
            <label for="account-number">계좌번호</label>
            <input type="text" id="account-number" name="accountNumber" required>
        </div>

        <div class="form-group">
            <label for="business-registration-number">회사명</label>
            <input type="text" id="business-registration-number" name="businessRegistrationNumber" required>
        </div>

        <div class="form-group">
            <label for="business-registration-number">대표자명</label>
            <input type="text" id="business-registration-number" name="businessRegistrationNumber" required>
        </div>

        <div class="form-group">
            <label for="business-registration-number">대표 번호</label>
            <input type="text" id="business-registration-number" name="businessRegistrationNumber" required>
        </div>

        <div class="form-group">
            <label for="business-registration-number">판매자 주소</label>
            <input type="text" id="business-registration-number" name="businessRegistrationNumber" required>
        </div>

        <div class="form-group">
            <label for="business-registration-number">사업자등록번호</label>
            <input type="text" id="business-registration-number" name="businessRegistrationNumber" required>
        </div>

        <div class="form-group">
            <label for="business-registration-number">통신판매업 신고번호</label>
            <input type="text" id="business-registration-number" name="businessRegistrationNumber" required>
        </div>

        <div class="file-upload">
            <label for="file">사업자등록증 사본</label>
            <input type="file" id="file" name="uploadedFile" required>
        </div>

        <div class="file-upload">
            <label for="file">통신판매업 사업자 사본</label>
            <input type="file" id="file" name="uploadedFile" required>
        </div>


        <div class="file-upload">
            <label for="file">대표자 인감증명서(또는 본인서명사실확인서)</label>
            <input type="file" id="file" name="uploadedFile" required>
        </div>

        <div class="file-upload">
            <label for="file">대표자 혹은 사업자 명의 통장 사본</label>
            <input type="file" id="file" name="uploadedFile" required>
        </div>

        <h5 style="text-align: center;">
            사업자등록증 : 최근 1년 이내 발급 / 공정거래위원회(http://www.ftc.go.kr)에서 조회 되는 통신판매업 사업자 정보와 일치 확인<br>
            인감증명서 : 최근 3개월 이내 발급 / 주민등록번호 뒤 7자리 마스킹<br>
            부가가치세 면세사업자 / 면세사업자 : 통신판매업신고증 필수<br><br>
            통신판매업신고<br>

            - 미신고자 : 스마트스토어 가입 절차 완료 후 안내에 따라 통신판매업신고 별도 진행<br>
            - 신고자 : 가입 시 통신판매업 신고번호만 입력하면 별도 서류제출 필요 없음<br>
        </h5>
        <br><br>

        <div class="submit-container">
            <input type="submit" value="수정">
            <input type="submit" value="제출">
            <input type="submit" value="삭제">
        </div>
    </form>
</middle>
</body>
</html>