<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/member/mainstyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">

</head>

<body>
<div class="logo">
    <a href="/static">

        <img src="/images/member/logo.png" alt="">
    </a>
</div>
<div class="content">
    <p th:text="|${userID}님|" class="sign_con"></p>
    <p class="sign_con">
        이미 신청하신 내역이 있습니다.
    </p>
    <div class="container_button">
        <div>
            <button onclick="location.href='/'" class="ok_button" style="width: 50%;">홈 화면 가기 하기</button>
            <button onclick="location.href='outFormConfirmation'" class="ok_button" style="width: 50%;">신청내역 보러 가기</button>
        </div>
    </div>
</div>
</body>

</html>