<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 메인 페이지</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <link rel="stylesheet" href="/css/admin/adminMain.css">
    <script src="/js/admin/adminMain.js"></script>
</head>
<body>
<header>
    <div class="adminLogin">
        <h4>관리자님 환영합니다!</h4>
        <button>로그아웃</button>
    </div>
    <div id="logo">
        <a href="./adminMain.html">
            <img src="/images/admin/Logo.png">
        </a>
    </div>
    <nav>
        <ul>
            <li class="category">
                <button class="gugu" onclick="toggleDropdown()">카테고리</button>
            </li>

            <div class="slide-content" id="dropdownContent">
                <div style="text-align: center;">
                    <img src="../../static/image/Logo.png" width="150px" style="margin-top: 30px; margin-bottom: 30px;">
                </div>
                <a href="">관리자 마이페이지</a>
                <a href=".fundingRanking.html">현재 펀딩 순위</a>
                <a href="./waitingAuthorization.html">판매자 권한 관리</a>
                <a href="./waitingItem.html">상품 승인 관리</a>
                <a href="./gettingProposals.html">제안받기</a>
            </div>

            <button class="gugu" style="color: black;"><a href="./todayOpen">오늘 오픈</a></button>
            <button class="gugu" style="color: black;"><a href="./hotItem">인기 상품</a></button>
            <button class="gugu" style="color: black;"><a href="./openExpect">오픈 예정</a></button>
            <button class="gugu" style="color: black;"><a href="./event">이벤트</a></button>
            <li class="search">
                <input type="text" placeholder="검색할 내용을 입력해주세요">
            </li>
        </ul>
    </nav>
</header>

<middle>
    <div class="product">
        <div class="left-column">
            <h2>오늘 오픈했어요!</h2>
            <div class="popular1">
                <div class="item">오늘 나온 상품 1</div>
                <div class="item">오늘 나온 상품 2</div>
                <div class="item">오늘 나온 상품 3</div>
                <div class="item">오늘 나온 상품 4</div>
            </div>
            <h2>곧 마감이에요!</h2>
            <div class="popular1">
                <div class="item">곧 마감 상품 1</div>
                <div class="item">곧 마감 상품 2</div>
                <div class="item">곧 마감 상품 3</div>
                <div class="item">곧 마감 상품 4</div>
            </div>
        </div>
        <div class="right-column">
            <h2>실시간 인기 랭킹</h2>
            <div class="popular2">
                <div class="item">인기목록 상품 1</div>
                <div class="item">인기목록 상품 2</div>
                <div class="item">인기목록 상품 3</div>
                <div class="item">인기목록 상품 4</div>
                <div class="item">인기목록 상품 5</div>
                <div class="item">인기목록 상품 6</div>
                <div class="item">인기목록 상품 7</div>
                <div class="item">인기목록 상품 8</div>
                <div class="item">인기목록 상품 9</div>
                <div class="item">인기목록 상품 10</div>
            </div>
        </div>
    </div>
</middle>

<footer>
    <ul style="list-style: none;">
        <div class="container">
            <div>
                <li class="guide"><a href="./notice">공지사항</a></li>
                <li class="guide"><a href="../OSAMSIntroduction.html">OSMAS 소개</a></li>
                <li class="guide"><a href="">문의 사항</a></li>
            </div>

            <div>
                <li class="guide"><a href="./useTerms.html">이용약관</a></li>
                <li class="guide"><a href="./personalInformationProcessingPolicy.html">개인정보처리방침</a></li>
                <li class="guide"><a href="./projectJudgingCriteria.html">프로젝트 심사 기준</a></li>
            </div>
        </div>

        <div class="container2">
            <div class="container3">
                <h5 class="call">고객 센터</h5>
                <h5 class="call">평일 9:00 ~ 18:00</h5>
                <button class="call" style="float: right; padding: 4px;">문의하기</button>
            </div>
            <h6 style="text-align: center; padding-top: 30px;">오스메스는 크라우드펀딩 플랫폼을 운영하는 중개자(통신판매중개자)로서 프로젝트를 진행하는 당사자가 아닙니다.<br>
                상품, 상품정보, 거래에 관한 의무와 책임은 판매자에게 있으므로, 각 상품 페이지에서 구체적인 내용을 확인하시기 바랍니다.</h6>
            <h6 style="padding-top: 30px;">© 2023 OSMAS. ALL RIGHTS RESERVED.</h6>
        </div>
    </ul>
</footer>

</body>
</html>