<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/seller/fragments/registProjectFrag :: head}"></head>
<body>
<header th:replace="~{/seller/fragments/registProjectFrag :: process('','','','','active-process','','')}"></header>
        <main class="main">
            <h1 class="h1-title">FAQ 등록</h1>
            <div id="faqList">
                <!-- 등록 컴포넌트 시작 -->
<!--                <div id="faqIndex1">-->
<!--                    <div>-->
<!--                        <div>-->
                            <!-- javaScript -->
<!--                        </div>-->
<!--                        <hr class="line">-->
<!--                    </div>-->
<!--                </div>-->
                    <!-- 등록 컴포넌트 끝 -->
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="container-justify-center-w100">
                    <button id="fqaAdd" class="add-item" type="button">
                        <img src="/images/seller/regist/additem.png" width="40px" height="40px">
                    </button>
                </div>
            </div>
        </main>

        <!-- 하단 버튼 시작 -->
        <footer class="footer">
            <input class="footer-btn" type="button" value="이전" onclick="history.back()"/>
            <input class="footer-btn" type="button" value="다음" onclick="registProject5()" />
<!--            <input class="footerBtn" type="button" value="다음" onclick="project5Confirm()" />-->
        </footer>
        <script src="/js/seller/registProject.js"></script>
        <script >project5LoadDate()</script>
        <!-- 하단 버튼 끝 -->
    </body>
</html>