<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/seller/fragments/registProjectFrag :: head}"></head>
<body>
<header th:replace="~{/seller/fragments/registProjectFrag :: process('','','','','','','active-process')}"></header>
        <main class="main">
            <h1 class="h1-title" style="margin-top: 80px;">프로젝트 정보</h1>
            <div class="container-justify-center-w100">
                <table class="end-table">
                    <tbody>
                        <tr class="row">
                            <th class="col-3">프로젝트명</th>
                            <td class="col" th:text="${projectInfo.title}"></td>
                        </tr>
                        <tr class="row">
                            <th class="col-3">프로젝트 설명</th>
                            <td class="col" th:text="${projectInfo.content}"></td>
                        </tr>
                        <tr class="row">
                            <th class="col-3">카테고리</th>
                            <td class="col" th:text="${projectInfo.category.name}"></td>
                        </tr>
                        <tr class="row">
                            <th class="col-3">프로젝트 기간</th>
                            <td class="col">
                                <span th:text="${projectInfo.startDate}"></span> ~ <span th:text="${projectInfo.endDate}"></span>
                            </td>
                        </tr>
                        <tr class="row">
                            <th class="col-3">펀딩 목표 금액(원)</th>
                            <td class="col" th:text="${#numbers.formatInteger(projectInfo.targetAmount,0,'COMMA')}">100,000,000 </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h1 class="h1-title" style="margin-top: 80px;">상품 등록 정보</h1>
            <div class="container-justify-center-w100">
                <table class="end-table">
                    <tbody id="projectEndList">
                        <!--  javascript -->
                        <tr class="row" th:each="item : ${projectInfo.productList}">
                            <th class="col-1">상품명</th>
                            <td class="col" th:text="${item.name}"></td>
                            <th class="col-1">사이즈</th>
                            <td class="col" th:text="${item.size}"></td>
                            <th class="col-2">가격(원)</th>
                            <td class="col" th:text="${#numbers.formatInteger(item.price,0,'COMMA')}"></td>
                            <th class="col-1">최대수량</th>
                            <td class="col-1" th:text="${#numbers.formatInteger(item.maxQuantity,0,'COMMA')}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <!-- 하단 버튼 시작 -->
        <footer class="footer">
            <input class="footer-btn" type="button" value="이전" onclick="history.back()"/>
            <input class="footer-btn" type="button" value="미리보기" />
            <input class="footer-btn" type="button" value="심사요청" onclick="registProjectComplete()" />
        </footer>
        <!-- 하단 버튼 끝 -->
        <script src="/js/seller/registProject.js"></script>
<!--        <script>productInfoListDummy()</script>-->
    </body>
</html>