<!DOCTYPE html>
<html lang="ko">
<head th:replace="~{/seller/regist/registProjectFrag :: head}"></head>
<body>
<header th:replace="~{/seller/regist/registProjectFrag :: process('','','active-process','','','','')}"></header>
        <main class="main">
            <h1 class="h1-title">상품 이미지 등록</h1>
            <div class="image-upload-list" >
                    <div>
                        <label for="file1" >
                            <img class="image-upload-button" src="" onerror="this.src='/images/seller/regist/imageAddButton.png'" >
                            <div class="image-upload-description">대표이미지</div>
                        </label>
                        <input id="file1" name="file1" type="file" style="display: none" onchange="previewImage(this)" accept="image/jpeg, image/jpg, image/png" />
                    </div>
                    <div>
                        <label for="file2" >
                            <img class="image-upload-button" src="" onerror="this.src='/images/seller/regist/imageAddButton.png'">
                            <div class="image-upload-description">썸네일</div>
                        </label>
                        <input id="file2" name="file2" type="file" style="display: none" onchange="previewImage(this)" accept="image/jpeg, image/jpg, image/png"/>
                    </div>
                    <div>
                        <label for="file3" >
                            <img class="image-upload-button" src="" onerror="this.src='/images/seller/regist/imageAddButton.png'">
                            <div class="image-upload-description">추가</div>
                        </label>
                        <input id="file3" name="file3" type="file" style="display: none" onchange="previewImage(this)" accept="image/jpeg, image/jpg, image/png"/>
                    </div>
                    <div>
                        <label for="file4" >
                            <img class="image-upload-button" src="" onerror="this.src='/images/seller/regist/imageAddButton.png'">
                            <div class="image-upload-description">추가</div>
                        </label>
                        <input id="file4" name="file4" type="file" style="display: none" onchange="previewImage(this)" accept="image/jpeg, image/jpg, image/png"/>
                    </div>
                    <div>
                        <label for="file5" >
                            <img class="image-upload-button" src="" onerror="this.src='/images/seller/regist/imageAddButton.png'">
                            <div class="image-upload-description">추가</div>
                        </label>
                        <input id="file5" name="file5" type="file" style="display: none" onchange="previewImage(this)" accept="image/jpeg, image/jpg, image/png"/>
                    </div>
                </div>
            </div>
            <h1 class="h1-title">상품 추가</h1>
            <div id="productList">
                <!-- 상품 추가 컴포넌트 시작 -->

                <!-- 상품 추가 컴포넌트 끝 -->

            </div>
            <div class="row" style="margin-top: 2em;">
                <div class="container-justify-center-w100">
                    <button id="productAdd" class="add-item" >
                        <img src="/images/seller/regist/additem.png" width="40px" height="40px" >
                    </button>
                </div>
            </div>
        </main>
        <!-- 하단 버튼 시작 -->
        <footer class="footer">
            <input class="footer-btn" type="button" value="이전" onclick="history.back()"/>
            <a href="project4.html"><input class="footer-btn" type="button" value="다음" /></a>
        </footer>
        <!-- 하단 버튼 끝 -->

    </body>
    <script src="/js/seller/registProject.js"></script>
    <script >project3LoadData()</script>
</html>