<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/seller/fragments/registProjectFrag :: head}"></head>
<body>
<header th:replace="~{/seller/fragments/registProjectFrag :: process('','','','','active-process','','')}"></header>
        <main class="main">
            <h1 class="h1-title">FAQ 등록</h1>
            <div id="faqList">
                <!-- javascript -->
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="container-justify-center-w100">
                    <button id="fqaAdd" class="add-item" type="button">
                        <img src="/images/seller/regist/additem.png" width="40px" height="40px">
                    </button>
                </div>
            </div>
        </main>

        <footer class="footer">
            <input class="footer-btn" type="button" value="이전" onclick="prevPageMove(4)"/>
            <input class="footer-btn" type="button" th:value="${submitName}" onclick="registProject5(true)"  th:if="${submitName == '임시저장'}"/>
            <input class="footer-btn" type="button" th:value="${submitName}" onclick="registProject5(false)"  th:unless="${submitName == '임시저장'}"/>
            <input class="footer-btn" type="button" value="다음" onclick="registProject5(false)" />
        </footer>
        <script src="/js/seller/registProject.js"></script>
        <script>
            project5LoadData();
        </script>
    </body>
</html>