<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{/seller/fragments/registProjectFrag :: head}"></h}}ead>
    <body>
    <header th:replace="~{/seller/fragments/registProjectFrag :: process('','active-process','','','','','')}"></header>
        <main class="main">
            <h1 class="h1-title">프로젝트 등록</h1>
            <div class="row mt-2">
                <div>
                    <label class="sub-title" for="title">프로젝트 제목<span class="required-item">*</span></label>
<!--                    <input class="input-box w-100" type="text" name="title" th:id="title" th:if="${project?.title == null}"/>-->
<!--                    <input class="input-box w-100" type="text" name="title" th:id="title" th:if="${project?.title != null}" th:value="${project?.title}"/>-->
                    <input class="input-box w-100" type="text" name="title" th:id="title" th:value="${project?.title}"/>
                </div>
            </div>
            <div class="row mt-3">
                <div id="category">
                    <label class="sub-title">카테고리 선택<span class="required-item">*</span></label><br>
                    <select id="mainCategory" class="select-box" name="mainCategory">
                        <option th:value="null" th:text="선택" selected></option>
                        <th:block th:each="category : ${mainCategory}">
                            <option th:value="${category.no}" th:text="${category.name}"></option>
                        </th:block>
                    </select>
                    <span id="subCategory">
                        <!-- javacript for each -->
<!--                        <th:block th:if="">-->
<!--                            <select id="subCategoryCode" class="select-box" name="subCategory">-->
<!--                                <th:block th:each="category : ${subCategory}">-->
<!--                                    <option th:value="${category.no}" th:text="${category.name}"></option>-->
<!--                                </th:block>-->
<!--                            </select>-->
<!--                        </th:block>-->
                    </span>

                </div>
            </div>
            <br>
            <div class="row">
                <div class="row w-75 mt-3">
                    <div class="col">
                        <label th:for="startDate" class="sub-title">프로젝트 시작<span class="required-item">*</span></label>
<!--                        <input type="date" class="input-box" style="width: 100%;" th:id="startDate" name="startDate" th:if="${project?.startDate == null}"/>-->
<!--                        <input type="date" class="input-box" style="width: 100%;" th:id="startDate" name="startDate" th:if="${project?.startDate != null}" th:value="${project.startDate}" />-->
                        <input type="date" class="input-box" style="width: 100%;" th:id="startDate" name="startDate" th:value="${project?.startDate}" />
                    </div>
                    <div class="col">
                        <label th:for="endDate" class="sub-title">프로젝트 종료<span class="required-item">*</span></label>
<!--                        <input type="date" class="input-box" style="width: 100%;" th:id="endDate" name="endDate" th:if="${project?.endDate == null}"/>-->
<!--                        <input type="date" class="input-box" style="width: 100%;" th:id="endDate" name="endDate" th:if="${project?.endDate !=null}" th:value="${project.endDate}"/>-->
                        <input type="date" class="input-box" style="width: 100%;" th:id="endDate" name="endDate" th:value="${project?.endDate}"/>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div>
                    <label th:for="money" class="sub-title">펀딩 목표 금액(최소 100,000원 이상)<span class="required-item">*</span></label>
<!--                    <input type="number"  class="input-box w-100" th:id="money" name="money" th:if="${project?.targetAmount == null}"/>-->
<!--                    <input type="number"  class="input-box w-100" th:id="money" name="money" th:if="${project?.targetAmount != null}" th:value="${project.targetAmount}"/>-->
                    <input type="number"  class="input-box w-100" th:id="money" name="money" th:value="${project?.targetAmount}"/>
                </div>
            </div>
        </main>

        <!-- 하단 버튼 시작 -->
        <footer class="footer">
            <input class="footer-btn" type="button" value="이전" onclick="location.href='seller/regist/proejct1'"/>
            <input class="footer-btn" type="button" value="임시저장" onclick="projectInitRegist(true)" />
            <input class="footer-btn" type="button" value="다음" onclick="projectInitRegist(false)" />
<!--            <input class="footerBtn" type="button" value="다음" onclick="project1Confirm()" />-->
        </footer>
        <!-- 하단 버튼 끝 -->
        <script src="/js/seller/registProject.js"></script>
        <script>
            getMainCategoryCode();
            subMainCategoryCode();
        </script>
    </body>
</html>