<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/seller/fragments/registProjectFrag :: head}"></head>
<body>
<header th:replace="~{/seller/fragments/registProjectFrag :: process('','','active-process','','','','')}"></header>
        <main class="main">
            <h1 class="h1-title">상품 이미지 등록</h1>
            <div class="image-upload-list" >
                    <div>
                        <label for="presentImg" >
                            <img id="present" class="image-upload-button" src="" onerror="this.src='/images/seller/regist/imageAddButton.png'" >
                            <div class="image-upload-description">대표이미지</div>
                        </label>
                        <input id="presentImg" name="file1"type="file" style="display: none" onchange="previewImage(this)" accept="image/jpeg, image/jpg, image/png" />
                    </div>
                    <div>
                        <label for="thumbnailImg" >
                            <img id="thumbnail" class="image-upload-button" src="" onerror="this.src='/images/seller/regist/imageAddButton.png'">
                            <div class="image-upload-description">썸네일</div>
                        </label>
                        <input id="thumbnailImg" name="file2" type="file" style="display: none" onchange="previewImage(this)" accept="image/jpeg, image/jpg, image/png"/>
                    </div>
                    <div>
                        <label for="file3" >
                            <img id="imgfile0" class="image-upload-button" src="" onerror="this.src='/images/seller/regist/imageAddButton.png'">
                            <div class="image-upload-description">추가</div>
                        </label>
                        <input id="file3" name="file3" type="file" class="file" style="display: none" onchange="previewImage(this)" accept="image/jpeg, image/jpg, image/png"/>
                    </div>
                    <div>
                        <label for="file4" >
                            <img id="imgfile1" class="image-upload-button" src="" onerror="this.src='/images/seller/regist/imageAddButton.png'">
                            <div class="image-upload-description">추가</div>
                        </label>
                        <input id="file4" name="file4" type="file" style="display: none" class="file" onchange="previewImage(this)" accept="image/jpeg, image/jpg, image/png"/>
                    </div>
                    <div>
                        <label for="file5" >
                            <img id="imgfile2" class="image-upload-button" src="" onerror="this.src='/images/seller/regist/imageAddButton.png'">
                            <div class="image-upload-description">추가</div>
                        </label>
                        <input id="file5" name="file5" type="file" style="display: none" class="file" onchange="previewImage(this)" accept="image/jpeg, image/jpg, image/png"/>
                    </div>
                </div>
            </div>
            <h1 class="h1-title">상품 추가</h1>
            <div id="productList">
                    <!-- javascript -->
            </div>
            <div class="row" style="margin-top: 2em;">
                <div class="container-justify-center-w100">
                    <button id="productAdd" class="add-item" >
                        <img src="/images/seller/regist/additem.png" width="40px" height="40px" >
                    </button>
                </div>
            </div>
        </main>

        <footer class="footer">
            <input class="footer-btn" type="button" value="이전" onclick="prevPageMove(2)"/>
            <input class="footer-btn" type="button" th:value="${submitName}" onclick="registProject3(true)" />
            <input class="footer-btn" type="button" value="다음" onclick="registProject3(false)" />
        </footer>

    </body>
    <script src="/js/seller/registProject.js"></script>
    <script>
        project3LoadData();
    </script>
</html>

