<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{/seller/fragments/registProjectFrag :: head}"></h}}ead>
    <body>
    <header th:replace="~{/seller/fragments/registProjectFrag :: process('','active-process','','','','','')}"></header>
        <main class="main">
            <h1 class="h1-title">프로젝트 등록</h1>
            <div class="row mt-2">
                <div>
                    <label class="sub-title" for="title">프로젝트 제목<span class="required-item">*</span></label>
                    <input class="input-box w-100" type="text" name="title" th:id="title" th:value="${project?.title}"/>
                </div>
            </div>
            <div class="row mt-3">
                <div id="category">
                    <label class="sub-title">카테고리 선택<span class="required-item">*</span></label><br>
                    <select id="mainCategory" class="select-box" name="mainCategory">
                        <option th:value="null" th:text="선택" selected></option>
                        <th:block th:each="category : ${mainCategory}">
                            <option th:value="${category.no}" th:text="${category.name}"></option>
                        </th:block>
                    </select>
                    <span id="subCategory">
                        <!-- javascript -->
                    </span>

                </div>
            </div>
            <br>
            <div class="row">
                <div class="row w-75 mt-3">
                    <div class="col">
                        <label th:for="startDate" class="sub-title">프로젝트 시작<span class="required-item">*</span></label>
                        <input th:if="${modifyDate == true}" type="date" class="input-box" style="width: 100%;" th:id="startDate" name="startDate" th:value="${project?.startDate}" />
                        <input th:if="${modifyDate == false}" type="date" class="input-box" style="width: 100%;" th:id="startDate" name="startDate" th:value="${project?.startDate}" disabled/>
                    </div>
                    <div class="col">
                        <label th:for="endDate" class="sub-title">프로젝트 종료<span class="required-item">*</span></label>
                        <input th:if="${modifyDate == true}" type="date" class="input-box" style="width: 100%;" th:id="endDate" name="endDate" th:value="${project?.endDate}"/>
                        <input th:if="${modifyDate == false}" type="date" class="input-box" style="width: 100%;" th:id="endDate" name="endDate" th:value="${project?.endDate}" disabled/>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div>
                    <label th:for="money" class="sub-title">펀딩 목표 금액(최소 100,000원 이상)<span class="required-item">*</span></label>
                    <input type="number"  class="input-box w-100" th:id="money" name="money" th:value="${project?.targetAmount}"/>
                </div>
            </div>
        </main>

        <footer class="footer">
            <input class="footer-btn" type="button" value="이전" onclick="prevPageMove(1)"/>
            <input class="footer-btn" type="button" th:value="${submitName}" onclick="projectInitRegist(true)" th:if="${submitName == '임시저장'}" />
            <input class="footer-btn" type="button" th:value="${submitName}" onclick="projectInitRegist(false)" th:if="${submitName != '임시저장'}" />
            <input class="footer-btn" type="button" value="다음" onclick="projectInitRegist(false)" />
        </footer>
        <script src="/js/seller/registProject.js"></script>
        <script>
            getMainCategoryCode();
            subMainCategoryCode();
        </script>
    </body>
</html>