<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>후기 게시판</title>
    <link rel="stylesheet" href="../css/mainstyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
    
</head>

<body>
    <div class="board">
        <h1>나의 후기</h1>
        <div style="text-align: end;">
            <span class="btn_myreview">
                <a href="./Review.html">전체 후기보기</a>
            </span>
            <span class="btn_review">
                <a href="./ReviewWrite.html">후기쓰기</a>
            </span>
        </div>
        <div>
            <ul class="review_list">
                <div>
                    <a href="">
                        <img src="./grid.png" width="90px" height="90px">
                    </a>
                </div>
                <div style="margin-left: 20px;">
                    <a href="">
                        <li style="font-size: 14px;">
                            프로젝트명
                        </li>
                        <li style="margin-top: 5px;">
                            제목
                        </li>
                    </a>
                    <span style="display: flex;margin-top: 3px; font-size: 20px;">
                        <li style="margin-right: 10px;">
                            23-06-17
                        </li>
                        <li>
                            닉네임
                        </li>
                    </span>
                    
                </div>
                <div style="margin-left: auto;margin-top: auto; margin-bottom: auto;">
                    <button class="btn_re">수정</button>
                    <button class="btn_re">삭제</button>
                </div>
            </ul>
            <ul class="review_list">
                <div>
                    <a href="">
                        <img src="./grid.png" width="90px" height="90px">
                    </a>
                </div>
                <div style="margin-left: 20px;">
                    <a href="">
                        <li style="font-size: 14px;">
                            프로젝트명
                        </li>
                        <li style="margin-top: 5px;">
                            제목
                        </li>
                    </a>
                    <span style="display: flex;margin-top: 3px; font-size: 20px;">
                        <li style="margin-right: 10px;">
                            23-06-17
                        </li>
                        <li>
                            닉네임
                        </li>
                    </span>
                    
                </div>
                <div style="margin-left: auto;margin-top: auto; margin-bottom: auto;">
                    <button class="btn_re">수정</button>
                    <button class="btn_re">삭제</button>
                </div>
            </ul>
            <ul class="review_list">
                <div>
                    <a href="">
                        <img src="./grid.png" width="90px" height="90px">
                    </a>
                </div>
                <div style="margin-left: 20px;">
                    <a href="">
                        <li style="font-size: 14px;">
                            프로젝트명
                        </li>
                        <li style="margin-top: 5px;">
                            제목
                        </li>
                    </a>
                    <span style="display: flex;margin-top: 3px; font-size: 20px;">
                        <li style="margin-right: 10px;">
                            23-06-17
                        </li>
                        <li>
                            닉네임
                        </li>
                    </span>
                    
                </div>
                <div style="margin-left: auto;margin-top: auto; margin-bottom: auto;">
                    <button class="btn_re">수정</button>
                    <button class="btn_re">삭제</button>
                </div>
            </ul>
        </div>

        <nav style="text-align: center;">
            <div class="search_content">
                <form action="">
                    <select name="selectKeyword" id="selectKeyword">
                        <option value="pName">프로젝트명</option>
                        <option value="title">제목</option>
                        <option value="nickName">닉네임</option>
                    </select>
                    <input type="search" name="" id="select">
                    <button>검색</button>
                </form>
            </div>
            <sapn>
                1 2 3 45
            </sapn>
        </nav>
    </div>
</body>

</html>