<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>사용자 전체조회</title>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="/js/admin/adminBoard.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="/css/admin/adminmypage/adminbasicstyle.css">
  <link rel="stylesheet" href="/css/admin/adminmypage/adminmainstyle.css">
</head>

<body>
<header id="header">
  <div th:include="~{/common/fragments/header}"></div>
</header>


<!-- 상단 타이틀 : 회원관리-사용자 전체조회 -->
<div class="notice">
  <p style="text-align: right; margin-right: 1111px; padding-top: 10px; font-weight: bold; font-size: 18px;">회원관리</p>
  <p style="text-align: right; margin-right: 1080px; font-size: 14px; direction: rtl;">사용자 전체 조회</p>
</div>

<br>
<br>

<!-- 본문 : 검색창 -->
<div class="search-inquiry">
  <input type="text" placeholder="검색 할 닉네임(이메일)을 입력하세요" class="search-inquiry">
  <button type="submit" class="search-button">검색</button>
</div>

<br>
<br>
<div class="tablemargin">
  <table id="user-table">
    <thead>
    <tr>
      <th>닉네임</th>
      <th>이메일</th>
      <th>가입일자</th>
    </tr>
    </thead>
    <tbody>
    <!-- 사용자 데이터를 동적으로 표시 -->
    <tr th:each="user : ${userList}">
      <td th:text="${user.nickname}"></td>
      <td th:text="${user.email}"></td>
      <td th:text="${user.registDate}"></td>
    </tr>
    </tbody>
  </table>
</div>

<br>
<br>
<button id="load-more-btn" onclick="loadMoreUsers()" class="more1">더보기</button>

<br>
<br>
<br>

<footer>
  <div th:include="~{/common/fragments/footer}"></div>
</footer>

</body>

</html>
