<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>판매자 상품 승인 대기</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <link rel="stylesheet" href="/css/admin/itemApproval/sellerItemManaging.css">
    <script src="/js/admin/seller&itemApproval/waitingItem.js"></script>
</head>
<body>

<header id="header">
    <th:block th:include="~{/common/fragments/header}"></th:block>
</header>

<middle>
    <div class="containerbox">
        <nav class="box3">
            <ul style="border-bottom: none; border-top: none;">
                <li  class="box" style="background-color: #bea376;"><a href="">상품 승인 대기</a></li>
                <li class="box"><a onclick="href='holdingItem'">상품 승인 보류</a></li>
                <li class="box"><a onclick="href='succesItem'">상품 승인 완료</a></li>
            </ul>
        </nav>
    </div>

    <div>
        <h4 style="color: rgb(168, 164, 164); text-align: center;">상품 판매 승인을 기다리고 있습니다.</h4>
        <div th:each="seller, iterStat: ${sellerItem}">
            <div class="product">
                <div class="image-container">
                    <img src="image.jpg" alt="Product Image">
                </div>
                <div class="content-container">
                    <h3 class="seller-id" th:text="${seller.member.id}">판매자 아이디</h3>
                    <p class="itemn-content" th:text="${seller.title}">판매 제목</p>
                </div>
                <div class="button-container">
                    <button class="goButton" th:data-seller-id="${seller.member.id}" th:data-project-no="${seller.no}">판매 승인</button>
                    <button class="noButton" style="margin-right: 60px;" th:data-seller-id="${seller.member.id}" th:data-project-no="${seller.no}">판매 보류</button>
                </div>
            </div>
            <hr class="separator" th:if="${not iterStat.last}">
        </div>
    </div>
    <div class="spann"></div>

</middle>

<footer >
    <th:block th:include="~{/common/fragments/footer}"></th:block>
</footer>

<script>
    $(function(){
        $(".goButton").click(function() {
            var sellerId = $(this).attr("data-seller-id");
            console.log(sellerId);
            var projectNoString = $(this).attr("data-project-no");
            const projectNo = parseInt(projectNoString, 10);
            console.log(projectNo);
            console.log(typeof projectNo);

            // 권한 부여 Ajax 요청
            $.ajax({
                url: "/admin/itemApproval/endProgress",
                method: "GET",
                data: { "sellerId": sellerId,
                        "projectNo": projectNo
                },
                success: function(response) {
                    console.log("상품이 승인되었습니다.");
                    location.reload(); // 페이지 새로 고침
                },
                error: function(error) {
                    console.error("상품 승인에 실패했습니다.", error);
                }
            });
        });
    });
</script>

</body>
</html>