<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인페이지</title>
  <link rel="stylesheet" href="/css/member/mainpage.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
  <header id="header">
    <th:block th:include="~{/common/fragments/header}"></th:block>
    <script src="/js/main/main.js"></script>
  </header>

<middle>
  <div >
      <img style="width: 300px; height: 300px" class="product-image" src="./images/seller/sales/sales1.PNG" alt="상품사진1">
  </div>

</middle>

  <footer >
    <th:block th:include="~{/common/fragments/footer}"></th:block>
  </footer>
</body>

</html>