<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인페이지</title>
  <link rel="stylesheet" href="/css/member/mainpage.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/seller/projectItem.css">
  <link rel="stylesheet" href="/css/seller/projectListView.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
  <header id="header">
    <th:block th:include="~{/common/fragments/header}"></th:block>
    <script src="/js/main/main.js"></script>
  </header>

<middle>

    <div class="flex-center">
      <div class="project-list-sub">
<!--        <div class="menu-list-project-view">-->
<!--          <label class="main-category" onclick="initCategory()">-->
<!--            <span>전체</span>-->
<!--          </label>-->
<!--          <th:block th:each="category : ${categoryList}">-->
<!--            <label th:id="|category-${category.no}|"  class="main-category">-->
<!--              <span th:text="${category.name}"></span>-->
<!--            </label>-->
<!--          </th:block>-->
<!--        </div>-->
        <div id="subCategoryList" class="menu-list-project-view">
          <!-- javascript -->
        </div>
        <div id="project-view-list" class="container-project-list-view">
          <!--  javascript   -->
        </div>
      </div>
    </div>
  </main>

  <script src="/js/seller/projectListView.js"></script>
  <script>
    mainCategorySelect();
    categorySelect();
    salesListAjax();

    let timer;
    $(window).scroll(()=>{
      let curScrollY = window.scrollY;
      let windowHeight = window.innerHeight
      let documentHeight = document.body.scrollHeight;

      if(curScrollY + windowHeight >= documentHeight){
        if(!timer){
          timer = setTimeout(()=>{
            timer = null;
            moreItem();
          },500)
        }

      }
    })

  </script>

</middle>

  <footer >
    <th:block th:include="~{/common/fragments/footer}"></th:block>
  </footer>
</body>

</html>