<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>(사용자)공지사항 내용</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="/js/admin/adminBoard.js"></script>
    <link rel="stylesheet" th:href="@{/css/admin/adminmypage/adminbasicstyle.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminmypage/adminmainstyle.css}">

</head>
<body>

<header id="header">
    <div th:include="~{/common/fragments/header}"></div>
</header>

<div class="containerbox">
    <nav class="box3">
        <ul style="border-bottom: none; border-top: none;">
            <li class="box"><a th:href="@{/admin/user_notice/notice_fullview}">전체보기</a></li>
            <li class="box"><a th:href="@{/admin/user_notice/notice_notice}">공지사항</a></li>
            <li class="box"><a th:href="@{/admin/user_notice/notice_event}">이벤트</a></li>
            <li class="box"><a th:href="@{/admin/user_notice/notice_article}">보도자료</a></li>
        </ul>
    </nav>
</div>


<div class="notice_content">
    <br>
    <h5 style="font-weight: lighter;" th:text="${adminBoard.category}"></h5>
    <h3 th:text="${adminBoard.title}"></h3>
    <h6 style="font-weight: lighter;" th:text="${adminBoard.registDate}"></h6>
    <hr>
    <h5 th:text="${adminBoard.content}"></h5>
</div>


<footer >
    <th:block th:include="~{/common/fragments/footer}"></th:block>
</footer>



</body>
</html>