<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>공지사항_공지사항</title>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="/js/admin/adminBoard.js"></script>
  <link rel="stylesheet" th:href="@{/css/admin/adminmypage/adminbasicstyle.css}">
  <link rel="stylesheet" th:href="@{/css/admin/adminmypage/adminmainstyle.css}">

</head>
<body>

<header id="header">
  <th:block th:include="~{/common/fragments/header}"></th:block>
</header>

<div class="containerbox">
  <nav class="box3">
    <ul style="border-bottom: none; border-top: none;">
      <li class="box" style="background-color: #bea376;"><a th:href="@{/admin/user_notice/notice_fullview}">전체보기</a></li>
      <li class="box"><a th:href="@{/admin/user_notice/notice_notice}">공지사항</a></li>
      <li class="box"><a th:href="@{/admin/user_notice/notice_event}">이벤트</a></li>
      <li class="box"><a th:href="@{/admin/user_notice/notice_article}">보도자료</a></li>
    </ul>
  </nav>
</div>

<div th:each="adminBoard : ${adminBoards}" class="contents_box">
  <ul class="notice_letter">
    <div th:if="${adminBoard.category == '공지사항'}" style="border: 1px solid rgb(126, 112, 101); padding: 40px; display: flex; align-items: flex-start; background-color: #EEEDED;">
      <div>
        <p style="margin: 0;" th:text="${adminBoard.category}"></p>
        <br>
        <p style="margin: 0;" th:text="${adminBoard.title}"></p>
        <p>등록날짜 : <span th:text="${adminBoard.registDate}"></span></p>
      </div>
      <img th:src="@{/images/admin/Logo.png}" alt="로고" width="100" height="100" style="margin-left: auto;">
    </div>
    <div th:unless="${adminBoard.category == '공지사항'}" style="border: 1px solid rgb(90, 80, 71); padding: 40px; display: flex; align-items: flex-start;">
      <div>
        <p style="margin: 0;" th:text="${adminBoard.category}"></p>
        <br>
        <p style="margin: 0;" th:text="${adminBoard.title}"></p>
        <p>등록날짜 : <span th:text="${adminBoard.registDate}"></span></p>
      </div>
      <img th:src="@{/images/admin/Logo.png}" alt="로고" width="100" height="100" style="margin-left: auto;">
    </div>
  </ul>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

<footer>
  <div th:include="~{/common/fragments/footer}"></div>
</footer>

</body>
</html>
