<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>f&q_advice(도움말)</title>
  <link rel="stylesheet" href="../css/adminbasicstyle.css">
  <link rel="stylesheet" href="../css/adminmainstyle.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <script>
    function toggleDropdown(event) {
      var dropdown = document.getElementById("dropdownContent");
      dropdown.classList.toggle("slide-open");
    }

    $(document).ready(function() {
      $('#toggleBtn').click(function() {
        $('.member-list').toggleClass('active');
      });
    });

    window.addEventListener("click", function (event) {
      var dropdown = document.getElementById("dropdownContent");
      var targetElement = event.target;

      if (!targetElement.closest(".gugu") && !targetElement.closest(".slide-content")) {
        dropdown.classList.remove("slide-open");
      }
    });
  </script>
</head>

<body>


<!-- 상단 타이틀 : F&Q 도움말 -->
<div class="notice">
  <p style="text-align: right; margin-right: 1132px; padding-top: 10px; font-weight: bold; font-size: 18px;">F&Q</p>
  <p style="text-align: right; margin-right: 1134px; font-size: 14px; direction: rtl;">도움말</p>
  <hr>
  <p class="left-align">무엇을 도와드릴까요?</p>
  <br>
</div>

<br>
<br>


<!-- 본문 : 검색창 -->
<div class="search-inquiry">
  <input type="text" class="search-inquiry2" placeholder="키워드 위주로 검색해보세요">

  <button type="submit" style=" position: absolute;
        bottom: 10px;
        top: 43px;
        right: -60px;
        color: white;
        background: #cca77f;
        border: none;
        width: 70px;
        height: 35px;
        font-size: 13px;">검색</button>
</div>
</div>
<br>
<br>


<ul class="help-categories">
  <li>기본 도움말</li>
  <li>후원자 도움말</li>
  <li>기타 도움말</li>
  <li>상품/배송</li>
</ul>

<ul class="help-categories">
  <li>멤버십</li>
  <li>교환/AS</li>
  <li>취소/환불/반품</li>
  <li>서비스 이용문의</li>
</ul>
<br>
<hr>

<div class="help-container">
  <p class="help1">기본 도움말</p>
  <p class="help3">후원자 질문</p>
</div>

<div class="help-container2">
  <li class="help2">크라우드 펀딩이란?</li>
  <li class="help2">펀딩 수수료는 얼마인가요?</li>
  <li class="help2">프로젝트 후원은 무엇인가요?</li>
  <li class="help2">선물은 무엇인가요?</li>
</div>

<br>
<br>
<br>
<br>
<br>


</div>
</main>
</body>

</html>