<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="UTF-8">
  <title>공지사항 조회</title>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="/js/admin/adminBoard.js"></script>
  <link rel="stylesheet" href="/css/admin/adminmypage/adminbasicstyle.css">
  <link rel="stylesheet" href="/css/admin/adminmypage/adminmainstyle.css">
</head>
<body>

<header id="header">
  <div th:include="~{/common/fragments/header}"></div>
</header>

<div class="">
  <nav class="box3">
    <ul style="border-bottom: none; border-top: none;">
      <li class="box" th:style="${type == 'A' ? 'background-color: #bea376;':''}"><a th:href="@{/admin/user_notice/notice_view/A}">전체보기</a></li>
      <li class="box" th:style="${type == 'N' ? 'background-color: #bea376;':''}"><a th:href="@{/admin/user_notice/notice_view/N}">공지사항</a></li>
      <li class="box" th:style="${type == 'E' ? 'background-color: #bea376;':''}"><a th:href="@{/admin/user_notice/notice_view/E}">이벤트</a></li>
      <li class="box" th:style="${type == 'AT' ? 'background-color: #bea376;':''}"><a th:href="@{/admin/user_notice/notice_view/AT}">보도자료</a></li>
      <!-- 관리자 일때 공지사항 등록 버튼 보이게 -->
      <th:block sec:authorize="hasRole('ADMIN')">
        <div style="text-align: center;">
          <a th:href="@{/admin/admin_notice/notice_registration}" class="btn5" style="padding-top: 5px;">공지사항 등록</a>
        </div>
      </th:block>
    </ul>
  </nav>
</div>


<div class="contents_box" th:each="adminBoard : ${adminBoards}">
  <ul class="notice_letter">
    <div th:if="${adminBoard.category == '전체보기'}" style="border: 1px solid rgb(126, 112, 101); padding: 40px; display: flex; align-items: flex-start; background-color: #EEEDED;">
      <div>
        <p style="margin: 0; font-size: 14px;" th:text="${adminBoard.category}"></p>
        <br>
        <p style="margin: 0; font-size: 14px;" th:text="${adminBoard.classifyCode}"></p>
        <br>
        <!-- 이벤트 글일 경우 링크 추가 -->
        <p style="margin: 0; font-size: 18px; font-weight: bold;">
          <a th:href="@{/admin/user_notice/notice_content(no=${adminBoard.no})}" th:text="${adminBoard.title}"></a>
        </p>
        <p>등록날짜 : <span th:text="${adminBoard.registDate}"></span></p>
      </div>
      <img th:src="@{/images/admin/Logo.png}" alt="로고" width="100" height="100" style="margin-left: auto;">
    </div>
    <div th:unless="${adminBoard.category == '전체보기'}" style="border: 1px solid rgb(90, 80, 71); padding: 40px; display: flex; align-items: flex-start;">
      <div>
        <p style="margin: 0; font-size: 14px;" th:text="${adminBoard.category}"></p>
        <br>
        <p style="margin: 0; font-size: 14px;" th:text="${adminBoard.classifyCode}"></p>
        <br>
        <!-- 이벤트 글일 경우 링크 추가. -->
        <p style="margin: 0; font-size: 18px; font-weight: bold;">
          <a th:href="@{/admin/user_notice/notice_content(no=${adminBoard.no})}" th:text="${adminBoard.title}"></a>
        </p>
        <p>등록날짜 : <span th:text="${adminBoard.registDate}"></span></p>
      </div>
      <img th:src="@{/images/admin/Logo.png}" alt="로고" width="100" height="100" style="margin-left: auto;">
    </div>
  </ul>
</div>


<br>
<br>
<br>
<br>
<br>
<br>

<footer>
  <div th:include="~{/common/fragments/footer}"></div>
</footer>

</body>
</html>
