<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <title>공지사항 등록</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="/js/admin/adminBoard.js"></script>
    <link rel="stylesheet" th:href="@{/css/admin/adminmypage/adminbasicstyle.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminmypage/adminmainstyle.css}">
</head>
<body>

<header id="header">
    <div th:include="~{/common/fragments/header}"></div>
</header>


<div class="">
    <nav class="box3">
        <ul style="border-bottom: none; border-top: none;">
            <li class="box" th:style="${type == 'A' ? 'background-color: #bea376;':''}"><a th:href="@{/admin/user_notice/notice_view/A}">전체보기</a></li>
            <li class="box" th:style="${type == 'N' ? 'background-color: #bea376;':''}"><a th:href="@{/admin/user_notice/notice_view/N}">공지사항</a></li>
            <li class="box" th:style="${type == 'E' ? 'background-color: #bea376;':''}"><a th:href="@{/admin/user_notice/notice_view/E}">이벤트</a></li>
            <li class="box" th:style="${type == 'AT' ? 'background-color: #bea376;':''}"><a th:href="@{/admin/user_notice/notice_view/AT}">보도자료</a></li>
            <!-- 관리자 일때 공지사항 등록 버튼 보이게 -->
            <th:block sec:authorize="hasRole('ADMIN')">
                <div style="text-align: center;">
                    <a th:href="@{/admin/admin_notice/notice_registration}" class="btn5" style="padding-top: 5px;">공지사항 등록</a>
                </div>
            </th:block>
        </ul>
    </nav>
</div>

<th:block layout:fragment="content">
    <div class="registration">
        <br>
        <br>
        <h1 class="notice3">공지사항 등록</h1>
        <hr>
        <br>
        <br>
    </div>

    <form id="boardRegistForm" th:action="@{/notice/regist}" method="post">
        <table>
            <tr>
                <td class="w-px160" style="font-size: 16px;">카테고리</td>
                <td>
                    <select name="categoryCode" style="font-size: 16px;">
                        <option value="10">공지사항</option>
                        <option value="20">이벤트</option>
                        <option value="30">보도자료</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="w-px160" style="font-size: 16px;">제목</th>
                <td><input type="text" name="title" class="need" style="width: 575px;"></td>
            </tr>
            <tr>
                <th style="font-size: 16px;">내용</th>
                <td><textarea name="content" class="need" rows="10" cols="80"></textarea></td>
            </tr>
            <tr>
                <th class="w-px160" style="font-size: 16px;">파일 첨부</th>
                <td class="left">
                    <label>
                        <input type="file" name="file" id="attach-file"/>
                    </label>
                    <span id="file-name"></span>
                    <span id="delete-file" style="color: red; margin-left: 20px;"><i class="fas fa-times font-img"></i></span>
                </td>
            </tr>
        </table>
    </form>


    <div class="btnSet">
        <br>
        <button type="button" onclick="location.href='/admin/user_notice/notice_view/A'">취소</button>
        <button type="submit" onclick="save()">저장</button>
    </div>

    <script type="text/javascript" src="js/need_check.js"></script>
    <script type="text/javascript" src="js/file_attach.js"></script>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <footer>
        <div th:include="~{/common/fragments/footer}"></div>
    </footer>

</th:block>
</body>
</html>

