<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>공지사항_내용</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="/js/admin/adminBoard.js"></script>
    <link rel="stylesheet" th:href="@{/css/admin/adminmypage/adminbasicstyle.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminmypage/adminmainstyle.css}">
</head>
<body>

<header id="header">
    <div th:include="~{/common/fragments/header}"></div>
</header>

<div class="">
    <nav class="box3">
        <ul style="border-bottom: none; border-top: none;">
            <li class="box" th:style="${type == 'A' ? 'background-color: #bea376;':''}"><a th:href="@{/admin/user_notice/notice_view/A}">전체보기</a></li>
            <li class="box" th:style="${type == 'N' ? 'background-color: #bea376;':''}"><a th:href="@{/admin/user_notice/notice_view/N}">공지사항</a></li>
            <li class="box" th:style="${type == 'E' ? 'background-color: #bea376;':''}"><a th:href="@{/admin/user_notice/notice_view/E}">이벤트</a></li>
            <li class="box" th:style="${type == 'AT' ? 'background-color: #bea376;':''}"><a th:href="@{/admin/user_notice/notice_view/AT}">보도자료</a></li>
            <!-- 관리자 일때 공지사항 등록 버튼 보이게 -->
            <th:block sec:authorize="hasRole('ADMIN')">
                <div style="text-align: center;">
                    <a th:href="@{/admin/user_notice/notice_view/${type}}" class="btn5" style="padding-top: 5px;">공지사항 목록으로 돌아가기</a>
                </div>
            </th:block>
        </ul>
    </nav>
</div>

<div class="notice_content">
    <br>
    <h5 style="font-weight: lighter;" th:if="${noticeContent}" th:text="${noticeContent.category}"></h5>
    <h3 th:if="${noticeContent}" th:text="${noticeContent.title}"></h3>
    <h6 style="font-weight: lighter;" th:if="${noticeContent}" th:text="${noticeContent.registDate}"></h6>
    <hr>
    <!-- content 내용 표시 -->
    <h5 th:if="${noticeContent}" th:text="${noticeContent.content}"></h5>
</div>


<footer>
    <th:block th:include="~{/common/fragments/footer}"></th:block>
</footer>

</body>
</html>
