<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>공지사항_내용</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="/js/admin/adminBoard.js"></script>
    <link rel="stylesheet" href="/css/admin/adminmypage/adminbasicstyle.css">
    <link rel="stylesheet" href="/css/admin/adminmypage/adminmainstyle.css">





</head>

<body>
<header id="header">
    <div th:include="~{/common/fragments/header}"></div>
</header>

<div class="">
    <nav class="box3">
        <ul style="border-bottom: none; border-top: none;">
            <li class="box" th:style="${type == 'A' ? 'background-color: #bea376;':''}">
                <a th:href="@{/admin/user_notice/notice_view/A}">전체보기</a>
            </li>
            <li class="box" th:style="${type == 'N' ? 'background-color: #bea376;':''}">
                <a th:href="@{/admin/user_notice/notice_view/N}">공지사항</a>
            </li>
            <li class="box" th:style="${type == 'E' ? 'background-color: #bea376;':''}">
                <a th:href="@{/admin/user_notice/notice_view/E}">이벤트</a>
            </li>
            <li class="box" th:style="${type == 'AT' ? 'background-color: #bea376;':''}">
                <a th:href="@{/admin/user_notice/notice_view/AT}">보도자료</a>
            </li>
            <!-- 관리자 일때 공지사항 등록 버튼 보이게 -->
            <th:block sec:authorize="hasRole('ADMIN')">
                <div style="text-align: center;">
                    <a th:href="@{/admin/user_notice/notice_view/${type}}" class="btn5"
                       style="padding-top: 5px;">공지사항 목록으로 돌아가기</a>
                </div>
            </th:block>
        </ul>
    </nav>
</div>
<!--<div class="notice-content">-->
    <br>
    <h5 style="font-weight: lighter;" th:if="${noticeContent}" th:text="${noticeContent.category}"></h5>
    <h6 style="font-weight: lighter;" th:if="${noticeContent}" th:text="${noticeContent.registDate}"></h6>
    <hr>
    <!-- content 내용 표시 -->
<div class="notice-content" th:if="${noticeContent}">
    <div class="notice-category">
        <h6 style="font-weight: lighter; font-size: 12px;" th:text="${noticeContent.category}"></h6>
    </div>
    <div class="notice-title">
        <h3 th:text="${noticeContent.title}"></h3>
    </div>
    <div class="notice-date">
        <h6 style="font-weight: lighter; font-size: 12px;" th:text="${noticeContent.registDate}"></h6>
    </div>
    <hr>
    <div class="notice-content-text">
        <div th:utext="${noticeContent.content}"></div>
    </div>
</div>



<!-- 수정 및 삭제 버튼 -->
    <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
        <a th:href="@{/admin/user_notice/notice_edit(no=${noticeContent.no})}" class="btn">수정</a>
        <a href="javascript:void(0);" onclick="deleteNotice(/*[[${noticeContent.no}]]*/)" class="btn">삭제</a>
    </div>
</div>

<!-- 자바스크립트 코드 -->
<script>
    // 수정 버튼 클릭 시
    function editNotice(no) {
        // 해당 공지사항의 수정 페이지로 이동하는 로직 구현
        window.location.href = "/admin/user_notice/notice_edit?no=" + no;
    }

    // 삭제 버튼 클릭 시
    function deleteNotice(no) {
        // AJAX를 사용하여 공지사항 삭제 요청을 서버로 보냅니다.
        $.ajax({
            url: "/delete",  // 경로 수정
            type: "POST",
            data: {no: no},
            success: function (response) {
                alert('삭제되었습니다.');
                window.location.href = "/admin/user_notice/notice_view/A"; // 경로 수정
            },
            error: function (xhr, status, error) {
                console.log("삭제에 실패 하였습니다.: " + error);
            }
        });

    }
</script>


<footer>
    <div th:include="~{/common/fragments/footer}"></div>
</footer>

</body>

</html>