nav ul {
    list-style: none;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

nav ul li {
    display: inline;
    letter-spacing: 0.3em;
    margin-left: 2em;
}

.gugu {
    background-color: white;
    border: none;
    letter-spacing: 0.3em;
    margin-left: 2em;
    line-height: 3em;
    text-transform: uppercase;
}

.gugu a {
    color: black;
    text-decoration: none;
}

/* 왼쪽 사이드 메뉴 */
aside#left {
    float: left;
    width: 10em;
    margin-right: 1em;
}

aside#left ul {
    list-style: none;
    padding: 0;
}

aside#left ul li {
    background-color: #f9dfbb;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

aside#left ul li a {
    display: block;
    color: black;
    text-decoration: none;
}

aside#main {
    float: left;
}

/* footer영역 */
footer {
    clear: both;
    background-color: #5b4612;
    color: white;
    padding: 1em 0px;
}

.right {
    color: white;
    text-align: right;
}

.search {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.search input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
}

#logo {
    text-align: center;
    width: 50%;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: grid;
    grid-template-columns: 200px 200px auto;
}

.container2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    padding-right: 20px;
}

.guide {
    padding: 10px;
}

.call {
    text-align: center;
    margin: 0%;
}

footer a {
    text-decoration: none;
    color: white;
}

/* 카테고리 드롭다운 */
.slide-content {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -250px;
    background-color: #F9DFBB;
    top: 0;
    width: 250px;
    height: 100vh;
    transition: left 0.3s ease;
}

.slide-open {
    left: 0px;
}

.slide-content a {
    font-size: 20px;
    margin-top: 4%;
    background-color: #F9DFBB;
    color: #884A3B !important;
    text-decoration: none;
    margin-top: 10px;
}

.slide-content a:hover {
    background-color: #C49A6C;
    text-decoration: underline;
}


.main-category {
    font-weight: bold;
    font-size: 20px;
}

/* 관리자 로그인  */
.adminLogin {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: 15px;
}

.adminLogin button {
    font-size: 10px;
    width: 70px;
    height: 30px;
    margin-top: 18px;
    margin-left: 10px;
    color: white;
    background: #cca77f;
    border: none;
}

/* 계정잠금화면 css */
.alert-box {
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    width: 350px;
    height: 350px;
    margin: 0 auto;
}

.alert-message {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 140px;

}

.logo1 {

    text-align: center;


}

.confirm-button {
    font-size: 10px;
    width: 70px;
    height: 30px;
    margin-top: 18px;
    margin-left: 10px;
    color: white;
    background: #cca77f;
    border: none;
}

