<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>펀딩 순위</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <link rel="stylesheet" href="/css/admin/adminCategory/fundingRanking.css">
</head>
<body>

<header id="header">
    <th:block th:include="~{/common/fragments/header}"></th:block>
</header>

<middle>
    <h1 style="text-align: center; padding-top: 50px">현재 펀딩 순위</h1>
    <div class="product">
        <div class="item item_1">
            <a href="1등 상품">1등 상품</a>
        </div>
        <div class="item item_2">
            <a href="2등 상품">2등 상품</a>
        </div>
        <div class="item item_3">
            <a href="3등 상품">3등 상품</a>
        </div>
        <div class="item item_4">
            <a href="4등 상품">4등 상품</a>
        </div>
        <div class="item item_5">
            <a href="5등 상품">5등 상품</a>
        </div>
        <div class="item item_6">
            <a href="6등 상품">6등 상품</a>
        </div>
        <div class="item item_7">
            <a href="7등 상품">7등 상품</a>
        </div>
        <div class="item item_8">
            <a href="8등 상품">8등 상품</a>
        </div>
        <div class="item item_9">
            <a href="9등 상품">9등 상품</a>
        </div>
    </div>
    <div>
        <ul class="pagenation">
            <li><a href=#><</a></li>
            <li><a href=#>1</a></li>
            <li><a href=#>2</a></li>
            <li><a href=#>3</a></li>
            <li><a href=#>4</a></li>
            <li><a href=#>5</a></li>
            <li><a href=#>></a></li>
        </ul>
    </div>
</middle>

<footer >
    <th:block th:include="~{/common/fragments/footer}"></th:block>
</footer>

</body>
</html>