<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>제안 받기</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <link rel="stylesheet" href="/css/admin/adminCategory/gettingProposals.css">
</head>
<body>
<middle>
    <h1 style="text-align: center;">요청 받은 제안입니다.</h1>

    <div class="product">
        <div class="image-container">
            <img src="image.jpg" alt="Product Image">
        </div>
        <div class="content-container">
            <h3 class="seller-name">제안 제목</h3>
            <p class="sale-description">제안 내용</p>
        </div>
        <button class="buttonAlarm">확인 메세지 보내기</button>
    </div>

    <div class="product">
        <div class="image-container">
            <img src="image.jpg" alt="Product Image">
        </div>
        <div class="content-container">
            <h3 class="seller-name">제안 제목</h3>
            <p class="sale-description">제안 내용</p>
        </div>
        <button class="buttonAlarm">확인 메세지 보내기</button>
    </div>

    <div class="product">
        <div class="image-container">
            <img src="image.jpg" alt="Product Image">
        </div>
        <div class="content-container">
            <h3 class="seller-name">제안 제목</h3>
            <p class="sale-description">제안 내용</p>
        </div>
        <button class="buttonAlarm">확인 메세지 보내기</button>
    </div>

    <div class="product">
        <div class="image-container">
            <img src="image.jpg" alt="Product Image">
        </div>
        <div class="content-container">
            <h3 class="seller-name">제안 제목</h3>
            <p class="sale-description">제안 내용</p>
        </div>
        <button class="buttonAlarm">확인 메세지 보내기</button>
    </div>

    <div class="product">
        <div class="image-container">
            <img src="image.jpg" alt="Product Image">
        </div>
        <div class="content-container">
            <h3 class="seller-name">제안 제목</h3>
            <p class="sale-description">제안 내용</p>
        </div>
        <button class="buttonAlarm">확인 메세지 보내기</button>
    </div>



    <!-- pagenation start -->
    <div>
        <ul class="pagenation">
            <li><a href=#><</a></li>
            <li><a href=#>1</a></li>
            <li><a href=#>2</a></li>
            <li><a href=#>3</a></li>
            <li><a href=#>4</a></li>
            <li><a href=#>5</a></li>
            <li><a href=#>></a></li>
        </ul>
    </div>
</middle>
</body>
</html>