<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../../resources/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <script src="../../resources/jqeury/jquery-3.7.0.min.js"></script>
</head>
<body>
<nav class="cus-nav">
    <div style="text-align: center;">
        <img src="../../static/image/Logo.png" width="150px" style="margin-top: 30px; margin-bottom: 30px;">
    </div>
    <h2>판매자 페이지</h2>
    <br>
    <!-- menu-none-visible 스위치 -->
    <ul class="menu-list">
        <h5><a href="../createProject/index.html" target="_blank">프로젝트 등록</a></h5>
    </ul>
    <ul class="menu-list">
        <h5>프로젝트 관리 <span>▼▲</span></h5>
        <div class="menu-visible ">
            <li id="cusAllMenu" ><a href="./cus_index.html">전체 조회</a></li>
            <li id="cusScreenMenu"><a href="./cus_index.html">심사중</a></li>
            <li id="cusOngoMenu"><a href="./cus_index.html">진행중</a></li>
            <li id="cusRefuseMenu"><a href="./cus_index.html">반려</a></li>
            <li id="cusCancleMenu"><a href="./cus_index.html">취소</a></li>
        </div>
    </ul>
    <ul class="menu-list">
        <h5>주문관리 <span>▼▲</span></h5>
        <div class="menu-visible ">
            <li><a href="./1_판매자페이지_주문관리_전체내역.html" class="active-page">전체조회</a></li>
            <li><a a href="./2_판매자페이지_주문관리_주문접수.html">주문접수</a></li>
            <li><a href="./3_판매자페이지_주문관리_배송처리.html">배송처리</a></li>
            <li><a href="./4_판매자페이지_주문관리_교환환불.html">교환환불</a></li>
            <li><a href="./5_판매자페이지_주문관리_취소내역.html">취소내역</a></li>
            <li><a href="./6_판매자페이지_주문관리_주문정보.html">주문정보</a></li>
        </div>
    </ul>
    <ul class="menu-list">
        <h5>Q / A <span>▼▲</span></h5>
        <div class="menu-visible">
            <li id="qaAllMenu"><a href="./qa_index.html">전체조회</a></li>
            <li id="qaWaitMenu"><a href="./qa_index.html">답변 대기중</a></li>
            <li id="qaCompleteMenu"><a href="./qa_index.html">답변 완료</a></li>
        </div>
    </ul>
</nav>
<main>
    <div class="main">
        <div class="main-header">
            <div>
                <h1 class="h1-title">주문관리 - 전체조회</h1>
            </div>
            <div>
                <h5><span>판매자</span>님 환영합니다.</h5>
            </div>
        </div>
        <div class="nav-list-area">
            <table id="cusMenu" class="w-100 list-nav mt-5">
                <tr class="row">
                    <td class="col active-page">전체조회</td>
                    <td class="col">주문접수</td>
                    <td class="col">배송처리</td>
                    <td class="col">교환환불</td>
                    <td class="col">취소내역</td>
                    <td class="col">주문정보</td>
                    <th class="col-4">
                        <div class="row col">
                            <input type="text" class="search-bar col" placeholder="주문자명 검색">
                            <button class="search-btn col ms-2 me-2">검색</button>
                        </div>
                    </th>
                </tr>
            </table>
        </div>
        <!-- 테이블 시작 -->
        <table class="cus-table table-font">
            <label style="margin-right: 10px;">프로젝트명</label>
            <select style="width: 300px;">
                <option value="">장애인-비장애인 누구나 입는 '유니버셜' 의류</option>
            </select>
            <thead>
            <tr>
                <th>#</th>
                <td>주문자</td>
                <td>배송지</td>
                <td>요청사항</td>
                <td>연락처</td>
                <td>구매옵션</td>
                <td>결제금액(원)</td>
                <td>결제수단</td>
                <td>주문일자</td>
                <td>배송상태</td>

            </tr>
            </thead>
            <tbody id="customerOrderList">
            <!-- 반복 구간 -->
            </tbody>
        </table>
        <!-- cus-page start -->
        <div>
            <ul class="cus-page">
                <li><a href=#><</a></li>
                <li><a href=#>1</a></li>
                <li><a href=#>2</a></li>
                <li><a href=#>3</a></li>
                <li><a href=#>4</a></li>
                <li><a href=#>5</a></li>
                <li><a href=#>></a></li>
            </ul>
        </div>
        <!-- cus-page end -->
        <!-- 테이블 종료 -->
    </div>
</main>
<script src="customerPage.js"></script>
<script>customerOrderList()</script>
</body>
</html>