<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ht="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/member/mainstyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <!--    <script src="/js/member/signUp.js"></script>-->
</head>

<body>
<div class="logo">
    <a href="/">

        <img src="/images/member/logo.png" alt="">
    </a>
</div>
<div class="content">
    <h2 class="signup_h2">회원정보입력</h2>
    <form th:action="@{/member/signup/signUpInfo}" method="post">
        <label for="id">아이디</label>
        <span class="condition">영문또는 숫자를 혼합하여 5자~20자로 입력해주세요.</span>
        <div class="signup_info">
            <input type="text" name="id" id="id" placeholder="아이디" required onchange="idReg()">
        </div>

        <label for="nickName">닉네임</label>
        <span class="condition">한글로 2자~8자 입력해주세요.</span>
        <div class="signup_info">
            <input type="text" name="nickname" id="nickname" placeholder="닉네임" required th:onchange="nickReg()">
        </div>

        <label for="pwd">비밀번호</label>
        <span class="condition">영문,숫자 혼합하여 8자~15자로 입렬해주세요</span>
        <div class="signup_info">
            <input type="password" name="pwd" id="pwd" placeholder="비밀번호" required th:onchange="pwdReg()">
        </div>

        <label for="name">이름</label>
        <div class="signup_info">
            <input type="text" name="name" id="name" placeholder="이름" required th:onchange="nameReg()">
        </div>

        <label for="phone">휴대전화번호</label>
        <span class="condition">'-'을 포함하여 숫자로 입력해주세요</span>
        <div class="signup_info">
            <input type="tel" name="phone" id="phone" placeholder="휴대전화번호" required th:onchange="phoneReg()">
        </div>

        <label for="birth">생년월일</label>
        <span class="condition">생년월일은 8자리 숫자로 입력해주세요.</span>
        <div class="signup_info">
            <input type="text" name="birth" id="birth" placeholder="생년월일 8자리" required th:onchange="birthReg()">
        </div>

        <label for="email">이메일</label>
        <div class="signup_info">
            <input type="email" name="email" id="email" placeholder="이메일 입력" th:onchange="emailReg()">
            <button type="button">전송</button>
        </div>

        <label>인증번호</label>
        <div class="signup_info">
            <input type="text" name="emailNum" placeholder="인증번호" id="emailNum">
            <button type="button">확인</button>
        </div>

        <div class="container_button">
            <button type="submit" id="signupBtn" class="btn_submit">가입</button>
        </div>
    </form>
</div>

<script>
    // id중복 및 유효성 검사
    function idReg() {
        const id = $("#id").val();
        let idCheck = /^[a-zA-Z0-9/]{5,20}$/;
        if (!idCheck.test(id)) {
            alert("아이디는 영문또는 숫자로 5자~20자로 입력해주세요.")
            $("#id").val('');
            $("#id").focus();
        } else {
            $.ajax({
                url: "/member/idDupCheck",
                type: "post",
                data: {id: id},
                success: function (data) {
                    alert(data)
                    if (data == '중복된 아이디가 있습니다') {
                        $('#id').val('');
                        $("#id").focus();
                    }
                },
                error: function (error) {
                    alert(error)
                }
            });
        }
    }
    function nickReg() {
        const nickname = $("#nickname").val();
        let nickCheck = /^[가-힣]{2,8}$/;
        if (!nickCheck.test(nickname)) {
            alert("닉네임은 한글로 2~8자로 입력해주세요.")
            $("#nickname").val('');
            $("#nickname").focus();
        }else{
            $.ajax({
                url: "/member/nickDupCheck",
                type: "post",
                data: {nickname: nickname},
                success: function (data) {
                    alert(data)
                    if (data == '중복된 닉네임 있습니다') {
                        $('#nickname').val('');
                        $("#nickname").focus();
                    }
                },
                error: function (error) {
                    alert(error)
                }
            });
        }
    }
    function  pwdReg(){
        const pwd = $('#pwd').val();
        let pwdCheck = /^[0-9a-zA-Z]{8,15}$/;
        if(!pwdCheck.test(pwd)){
            alert('비밀번호는 영문,숫자 혼합하여 8자~15자로 입력해주세요')
            $('#pwd').val('');
            $('#pwd').focus();
        }else{
            alert('사용가능한 비밀번호 입니다.');
        }
    }
    function nameReg(){
        const name = $('#name').val();
        let nameCheck = /^[가-힣]{2,4}$/;
        if(!nameCheck.test(name)){
            alert('이름을 다시 입력해주세요.')
            $('#name').val('');
            $('#name').focus();
        }
    }
    function phoneReg(){
        const phone = $('#phone').val();
        let phoneCheck = /^\d{2,3}-\d{3,4}-\d{4}$/;
        if(!phoneCheck.test(phone)){
            alert('전화번호를 다시 입력해주세요.')
            $('#phone').val('');
            $('#phone').focus();
        }
    }

    function birthReg(){
        const birth = $('#birth').val();
        let birthCheck = /^(19[0-9][0-9]|20\d{2})(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])$/;
        if(!birthCheck.test(birth)){
            alert('다시 입력해주세요.')
            $('#birth').val('');
            $('#birth').focus();
        }
    }
</script>
</body>
</html>