<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/mainstyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
    
</head>

<body>
    <div class="logo">
        <a href="../index.html">

            <img src="../img/logo.png" alt="">
        </a>
    </div>
    <div class="content">
    <p class="sign_con">
        사용자님<br>
        가입을 축하드려요
    </p>
        <div class="container_button">
            <div><a href="../signin/signin.html">
                    <button class="ok_button" id="button1">로그인 하기</button>
                </a>
            </div>
            <div>
                <a href="../index.html">
                    <button class="ok_button">홈 화면 가기 하기</button></a>
            </div>
        </div>
</div>
</body>

</html>