@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Noto Sans KR', sans-serif;
}

/* 선택지 박스 */
.box {
    width: 500px;
    height: 300px;
    text-align: center;
    align-items: center;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column; /* 추가 */
    justify-content: center;
}
.box:hover {
    background-color: #FFC16F;
}

.box a {
    text-decoration: none !important;
    color: black;
}

.box button {
    margin-top: -10px; /* 버튼과 텍스트 사이의 간격 조정을 위해 추가 */
}

/*버튼 css*/
.notification {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    text-align: center;
    width: 650px;
    height: 150px;
}

.notification h3 {
    margin-top: 0;
}

.notification .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.select {
    padding: 10px 20px;
    background-color: #D9D9D9;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.select:hover {
    background-color: #5B4612;
}