<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idle.osmas.seller.dao.ProductMapper">
    <resultMap id="productListResultMap" type="com.idle.osmas.seller.dto.ProductDTO">
        <id property="no" column="TBL_PRODUCT_NO"/>
        <result property="name" column="TBL_PRODUCT_NAME"/>
        <result property="introduction" column="TBL_PRODUCT_INTRODUCTION"/>
        <result property="price" column="TBL_PRODUCT_PRICE"/>
        <result property="maxQuantity" column="TBL_PRODUCT_MAX_QUANTITY"/>
        <result property="status" column="TBL_PRODUCT_STATUS"/>
        <result property="size" column="TBL_PRODUCT_PRODUCT_SIZE"/>
        <result property="count" column="TBL_PRODUCT_COUNT"/>
    </resultMap>

    <select id="selectProductListCountByProjectNo" resultType="_int">
        SELECT COUNT(TPPL.NO)
          FROM TBL_PRJ_PRODUCT_LIST TPPL
         WHERE TPPL.REF_PRJ_NO = #{projectNo}
    </select>

    <select id="selectProductListByProjectNo" resultMap="productListResultMap">
        SELECT TP.NO AS TBL_PRODUCT_NO,
               TP.NAME AS TBL_PRODUCT_NAME,
               TP.INTRODUCTION AS TBL_PRODUCT_INTRODUCTION,
               TP.PRICE AS TBL_PRODUCT_PRICE,
               TP.MAX_QUANTITY AS TBL_PRODUCT_MAX_QUANTITY,
               TP.STATUS AS TBL_PRODUCT_STATUS,
               TP.PRODUCT_SIZE AS TBL_PRODUCT_PRODUCT_SIZE
          FROM TBL_PRODUCT TP
          JOIN TBL_PRJ_PRODUCT_LIST TPPL ON TPPL.REF_PRODUCT_NO = TP.NO
         WHERE REF_PRJ_NO = ${projectNo}
         ORDER BY TP.NO ASC
    </select>

<!--    <select id="selectSponsoredPrjByProjectNo" resultMap="productListResultMap">-->
<!--        SELECT TPRO.NO AS TBL_PRODUCT_NO,-->
<!--               TPRO.NAME AS TBL_PRODUCT_NAME,-->
<!--               TPRO.PRICE AS TBL_PRODUCT_PRICE,-->
<!--               TPRO.MAX_QUANTITY AS TBL_PRODUCT_MAX_QUANTITY,-->
<!--               TPRO.STATUS AS TBL_PRODUCT_STATUS,-->
<!--               TPRO.PRODUCT_SIZE AS TBL_PRODUCT_PRODUCT_SIZE,-->
<!--               NVL(TSP.AMOUNT,0) AS TBL_PRODUCT_COUNT-->
<!--          FROM TBL_PRJ_PRODUCT_LIST TPPL-->
<!--          JOIN TBL_PRODUCT TPRO ON TPRO.NO = TPPL.REF_PRODUCT_NO-->
<!--          LEFT JOIN (SELECT TSP.REF_PRJ_PRODUCT_LIST_NO,-->
<!--                            SUM(TSP.AMOUNT) AS AMOUNT-->
<!--                       FROM TBL_SHIPPING_TRACK_INFO TSTI-->
<!--                       JOIN (SELECT TDS2.REF_SHIPPING_TRACK_INFO_NO-->
<!--                               FROM TBL_DELIVERY_STATUS TDS2-->
<!--                              WHERE STATUS = 'COMPLETED'-->
<!--                            ) TDS ON TDS.REF_SHIPPING_TRACK_INFO_NO = TSTI.NO-->
<!--                       JOIN TBL_PAYMENT TP ON TP.CODE = TSTI.REF_PAYMENT_NO-->
<!--                       JOIN TBL_PAYMENT_HISTORY TPH ON TPH.REF_PAYMENT_NO = TP.CODE-->
<!--                       JOIN TBL_SPONSORED_PRJ TSP ON TSP.NO = TPH.REF_SPONSORED_PRJ_NO-->
<!--                      GROUP BY TSP.REF_PRJ_PRODUCT_LIST_NO-->
<!--               ) TSP ON TSP.REF_PRJ_PRODUCT_LIST_NO = TPRO.NO-->
<!--          JOIN TBL_PRJ PRJ ON PRJ.NO = TPPL.REF_PRJ_NO-->
<!--         WHERE TPPL.REF_PRJ_NO = #{projectNo}-->
<!--           AND PRJ.REF_MEMBER_NO = #{userNo}-->
<!--    </select>-->
    <select id="selectSponsoredPrjByProjectNo" resultMap="productListResultMap">
        SELECT TPRO.NO AS TBL_PRODUCT_NO,
               TPRO.NAME AS TBL_PRODUCT_NAME,
               TPRO.PRICE AS TBL_PRODUCT_PRICE,
               TPRO.MAX_QUANTITY AS TBL_PRODUCT_MAX_QUANTITY,
               TPRO.STATUS AS TBL_PRODUCT_STATUS,
               TPRO.PRODUCT_SIZE AS TBL_PRODUCT_PRODUCT_SIZE,
               NVL(TSP.AMOUNT,0) AS TBL_PRODUCT_COUNT
        FROM TBL_PRJ_PRODUCT_LIST TPPL
                 JOIN TBL_PRODUCT TPRO ON TPRO.NO = TPPL.REF_PRODUCT_NO
                 LEFT JOIN (SELECT TPPL.NO ,SUM(TP.AMOUNT), count(*) AS AMOUNT
                            FROM TBL_PRJ PRJ
                                     JOIN TBL_PRJ_PRODUCT_LIST TPPL ON TPPL.REF_PRJ_NO = PRJ.NO
                                     JOIN TBL_SPONSORED_PRJ TSP ON TSP.REF_PRJ_PRODUCT_LIST_NO = TPPL.NO
                                     JOIN TBL_PAYMENT_HISTORY TPH  ON TPH.REF_SPONSORED_PRJ_NO = TSP.NO
                                     JOIN TBL_PAYMENT TP ON TP.CODE = TPH.REF_PAYMENT_NO
                            WHERE TP.STATUS = 'APPROVAL'
                            GROUP BY TPPL.NO
        ) TSP ON TSP.NO = TPRO.NO
                 JOIN TBL_PRJ PRJ ON PRJ.NO = TPPL.REF_PRJ_NO
        WHERE TPPL.REF_PRJ_NO = #{projectNo}
          AND PRJ.REF_MEMBER_NO = #{userNo}
    </select>

<!--    <select id="selectSponsoredPrjByProjectNo" resultMap="productListResultMap">-->
<!--        SELECT TP.NO AS TBL_PRODUCT_NO,-->
<!--               NAME AS TBL_PRODUCT_NAME,-->
<!--               PRICE AS TBL_PRODUCT_PRICE,-->
<!--               MAX_QUANTITY AS TBL_PRODUCT_MAX_QUANTITY,-->
<!--               STATUS AS TBL_PRODUCT_STATUS,-->
<!--               PRODUCT_SIZE AS TBL_PRODUCT_PRODUCT_SIZE,-->
<!--               NVL(COUNT,0) AS TBL_PRODUCT_COUNT-->
<!--        FROM (SELECT TSP.REF_PRJ_PRODUCT_LIST_NO,-->
<!--                     count(*) AS COUNT-->
<!--              FROM TBL_SPONSORED_PRJ TSP-->
<!--                       JOIN TBL_PRJ_PRODUCT_LIST TPPL ON TPPL.NO = TSP.REF_PRJ_PRODUCT_LIST_NO-->
<!--              GROUP BY TSP.REF_PRJ_PRODUCT_LIST_NO) TJ-->
<!--                 RIGHT JOIN TBL_PRJ_PRODUCT_LIST TPPL2 ON TPPL2.NO = TJ.REF_PRJ_PRODUCT_LIST_NO-->
<!--                 RIGHT JOIN TBL_PRJ PRJ ON PRJ.NO = TPPL2.REF_PRJ_NO-->
<!--                 JOIN TBL_PRODUCT TP ON TP.NO = TPPL2.REF_PRODUCT_NO-->
<!--        WHERE PRJ.NO = #{projectNo}-->
<!--          AND PRJ.REF_MEMBER_NO = #{userNo}-->
<!--    </select>-->
    
    
    <insert id="insertProjectProduct" parameterType="com.idle.osmas.seller.dto.ProductDTO">
        DECLARE
          BEGIN
        <foreach collection="list" item="product">
                INSERT INTO TBL_PRODUCT TP
                (TP.NO, TP.NAME, TP.INTRODUCTION,
                TP.PRICE, TP.MAX_QUANTITY, TP.STATUS,
                TP.PRODUCT_SIZE)
                VALUES
                (SEQ_TBL_PRODUCT_NO.nextval, '${product.name}', '${product.introduction}',
                ${product.price}, ${product.maxQuantity}, '${product.status}',
                '${product.size}');

                INSERT INTO TBL_PRJ_PRODUCT_LIST TPPL
                (TPPL.NO, TPPL.REF_PRJ_NO, TPPL.REF_PRODUCT_NO)
                VALUES
                (SEQ_TBL_PRJ_PRODUCT_LIST_NO.nextval, #{product.refProjectNo}, SEQ_TBL_PRODUCT_NO.currval);
        </foreach>
            END;

    </insert>
    
    <update id="updateProjectProduct" parameterType="com.idle.osmas.seller.dto.ProductDTO">
        DECLARE
          BEGIN
        <foreach collection="list" item="product">
                UPDATE TBL_PRODUCT TP
                   SET TP.NAME = '${product.name}',
                       TP.INTRODUCTION = '${product.introduction}',
                       TP.PRICE = ${product.price},
                       TP.MAX_QUANTITY =${product.maxQuantity},
                       TP.STATUS = '${product.status}',
                       TP.PRODUCT_SIZE ='${product.size}'
                 WHERE TP.NO = ${product.no};
        </foreach>
            END;
    </update>

    <delete id="deleteProjectProductList" parameterType="_int">
        DELETE TBL_PRJ_PRODUCT_LIST TPPL
         WHERE TPPL.REF_PRODUCT_NO = #{productNo}
    </delete>

    <delete id="deleteProductListByProjectNo" parameterType="_int">
        DELETE TBL_PRJ_PRODUCT_LIST TPPL
         WHERE TPPL.REF_PRJ_NO = #{projectNo}
    </delete>
    <delete id="deleteProductByProductNo" parameterType="_int">
        DELETE TBL_PRODUCT TP
         WHERE TP.NO = #{productNo}
    </delete>
</mapper>