<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idle.osmas.seller.dao.ProjectFAQMapper">

    <resultMap id="projectFAQResultMap" type="com.idle.osmas.seller.dto.ProjectFAQDTO">
        <id property="no" column="TBL_PRJ_FAQ_NO"/>
        <result property="projectNo" column="TBL_PRJ_FAQ_REF_PRJ_NO"/>
        <result property="title" column="TBL_PRJ_FAQ_TITLE"/>
        <result property="content" column="TBL_PRJ_FAQ_CONTENT"/>
        <result property="registDate" column="TBL_PRJ_FAQ_REGIST_DATE"/>
    </resultMap>

    <select id="selectProjectFaqByProjectNo" resultMap="projectFAQResultMap">
        SELECT TPF.NO AS TBL_PRJ_FAQ_NO,
               TPF.REF_PRJ_NO AS TBL_PRJ_FAQ_REF_PRJ_NO,
               TPF.TITLE AS TBL_PRJ_FAQ_TITLE,
               TPF.CONTENT AS TBL_PRJ_FAQ_CONTENT,
               TPF.REGIST_DATE AS TBL_PRJ_FAQ_REGIST_DATE
          FROM TBL_PRJ_FAQ TPF
          JOIN TBL_PRJ PRJ ON PRJ.NO = TPF.REF_PRJ_NO
         WHERE TPF.REF_PRJ_NO = #{projectNo}
           AND PRJ.REF_MEMBER_NO = #{userNo}
    </select>

    <insert id="insertProjectFAQ" parameterType="com.idle.osmas.seller.dto.ProjectFAQDTO">
        DECLARE
          BEGIN
        <foreach collection="list" item="projectFaq">
                INSERT INTO TBL_PRJ_FAQ TPF
                (TPF.NO, TPF.REF_PRJ_NO, TPF.TITLE,
                 TPF.CONTENT, TPF.REGIST_DATE)
                VALUES
                    (SEQ_TBL_PRJ_FAQ_NO.nextval, #{projectFaq.projectNo}, #{projectFaq.title},
                     #{projectFaq.content}, SYSDATE);
        </foreach>
        end;
    </insert>

    <update id="updateProjectFAQ" parameterType="com.idle.osmas.seller.dto.ProjectFAQDTO">
        DECLARE
          BEGIN
            <foreach collection="list" item="projectFaq">
                UPDATE TBL_PRJ_FAQ TPF
                   SET TPF.CONTENT = #{projectFaq.content},
                       TPF.TITLE = #{projectFaq.title}
                 WHERE TPF.NO = ${projectFaq.no};
            </foreach>
           END;
    </update>

    <delete id="deleteProjectFAQ" parameterType="_int">
        DELETE TBL_PRJ_FAQ
         WHERE NO = #{no}
    </delete>

    <delete id="deleteProjectFaqByProjectNo">
        DELETE TBL_PRJ_FAQ TPF
         WHERE TPF.REF_PRJ_NO = #{projectNo}
    </delete>
</mapper>