<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idle.osmas.seller.dao.RegistProjectMapper">
    <select id="selectMemberNoById" parameterType="com.idle.osmas.member.dto.MemberDTO" resultType="_int">
        SELECT TM.NO
          FROM TBL_MEMBER TM
         WHERE TM.ID = #{id}
    </select>
</mapper>

