<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idle.osmas.seller.dao.SalesMapper">
    <resultMap type="com.idle.osmas.seller.dto.SalesDTO" id="salesResultMap">
        <id property="no" column="NO"/>
        <result property="title" column="TITLE"/>
        <result property="content" column="CONTENT"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="startDate" column="START_DATE"/>
        <result property="endDate" column="END_DATE"/>
        <result property="targetAmount" column="TARGET_AMOUNT"/>
        <result property="currentAmount" column="CURRENT_AMOUNT"/>
        <result property="views" column="VIEWS"/>
        <result property="refMemberNo" column="REF_MEMBER_NO"/>
        <result property="refCategoryNo" column="REF_CATEGORY_NO"/>
    </resultMap>

    <resultMap type="com.idle.osmas.seller.dto.CategoryDTO" id="categoryResultMap">
        <id property="no" column="NO"/>
        <result property="subNo" column="SUB_NO"/>
        <result property="name" column="NAME"/>
    </resultMap>

    <resultMap type="com.idle.osmas.seller.dto.OptionDTO" id="optionResultMap">
        <id property="no" column="NO"/>
        <result property="name" column="NAME"/>
        <result property="introduction" column="INTRODUCTION"/>
        <result property="price" column="PRICE"/>
        <result property="maxQuantity" column="MAX_QUANTITY"/>
        <result property="status" column="STATUS"/>
        <result property="productSize" column="PRODUCT_SIZE"/>
    </resultMap>

    <resultMap type="com.idle.osmas.seller.dto.SellerRollDTO" id="sellerRollResultMap">
        <id property="memberNo" column="REF_MEMBER_NO"/>
        <result property="accountNo" column="ACCOUNT_NO"/>
        <result property="registNo" column="REGIST_NO"/>
        <result property="name" column="NAME"/>
        <result property="callNumber" column="CALL_NUMBER"/>
        <result property="rprsn" column="RPRSN"/>
        <result property="address" column="ADDRESS"/>
        <result property="bank" column="BANK"/>
        <result property="reportNo" column="REPORT_NO"/>
    </resultMap>

    <resultMap type="com.idle.osmas.seller.dto.QnaDTO" id="qnaResultMap">
        <id property="no" column="NO"/>
        <result property="content" column="CONTENT"/>
        <result property="refMemberNo" column="REF_MEMBER_NO"/>
        <result property="refPrjNo" column="REF_PRJ_NO"/>
        <result property="registDate" column="REGIST_DATE"/>
        <association property="nickname" resultMap="memberResultMap"/>
        <association property="answerContent" resultMap="qnaAnswerResultMap"/>
        <association property="answerRegistDate" resultMap="qnaAnswerResultMap"/>
        <association property="answerNo" resultMap="qnaAnswerResultMap"/>
        <association property="answerNickName" resultMap="memberResultMap2"/>
    </resultMap>

    <resultMap type="com.idle.osmas.seller.dto.QnaAnswerDTO" id="qnaAnswerResultMap">
        <id property="no" column="NO"/>
        <result property="content" column="ANSWER_CONTENT"/>
        <result property="registDate" column="ANSWER_REGIST_DATE"/>
        <result property="prjQnaCode" column="PRJ_QNA_CODE"/>
        <result property="refMemberNo" column="ANSWER_NO"/>
    </resultMap>

    <resultMap type="com.idle.osmas.seller.dto.MemberDTO" id="memberResultMap">
        <id property="no" column="NO"/>
        <result property="id" column="ID"/>
        <result property="pwd" column="PWD"/>
        <result property="name" column="NAME"/>
        <result property="phone" column="PHONE"/>
        <result property="birth" column="BIRTH"/>
        <result property="email" column="EMAIL"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="status" column="STATUS"/>
        <result property="introduction" column="INTRODUCTION"/>
        <result property="dropReason" column="DROP_REASON"/>
    </resultMap>

    <resultMap type="com.idle.osmas.seller.dto.MemberDTO" id="memberResultMap2">
        <id property="no" column="NO"/>
        <result property="id" column="ID"/>
        <result property="pwd" column="PWD"/>
        <result property="name" column="NAME"/>
        <result property="phone" column="PHONE"/>
        <result property="birth" column="BIRTH"/>
        <result property="email" column="EMAIL"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="nickname" column="ANSWER_NICKNAME"/>
        <result property="status" column="STATUS"/>
        <result property="introduction" column="INTRODUCTION"/>
        <result property="dropReason" column="DROP_REASON"/>
    </resultMap>

    <resultMap type="com.idle.osmas.seller.dto.FaqDTO" id="faqResultMap">
        <id property="no" column="NO"/>
        <result property="refPrjNo" column="REF_PRJ_NO"/>
        <result property="title" column="TITLE"/>
        <result property="content" column="CONTENT"/>
        <result property="registDate" column="REGIST_DATE"/>
    </resultMap>

    <resultMap type="com.idle.osmas.seller.dto.NewInfoDTO" id="newInfoResultMap">
        <id property="no" column="NO"/>
        <result property="title" column="TITLE"/>
        <result property="content" column="CONTENT"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="modifyDate" column="MODIFY_DATE"/>
        <result property="deleteYn" column="DELETE_YN"/>
        <result property="refprjNo" column="REF_PRJ_NO"/>
    </resultMap>

    <select id="selectAllProject" resultMap="salesResultMap">
        SELECT
            NO,
            TITLE,
            CONTENT,
            REGIST_DATE,
            START_DATE,
            END_DATE,
            TARGET_AMOUNT,
            CURRENT_AMOUNT,
            VIEWS,
            REF_MEMBER_NO,
            REF_CATEGORY_NO
        FROM TBL_PRJ
    </select>

    <select id="selectProjectByNo" resultMap="salesResultMap" parameterType="_int">
        SELECT
            NO,
            TITLE,
            CONTENT,
            REGIST_DATE,
            START_DATE,
            END_DATE,
            TARGET_AMOUNT,
            CURRENT_AMOUNT,
            VIEWS,
            REF_MEMBER_NO,
            REF_CATEGORY_NO
        FROM TBL_PRJ
        WHERE NO = #{ no }
    </select>

    <select id="selectCategoryByNo" resultMap="categoryResultMap" parameterType="_int">
        SELECT
            NO,
            SUB_NO,
            NAME
        FROM TBL_CATEGORY
        WHERE NO = (SELECT
            REF_CATEGORY_NO
            FROM TBL_PRJ
            WHERE NO = #{ no })
    </select>

    <select id="selectOptionByNo" resultMap="optionResultMap" >
        SELECT
            NO,
            NAME,
            INTRODUCTION,
            PRICE,
            MAX_QUANTITY,
            STATUS,
            PRODUCT_SIZE
        FROM TBL_PRODUCT
        WHERE NO IN (
            SELECT
                REF_PRODUCT_NO
            FROM  TBL_PRJ_PRODUCT_LIST
            WHERE REF_PRJ_NO = #{ no })
          AND
            STATUS = 'AVAILABLE'
    </select>


    <select id="selectSellerRollByNo" resultMap="sellerRollResultMap" parameterType="_int">
        SELECT
            ACCOUNT_NO,
            REGIST_NO,
            NAME,
            CALL_NUMBER,
            RPRSN,
            ADDRESS,
            REF_MEMBER_NO,
            BANK,
            REPORT_NO
        FROM TBL_SELLER_ROLE
        WHERE REF_MEMBER_NO =
              (SELECT REF_MEMBER_NO
               FROM TBL_PRJ
               WHERE NO = #{ no })
    </select>


    <select id="selectQnaListByNo" resultMap="qnaResultMap" parameterType="_int">
        SELECT
            A.CONTENT,
            A.REF_MEMBER_NO,
            A.REF_PRJ_NO,
            A.REGIST_DATE,
            A.NO,
            B.NICKNAME,
            C.CONTENT AS ANSWER_CONTENT,
            C.REGIST_DATE AS ANSWER_REGIST_DATE,
            C.REF_MEMBER_NO AS ANSWER_NO,
            D.NICKNAME AS ANSWER_NICKNAME
        FROM TBL_PRJ_QNA A
                 LEFT JOIN TBL_MEMBER B ON A.REF_MEMBER_NO = B.NO
                 LEFT JOIN TBL_PRJ_QNA_ANSWER C ON A.NO = C.PRJ_QNA_CODE
                 LEFT JOIN TBL_MEMBER D ON C.REF_MEMBER_NO = D.NO
        WHERE REF_PRJ_NO =  #{ no }
        ORDER BY A.NO DESC
    </select>

    <select id="selectFaqListByNo" resultMap="faqResultMap" parameterType="_int">
        SELECT
            NO,
            REF_PRJ_NO,
            TITLE,
            CONTENT,
            REGIST_DATE
        FROM TBL_PRJ_FAQ
        WHERE REF_PRJ_NO = #{ no }
        ORDER BY NO DESC
    </select>

    <select id="selectNewInfoListByNo" resultMap="newInfoResultMap" parameterType="_int">
        SELECT
            *
        FROM TBL_PRJ_NEW_INFO
        WHERE REF_PRJ_NO = #{ no }
          AND DELETE_YN = 'N'
        ORDER BY NO DESC
    </select>

<!--    <insert id="insertNewQna" parameterType="_String,_String,_int">-->
    <insert id="insertNewQna" parameterType="com.idle.osmas.seller.dto.QnaDTO">
        INSERT INTO TBL_PRJ_QNA
        (CONTENT,
         REF_MEMBER_NO,
         REF_PRJ_NO,
         REGIST_DATE,
         NO)
        VALUES
            (#{content},
            #{refMemberNo},
            #{refPrjNo},
            SYSDATE,
            SEQ_TBL_PRJ_QNA_NO.NEXTVAL)
    </insert>

</mapper>