nav ul {
    list-style: none;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

nav ul li {
    display: inline;
    letter-spacing: 0.3em;
    margin-left: 2em;
}

.gugu {
    background-color: white;
    border: none;
    letter-spacing: 0.3em;
    margin-left: 2em;
    line-height: 3em;
    text-transform: uppercase;
}

.gugu a {
    color: black;
    text-decoration: none;
}

/* footer영역 */
footer {
    clear: both;
    background-color: #5b4612;
    color: white;
    padding: 1em 0px;
}

.right {
    color: white;
    text-align: right;
}

.search {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.search input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
}

#logo {
    text-align: center;
    width: 50%;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: grid;
    grid-template-columns: 200px 200px auto;
}

.container2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    padding-right: 20px;
}

.guide {
    padding: 10px;
}

.call {
    text-align: center;
    margin: 0%;
}

footer a {
    text-decoration: none;
    color: white;
}

/* 카테고리 드롭다운 */
.slide-content {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -250px;
    background-color: #F9DFBB;
    top: 0;
    width: 250px;
    height: 100vh;
    transition: left 0.3s ease;

}
.slide-open {
    left: 0px;
}

.slide-content a {
    font-size: 20px;
    margin-top: 20%;
    background-color: #F9DFBB;
    color: #884A3B !important;
    text-decoration: none;
}

.slide-content a:hover {
    background-color: #C49A6C;
    text-decoration: underline;
}

/*middle 상품*/
.product {
    display: flex;

}
.popular1 {
    flex: 1;
    overflow-y: scroll;
    max-height: 700px; /* 적절한 높이 조정 */

}
.popular2 {
    flex: 1;
    overflow-y: scroll;
    max-height: 1500px; /* 적절한 높이 조정 */

}
.left-column {
    flex: 2;
    display: flex;
    flex-direction: column;
}
.right-column {
    flex: 1;
}
.item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    width: 200px;
    height: 200px;
}

