body{
    font-family: 'Noto Sans KR', sans-serif;
}

nav ul {
    list-style: none;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

nav ul li {
    display: inline;
    letter-spacing: 0.3em;
    margin-left: 2em;
}

.gugu {
    background-color: white;
    border: none;
    letter-spacing: 0.3em;
    margin-left: 2em;
    line-height: 3em;
    text-transform: uppercase;
}

.gugu a {
    color: black;
    text-decoration: none;
}

/* 왼쪽 사이드 메뉴 */
aside#left {
    float: left;
    width: 10em;
    margin-right: 1em;
}

aside#left ul {
    list-style: none;
    padding: 0;
}

aside#left ul li {
    background-color: #f9dfbb;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

aside#left ul li a {
    display: block;
    color: black;
    text-decoration: none;
}

aside#main {
    float: left;
}


.right {
    color: white;
    text-align: right;
}

.search {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.search input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
}

#logo {
    text-align: center;
    width: 50%;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* 카테고리 드롭다운 */
.slide-content {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -250px;
    background-color: #F9DFBB;
    top: 0;
    width: 250px;
    height: 100vh;
    transition: left 0.3s ease;
    z-index: 999;

}
.slide-open {
    left: 0px;
}

.slide-content a {
    font-size: 20px;
    margin-top: 20%;
    background-color: #F9DFBB;
    color: #884A3B !important;
    text-decoration: none;
}

.slide-content a:hover {
    background-color: #C49A6C;
    text-decoration: underline;
}

.User_container{
    text-align: end;
}

.User_container button{
    border-radius: 4px;
    background-color: #FFC26F;
    font-size: 12px;
    height: 40px;
    width: auto;
    margin: 20px 0px 0px 10px;
    color: white;
    border: none;
    cursor: pointer;
}
.User_container button:hover{
    background-color: #884A39;
    transition-duration: 0.3s;
}

/*사용자에게만 보이는 관리자 페이지 버튼*/
.userPage {
    position: relative;
    display: inline-block;
    text-align: right; /* 버튼을 오른쪽으로 정렬 */
    float: right;
}

.userPageGo {
    color: black;
    font-size: 14px;
    cursor: pointer;
    width: 95px;
    height: 50px;
}

.userPage-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 160px;
    text-align: center;
    background-color: rgb(212, 209, 209);
    margin-top: 5px;
}

.userPage-content.show {
    display: block;
}

.userPage-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid rgb(150, 143, 143); /* 구분선 스타일 */

}

.userPage-content a:last-child {
    border-bottom: none; /* 마지막 아이템 다음에는 구분선 없음 */
}

/*판매자에게만 보이는 관리자 페이지 버튼*/
.sellerPage {
    position: relative;
    display: inline-block;
    text-align: right; /* 버튼을 오른쪽으로 정렬 */
    float: right;
}

.sellerPageGo {
    color: black;
    font-size: 14px;
    cursor: pointer;
    width: 95px;
    height: 50px;
}

.sellerPage-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 160px;
    text-align: center;
    background-color: rgb(212, 209, 209);
    margin-top: 5px;
}

.sellerPage-content.show {
    display: block;
}

.sellerPage-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid rgb(150, 143, 143); /* 구분선 스타일 */

}

.sellerPage-content a:last-child {
    border-bottom: none; /* 마지막 아이템 다음에는 구분선 없음 */
}

/*관리자에게만 보이는 관리자 페이지 버튼*/
.adminPage {
    position: relative;
    display: inline-block;
    text-align: right; /* 버튼을 오른쪽으로 정렬 */
    float: right;
}

.adminPageGo {
    color: black;
    font-size: 14px;
    cursor: pointer;
    width: 95px;
    height: 50px;
}

.adminPage-content {
    display: none; /* 드롭다운 메뉴를 기본적으로 보이도록 설정 */
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 160px;
    text-align: center;
    background-color: rgb(212, 209, 209);
    margin-top: 5px;
}

.adminPage-content.show {
    display: block;
}

.adminPage-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid rgb(150, 143, 143); /* 구분선 스타일 */

}

.adminPage-content a:last-child {
    border-bottom: none; /* 마지막 아이템 다음에는 구분선 없음 */
}


/*판리자 권한 회수한 사용자 페이지 버튼*/
.sellerDropPage {
    position: relative;
    display: inline-block;
    text-align: right; /* 버튼을 오른쪽으로 정렬 */
    float: right;
}

.sellerDropPageGo {
    color: black;
    font-size: 14px;
    cursor: pointer;
    width: 95px;
    height: 50px;
}

.sellerDropPage-content {
    display: none; /* 드롭다운 메뉴를 기본적으로 보이도록 설정 */
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 160px;
    text-align: center;
    background-color: rgb(212, 209, 209);
    margin-top: 5px;
}

.sellerDropPage-content.show {
    display: block;
}

.sellerDropPage-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid rgb(150, 143, 143); /* 구분선 스타일 */

}

.sellerDropPage-content a:last-child {
    border-bottom: none; /* 마지막 아이템 다음에는 구분선 없음 */
}