<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MypageAccountDelete</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="/static/js/member/mypage.js"></script>
    <link rel="stylesheet" href="/css/member/mypagebasic.css">
    <link rel="stylesheet" href="/css/member/mypagemain.css">
</head>

<body>
<header id="header">
    <th:block th:include="~{/common/fragments/header}"></th:block>
</header>

<main>
    <h2 class="top_line">회원탈퇴</h2>
    <div class="delete_top">
        <h3>서비스 이용에 불편함이 있으신가요?</h3>
        알림을 너무 많이 수신하고 계신가요? 알림설정에서 수신을 거부할 수 있습니다.<br>
        기타 불편한 사항이 있다면 언제든 OSMAS에 알려주세요
    </div>

    <div class="delete_mid">
        <h3>탈퇴 전, 유의사항을 확인해주시기 바랍니다.</h3>
        계정 및 알림<br>
        연동돼 있었던 모든 계정과 연동이 모두 해제됩니다.
        <br><br>
        후원 및 결제<br>
        이미 결제된 후원은 취소되지 않습니다.<br>
        관련 법령에 따라 후원 및 후원취소에 관한 기록, 결제 및 선물 전달에 관한 기록은 5년 동안 보관됩니다.
    </div>
    <br>
    <div class="delete_bottom">
        <input type="checkbox" id="checkmessage">
        <label for="checkmessage">탈퇴 유의사항을 확인했습니다.</label>
        <br><br>
        <button class="delete_next" onclick="redirectToMypageAccountDeleteNext()">다음</button>
    </div>
</main>

    <footer>
        <th:block th:include="~{/common/fragments/footer}"></th:block>
    </footer>
</body>
</html>