<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MypageShippingAd</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script th:src="@{/js/member/mypage.js}"></script>
    <link rel="stylesheet" href="/css/member/mypagebasic.css">
    <link rel="stylesheet" href="/css/member/mypagemain.css">
</head>

<body>
<header id="header">
    <th:block th:include="~{/common/fragments/header}"></th:block>
</header>

<main>
    <div class="mypage">
        <h2>마이페이지</h2>
        <ul class="mypage_bar">
            <li><a th:href="@{MypageProfile}">프로필</a></li>
            <li><a th:href="@{MypageAccount}">계정</a></li>
            <li><a th:href="@{MypageSponsor}">후원한 프로젝트</a></li>
            <li><a th:href="@{MypageShippingAd}">배송지</a></li>
            <li><a th:href="@{MypageAlarm}">알림</a></li>
        </ul>
    </div>

    <div class="mypage_shipping">
        <h3>배송지 추가</h3>
        <p>받는 사람</p>
        <input type="text" placeholder="받는 분 성함을 입력해주세요"/>
        <p>주소</p>
        <input type="text" placeholder="주소를 입력해주세요"/>
        <p>받는 사람 휴대폰 번호</p>
        <input type="text" placeholder="받는 분 휴대폰 번호를 입력해주세요."/>
        <br><br>
        <button class="btn_save" onclick="showMessageShippingAd()">저장</button>
    </div>

    <div class="message-container"></div>

</main>

<footer >
    <th:block th:include="~{/common/fragments/footer}"></th:block>
</footer>

</body>
</html>