<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MypageAlarm</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script th:src="@{/js/member/mypage.js}"></script>
    <link rel="stylesheet" href="/css/member/mypagebasic.css">
    <link rel="stylesheet" href="/css/member/mypagemain.css">
</head>

<body>
<header id="header">
    <th:block th:include="~{/common/fragments/header}"></th:block>
</header>

<main>
    <div class="mypage">
        <h2>마이페이지</h2>
        <ul class="mypage_bar">
            <li><a th:href="@{MypageProfile}">프로필</a></li>
            <li><a th:href="@{MypageAccount}">계정</a></li>
            <li><a th:href="@{MypageSponsor}">후원한 프로젝트</a></li>
            <li><a th:href="@{MypageShippingAd}">배송지</a></li>
            <li><a th:href="@{MypageAlarm}">알림</a></li>
        </ul>
    </div>

    <div class="mypage_alarm">
        <div class="img">
            <img th:src="@{/static/images/member/detailsize.png}">
            <p>알림신청하신 <b>DETAIL SIZE SHIRT 프로젝트</b>가 공개되었습니다.</p>
        </div>
    </div>

    <div class="mypage_alarm">
        <div class="img">
            <img th:src="@{/static/images/member/smallworld.png}">
            <p>좋아하신 <b>스몰월드 프로젝트</b>의 창작자의 새 게시글이 올라왔습니다.</p>
        </div>
    </div>



    <th:block th:if="${alert1}">
        <div class="mypage_alarm" style="margin: 5%;">
            <p>판매자님의 권한 신청이 보류 되었습니다.</p>
            <button onclick="location.href='/admin/sellerApprovalForm/getFormAgain'">확인하러 가기</button>
        </div>
    </th:block>

    <th:block th:if="${alert3}">
        <div class="mypage_alarm" style="margin: 5%;">
            <p>판매자님의 권한 신청이 완료 되었습니다.</p>
        </div>
    </th:block>

    <th:block th:if="${alert2}">
        <div class="mypage_alarm" style="margin: 5%;">
            <p>판매자님의 권한 회수 신청이 보류 되었습니다.</p>
            <button onclick="location.href='/admin/sellerApprovalForm/outFormAgain'">확인하러 가기</button>
        </div>
    </th:block>

    <th:block th:if="${alert4}">
        <div class="mypage_alarm" style="margin: 5%;">
            <p>판매자님의 권한 회수가 완료 되었습니다.</p>
        </div>
    </th:block>

</main>

<footer>
    <th:block th:include="~{/common/fragments/footer}"></th:block>
</footer>

</body>
</html>