<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MypageShippingAd</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script th:src="@{/js/member/mypage.js}"></script>
    <link rel="stylesheet" href="/css/member/mypagebasic.css">
    <link rel="stylesheet" href="/css/member/mypagemain.css">
</head>

<body>
<header id="header">
    <th:block th:include="~{/common/fragments/header}"></th:block>
</header>

<main>
    <div class="mypage">
        <h2>마이페이지</h2>
        <ul class="mypage_bar">
            <li><a th:href="@{MypageProfile}">프로필</a></li>
            <li><a th:href="@{MypageAccount}">계정</a></li>
            <li><a th:href="@{MypageSponsor}">후원한 프로젝트</a></li>
            <li><a th:href="@{MypageShippingAd}">배송지</a></li>
            <li><a th:href="@{MypageAlarm}">알림</a></li>
        </ul>
    </div>

    <div class="mypage_shipping">
        <h3>배송지 추가</h3>
        <form method="post">
        <p>받는 사람</p>
        <input th:id="joinName" th:name="joinName" type="text" th:value="${userJoin.name}"/>
        <p>주소</p>

        <input th:id="postalCode" th:name="postalCode" th:value="${userJoin.addressList.get(0).postalCode}" th:if="${userJoin.addressList.size() > 0}" type="text" required/>
        <input th:id="postalCode" th:name="postalCode" th:if="${userJoin.addressList.size() == 0}" type="text" required/>

        <button class="find_ship" onclick="event.preventDefault(); daumPost()">우편번호 찾기</button><br>
        <input th:id="general" th:name="general" th:value="${userJoin.addressList.get(0).general}" th:if="${userJoin.addressList.size() > 0}" type="text" required/>
        <input th:id="general" th:name="general" th:if="${userJoin.addressList.size() == 0}" type="text" required/>

        <input th:id="joinDetail" th:name="joinDetail" th:value="${userJoin.addressList.get(0).detail}" th:if="${userJoin.addressList.size() > 0}" type="text" required/>
        <input th:id="joinDetail" th:name="joinDetail" th:if="${userJoin.addressList.size() == 0}" type="text" placeholder="상세 주소를 입력해주세요." required/>

        <p>받는 사람 휴대폰 번호</p>
        <input th:id="joinPhone" th:name="joinPhone" type="text" th:value="${userJoin.phone}"/>
        <br><br>
<!--        <button class="btn_save" onclick="showMessageShippingAd()">저장</button>-->
        <button class="btn_save" type="submit">저장</button>
        </form>
    </div>



    <div class="message-container"></div>

</main>

<footer >
    <th:block th:include="~{/common/fragments/footer}"></th:block>
</footer>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>

    function daumPost() {
        new daum.Postcode({
            oncomplete: function (data) {
                $('#postalCode').val(data.zonecode)
                $('#general').val(data.address)
            }
        }).open();
    }
</script>
</body>
</html>