<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MypageMessage</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="/static/js/member/mypage.js"></script>
    <link rel="stylesheet" href="/css/member/mypagebasic.css">
    <link rel="stylesheet" href="/css/member/mypagemain.css">
</head>

<body>
<header id="header">
    <th:block th:include="~{/common/fragments/header}"></th:block>
</header>

<main>
    <h2 class="top_line">문의하기</h2>
    <div class="mypage_message">
        <p>이름</p>
        <input type="text" placeholder="이름을 입력해주세요"/>
        <p>이메일</p>
        <input type="text" placeholder="이메일을 입력해주세요"/>
        <p>문의내용</p>
        <textarea placeholder="문의할 내용을 입력해주세요."></textarea>
        <br><br>
        <button class="btn_save" onclick="showMessageMessage()">문의하기</button>
    </div>
    <div class="message-container"></div>
</main>

<footer>
    <th:block th:include="~{/common/fragments/footer}"></th:block>
</footer>

</body>
</html>