<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../../../OSMAS/yooseungcheol/project_list_view.css">
    <link rel="stylesheet" href="../../../../../OSMAS/yooseungcheol/project_item.css">
    <script src="../../../../../OSMAS/resources/jqeury/jquery-3.7.0.min.js"></script>
</head>
<body>
    <section>
        <span class="proejct-list-tag-selection ">테스트</span>
    </section>
    <main>
        <div class="flex-center">
            <div class="project-list-main">
                <div class="menu-list-project-view">
                    <div>메뉴1</div>
                    <div>메뉴2</div>
                    <div>메뉴3</div>
                    <div>메뉴4</div>
                    <div>메뉴5</div>
                    <div>메뉴6</div>
                </div>
                <div id="project-view-list" class="container-project-list-view">
                    <!--  javascript   -->
                </div>
            </div>
        </div>
    </main>
    <script src="../../../../../OSMAS/yooseungcheol/project_list_view.js"></script>
    <script>projectListView()</script>
</body>
</html>