<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <link rel="stylesheet" href="/css/seller/projectItem.css">
    <link rel="stylesheet" href="/css/seller/projectListView.css">
</head>
<body>
    <section>
        <span class="proejct-list-tag-selection ">테스트</span>
    </section>
    <main>
        <div class="flex-center">
            <div class="project-list-main">
                <div class="menu-list-project-view">
                    <div>메뉴1</div>
                    <div>메뉴2</div>
                    <div>메뉴3</div>
                    <div>메뉴4</div>
                    <div>메뉴5</div>
                    <div>메뉴6</div>
                </div>
                <div id="project-view-list" class="container-project-list-view">
                    <!--  javascript   -->

                    <!--  projectItem component start   -->
<!--                    <th:block th:each="item : ${itemList}">-->
<!--                        <div th:replace="/seller/sellerFrag :: prjItem('title','content','amount','date','views','img')"></div>-->
<!--                    </th:block>-->
                    <!--  projectItem component end   -->
                </div>
            </div>
        </div>
    </main>
    <script src="/js/seller/projectListView.js"></script>
    <script>projectListView()</script>
</body>
</html>