@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Noto Sans KR', sans-serif;
}

.container-justify-center-w100{
    display: flex;
    width: 100%;
    justify-content: center;
}
.cancel-title{
    color: #884A3B;
    font-weight: 800;
    font-size: 40px;
}
.cancel-table{
    font-size: 15px;
}
.cancel-table tr{
    line-height: 40px;
}
.cancel-table th{
    text-align: end;
    padding-right: 20px;
    padding-left: 30px;
    color: #884A3B;
    border-bottom: 1px solid #884A3B;
}
.cancel-table td:nth-child(3){
    padding-left: 20px;
    border-bottom: 1px solid #884A3B;

}
.cancel-table td:nth-child(4){
    padding-right: 30px;
    border-bottom: 1px solid #884A3B;
}
.cancel-table td:nth-child(2) {
    margin: 20px;
    padding-left: 20px;
    text-align: start;
    border-bottom: 1px solid #884A3B;
}

.cancel-content-area{
    margin-top: 50px;
    display: block;
    text-align: center;
}
.cancel-content-title{
    color: #884A3B;
}
.cancel-content{
    width: 340px;
    border : 1px solid #884A3B;
    resize: none;
    border-radius: 5px;
    padding: 10px;
}
.cancel-content:focus{
    outline-style : none;
}

.cancel-content-area label{
    position: absolute;
    width: 350px;
    text-align: right;
    color: #884A3B;
    top: 570px;
}