.main{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: 20px;
    column-gap: 40px;
    row-gap: 40px;
}
.project-item{
    margin-bottom: 4em;
    width: 350px;
    text-align: center;
    font-size: 15px;
    color: #884A3B;
}
.thumbnailWarp{
    min-width: 350px;
    max-width: 350px;
    position: relative;
    z-index: 5;
}
.project-item-thumbnail{
    display: inline-block;
    width: 350px;
    height: 200px !important;
    border-radius: 10px;
    background-color: rgb(184, 182, 182);
    margin-bottom: 10px;
    object-fit: cover;
}

.favorite-button{
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 20px;
    top: 10px;
    right: 10px;
    z-index: 5;
}

.activate-favorite{
    background-image: url("../../images/common/activate-favorite.png");
    background-color: transparent;
}

.deactivate-favorite{
    background-image: url("../../images/common/deactivate-favortie.png");
    background-color: transparent;
}

.project-item div:nth-child(2){
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 5px;
}
.project-item div:nth-child(2) div:nth-child(1){
    text-align: left;
    font-size: 23px;
    font-weight: 700;
}
.project-item div:nth-child(2) div:nth-child(2){
    align-items: center;
    display: flex;
    justify-content: end;
}
.project-item div:nth-child(2) div:nth-child(2) span{
    padding: 5px 7px 5px 7px ;
    font-size: 12px;
    /*background-color: #884A3B;*/
    /*color: white;*/
    border-radius: 4px;
}
.project-item div:nth-child(3){
    text-align: left;
    font-size: 17px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}
.project-item div:nth-child(4) {
    margin-top: 8px;
    text-align: right;
    font-size: 16px;

}
.project-item div:nth-child(4) span{
    font-size: 20px;
    font-weight: 700;
}

.days-default{
    background-color: #884A3B;
    color: white;
}
.days-red{
    background-color: red;
    color: white;
}
.days-blue{
    background-color: blue;
    color: white;
}
.days-green{
    background-color: green;
    color: white;
}