@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Noto Sans KR', sans-serif;
}

.project-list-sub{
    min-width: 70%;
    max-width: 90%;
}

.project-list-main{
    display: grid;
    place-items: center;
}

.container-project-list-view{
    margin: 6em 0 0 0;
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: auto auto auto;
}

.menu-list-project-view{
    margin: 1em 0 1em 0;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.menu-list-project-view div{
    margin: 0 10px 0 10px;
    padding: 15px 40px 15px 40px;
    display: flex;
    justify-content: center;
    min-width: 50px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 10px;
    background-color: #C49A6C;
    color: white;
}
.flex-center{
    width: 100%;
    min-width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 0 2em 0;
}
.project-list-tag-selection, .main-category{
    max-width: 63px;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    padding: 8px 18px 8px 18px;
    color: #cca77f;
    border: 1px solid #cca77f;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    margin: 10px 10px 10px 10px;
}
.project-list-tag-selection:hover, .main-category:hover{
    /*background: #b68149;*/
    background: #884A3B;
}
.project-list-tag-selection-active{
    background: #884A3B;
    color: white;

}
