@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 20px 0 20px;
}

.col-2{
    display: grid;
    grid-template-columns: 500px auto;
    grid-column-gap: 20px;
}

.title{
    display: flex;
    justify-content: center;
    min-width: 500px;
    margin-bottom: 2em;
}

.sub-title{
    margin: 0 0 2em 0;
    padding: 0;
    display: flex;
    color: white;
    background-color: #C49A6C;
    align-items: center;
}
.sub-title span{
    font-size: 30px;
    font-weight: 600;
    padding: 10px 0 10px 0.5em;
}

.chart-area{
    /*border: 1px solid red;*/
    /*background-color: rgba(0,0,0,0.1);*/
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 20px;
    max-width: 90vh;
    min-width: 90vh;
    height: 80vh;
    padding: 10px 20px 20px 20px;
}
.chart-area>div{
    width: 40vh;
    max-height: 40vh;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.project-table{
    font-size: 15px;
    margin: 0 0 2em 0;
}
.project-table tr{
    line-height: 40px;
}
.project-table th{
    font-size: 18px;
    font-weight: 700;
    color: #884A3B;
    text-align: end;
    padding-right: 20px;
}
.project-table tr:nth-child(2) td:nth-child(3){
    width: 120px;
    text-align: end;
}

.product-statistics{
    font-size: 15px;
    width: 500px;
    line-height: 35px;
}

.product-statistics thead{
    font-size: 18px;
    font-weight: 700;
    color: #884A3B;
}

.product-statistics thead{
    border-top: 1px solid #884A3B;
    line-height: 40px;
}

.product-statistics thead tr td:nth-child(4){
    text-align: center;
}

.product-statistics thead tr td:last-child{
    text-align: end;
}

.product-statistics tbody tr td:nth-child(4){
    text-align: center;
}

.product-statistics tbody tr td:last-child{
    text-align: end;
}
.footer{
    margin-top: 3em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-btn{
    font-size: large;
    width: 100px;
    height: 50px;
    color: white;
    font-weight: 400;
    background: #cca77f;
    border: 0;
    border-radius: 5px;
    margin: 10px;
}
.footer-btn:hover{
    transition: 0.3s;
    background: #b68149;
}