@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Noto Sans KR', sans-serif;
}

.body{
    margin: 20px;
}
.textarea{
    resize: none;
    outline-style: none;
    padding: 10px 8px 10px 8px;
    width: 96%;
    border: 1px solid #884A3B;
    background-color: white;
    border-radius:4px;
    font-size: 15px;
}
.qa-line{
    border: 2px solid #C49A6C;
}
.label{
    display: block;
    font-size: 30px;
    color: #884a3b;
    font-weight: 700;
    margin-bottom: 20px;
}
.footer{
    margin-top: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-btn{
    font-size: large;
    width: 100px;
    height: 50px;
    color: white;
    font-weight: 400;
    background: #cca77f;
    border: 0;
    border-radius: 5px;
    margin: 10px;    
}
.footer-btn:hover{
     transition: 0.3s;
    background: #b68149;
 }
.h1-title {
    color: #884A3B;
    font-size: 30px;
    font-weight: 700;
}
.display-center{
    display: grid;
    text-align: center;
    justify-content: center;
}
.retry-textarea {
    overflow: auto;
    padding: 10px;
    width: 320px;
    border: 1px solid #C49A6C;
    border-radius: 5px;
    resize: none;
    font-size: 15px;
}
.retry-textarea:focus{
    outline-style: none;
}
.retry-textarea:disabled{
    background: white;
}
.input-label{
    position: relative;
}

.input-label label{
    position: absolute;
    text-align: right;
    color: #884A3B;
    top: 55px;
    right: 15px;
}

#qa-answer-area label:nth-child(1){
    width: 450px;
    position: absolute;
    text-align: right;
    top: 395px;
    color: #884A3B;
}

