<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="../../resources/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="./cus_page.css">
        <script src="../../resources/jqeury/jquery-3.7.0.min.js"></script>
    </head>
    <body>
        <nav class="cus-nav">
            <div style="text-align: center;">
                <img src="../../static/image/Logo.png" width="150px" style="margin-top: 30px; margin-bottom: 30px;">
            </div>
            <h2>판매자 페이지</h2>
            <br>
            <!-- menu-none-visible 스위치 -->
            <ul class="menu-list">
                <h5><a href="../createProject/index.html" target="_blank">프로젝트 등록</a></h5>
            </ul>
            <ul class="menu-list">
                <h5>프로젝트 관리 <span>▼▲</span></h5>
                <div class="menu-visible ">
                    <li id="cusAllMenu" class="active-page"><a href="./cus_index.html">전체 조회</a></li>
                    <li id="cusScreenMenu"><a href="./cus_index.html">심사중</a></li>
                    <li id="cusOngoMenu"><a href="./cus_index.html">진행중</a></li>
                    <li id="cusRefuseMenu"><a href="./cus_index.html">반려</a></li>
                    <li id="cusCancleMenu"><a href="./cus_index.html">취소</a></li>
                </div>
            </ul>
            <ul class="menu-list">
                <h5>주문관리 <span>▼▲</span></h5>
                <div class="menu-visible ">
                    <li><a href="#">전체조회</a></li>
                    <li><a href="#">주문접수</a></li>
                    <li><a href="#">배송처리</a></li>
                    <li><a href="#">교환환불</a></li>
                    <li><a href="#">취소내역</a></li>
                    <li><a href="#">주문정보</a></li>
                </div>
            </ul>
            <ul class="menu-list">
                <h5>Q / A <span>▼▲</span></h5>
                <div class="menu-visible">
                    <li id="qaAllMenu"><a href="./qa_index.html">전체조회</a></li>
                    <li id="qaWaitMenu"><a href="./qa_index.html">답변 대기중</a></li>
                    <li id="qaCompleteMenu"><a href="./qa_index.html">답변 완료</a></li>
                </div>
            </ul>
        </nav>
        <main>
            <div class="main">
                <div class="main-header">
                    <div>
                        <h1 class="h1-title">프로젝트 관리 - 전체조회</h1>
                    </div>
                    <div>
                        <h5><span>판매자</span>님 환영합니다.</h5>
                    </div>
                </div>
                <div class="nav-list-area">
                    <table id="cusMenu" class="w-100 list-nav mt-5">
                        <tr class="row">
                            <td id="cusAll" class="col active-page">전체조회</td>
                            <td id="cusScreen" class="col">심사중</td>
                            <td id="cusOngo" class="col">진행중</td>
                            <td id="cusRefuse" class="col">반려</td>
                            <td id="cusCancle" class="col">취소</td>
                            <th class="col-4">
                                <div class="row col">
                                    <input type="text" class="search-bar col" placeholder="검색할 프로젝트명">
                                    <button class="search-btn col ms-2 me-2">검색</button>
                                </div>
                            </th>
                        </tr>
                    </table>
                </div>
                <!-- 테이블 시작 -->
                <table class="cus-table table-font">
                    <thead>
                        <tr>
                            <th>#</th>
                            <td>프로젝트 명</td>
                            <td>목표금액(원)</td>
                            <td>참여금액(원)</td>
                            <td>프로젝트기간</td>
                            <td>심사단계</td>
                            <td>기능</td>
                        </tr>
                    </thead>
                    <tbody id="customerProjectList">
                        <!-- 반복 구간 -->
                    </tbody>
                </table>
                <!-- cus-page start -->
                <div>
                    <ul class="cus-page">
                        <li><a href=#><</a></li>
                        <li><a href=#>1</a></li>
                        <li><a href=#>2</a></li>
                        <li><a href=#>3</a></li>
                        <li><a href=#>4</a></li>
                        <li><a href=#>5</a></li>
                        <li><a href=#>></a></li>
                    </ul>
                </div>
            <!-- cus-page end -->
            <!-- 테이블 종료 -->
            </div>
        </main>
        <script src="customerPage.js"></script>
        <script>customerProjectList()</script>
    </body>
</html>