<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="~{/seller/fragments/sellerFrag :: head}"></div>
        <title>프로젝트 관리 - 전체 조회</title>
    </head>
    <body>
        <div class="main-col-2">
            <div th:replace="~{/seller/fragments/sellerFrag :: nav}"></div>
            <main>
                <div class="main">
                    <div class="main-header">
                        <div>
                            <h1 class="h1-title">프로젝트 관리 - <span>전체조회</span></h1>
                        </div>
                        <div>
                            <h5><span>판매자</span>님 환영합니다.</h5>
                        </div>
                    </div>
                    <div class="nav-list-area">
                        <table id="cusMenu" class="w-100 list-nav mt-5">
                            <tr class="row">
                                <td id="cusAll" class="col" onclick="location.href='./projectList?listType=all'">전체조회</td>
                                <td id="cusScreen" class="col" onclick="location.href='./projectList?listType=screening'">심사중</td>
                                <td id="cusProcess" class="col" onclick="location.href='./projectList?listType=processing'">진행중</td>
                                <td id="cusRefuse" class="col" onclick="location.href='./projectList?listType=refuse'">반려</td>
                                <td id="cusCancel" class="col" onclick="location.href='./projectList?listType=cancel'">취소</td>
                                <th class="col-4">
                                    <div class="row col">
                                        <input type="text" class="search-bar col" placeholder="검색할 프로젝트명">
                                        <button class="search-btn col ms-2 me-2">검색</button>
                                    </div>
                                </th>
                            </tr>
                        </table>
                    </div>
                    <!-- 테이블 시작 -->
                    <table class="cus-table table-font">
                        <thead>
                            <tr>
                                <th>#</th>
                                <td>프로젝트 명</td>
                                <td>목표금액(원)</td>
                                <td>참여금액(원)</td>
                                <td>프로젝트기간</td>
                                <td>심사단계</td>
                                <td>기능</td>
                            </tr>
                        </thead>
                        <tbody id="customerProjectList">
                            <!-- javacript 반복 구간 -->
                            <!-- 타임 리프 반복 시작 -->
    <!--                        <th:block th:each="item, index : ${itemList}">-->
    <!--                        <tr>-->
    <!--                            <th:block th:object="${item}">-->
    <!--                            <th th:text="${index}"></th>-->
    <!--                            <td th:text="*{item.title}"></td>-->
    <!--                            <td th:text="*{item.targetAmount}"></td>-->
    <!--                            <td th:text="*{item.currentAmount}"></td>-->
    <!--                            <td th:text="*{item.startDate}"></td>-->
    <!--                            <td th:text="*{item.endDate}"></td>-->
    <!--                            <td th:text="*{item.status}"></td>-->
    <!--                            <td>-->
    <!--                                <input value="통계" class="cus-button" type="button" th:onclick="|popupStatics(*{item.id})|">-->
    <!--                                <input value="수정" class="cus-button" type="button" th:onclick="|projectModify(*{item.id})|">-->
    <!--                                <input value="재심사" class="cus-button" type="button" th:onclick="|popupRetry(*{item.id})|">-->
    <!--                                <input value="취소" class="cus-button" type="button" th:onclick="|popupCancel(*{item.id})|">-->
    <!--                            </td>-->
    <!--                            </th:block>-->
    <!--                        </tr>-->
    <!--                        </th:block>-->
                            <!-- 타임 리프 끝 -->
                        </tbody>
                        </tbody>
                    </table>
                    <!-- cus-page start -->
                    <div th:replace="~{/seller/fragments/sellerFrag :: pageantion}"></div>
                <!-- cus-page end -->
                <!-- 테이블 종료 -->
                </div>
            </main>
        </div>
        <footer th:replace="~{/common/fragments/footer :: footer}"></footer>
        <script src="/js/seller/sellerPage.js"></script>
        <script>
            customerProjectList();
            activePage();
        </script>
    </body>
</html>