<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idle.osmas.admin.dao.GettingProposalsMapper">

    <resultMap id="GettingProposalsResultMap" type="com.idle.osmas.member.dto.SuggestDTO">
        <id property="no" column="SUGGESTNO"/>
        <result property="title" column="TITLE"/>
        <result property="content" column="CONTENT"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="status" column="STATUS"/>
        <result property="modifyDate" column="MODIFY_DATE"/>
        <result property="refCategoryNo" column="REF_CATEGORY_NO"/>

        <association property="refMemberNo" resultMap="memberResultMap"/>
    </resultMap>

    <resultMap id="AlertResultMap" type="com.idle.osmas.member.dto.AlertDTO">
        <id property="no" column="NO"/>
        <result property="content" column="CONTENT"/>
        <result property="registDate" column="REGIST_DATE"/>

        <association property="refMemberNo" resultMap="memberResultMap"/>
        <association property="refSuggestNo" resultMap="GettingProposalsResultMap"/>
    </resultMap>

    <resultMap id="memberResultMap" type="com.idle.osmas.member.dto.MemberDTO">
        <id property="no" column="MEMBERNO"/>
        <result property="id" column="ID"/>
        <result property="pwd" column="PWD"/>
        <result property="name" column="NAME"/>
        <result property="phone" column="PHONE"/>
        <result property="birth" column="BIRTH"/>
        <result property="email" column="EMAIL"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="status" column="STATUS"/>
        <result property="introduction" column="INTRODUCTION"/>
        <result property="dropReason" column="DROP_REASON"/>
    </resultMap>

    <!-- 보낸 제안 확인하기-->
    <select id="gettingProposalsAll" resultMap="GettingProposalsResultMap">
        SELECT
            S.NO AS SUGGESTNO,
            S.TITLE,
            S.CONTENT,
            S.REGIST_DATE,
            S.REF_MEMBER_NO,
            S.STATUS,
            S.MODIFY_DATE,
            S.REF_CATEGORY_NO,
            M.ID,
            M.NO AS MEMBERNO
        FROM TBL_SUGGEST S
                 JOIN TBL_MEMBER M ON S.REF_MEMBER_NO = M.NO
                 JOIN TBL_CATEGORY C ON S.REF_CATEGORY_NO = C.NO
        WHERE S.STATUS ='N'
    </select>

    <!-- 제안 확인 알람 보내기 -->
    <insert id="sendProposals">
        INSERT INTO TBL_ALERT(CONTENT,REGIST_DATE,REF_MEMBER_NO,NO,REF_SUGGEST_NO)
        VALUES(#{reasonText},SYSDATE,60,SEQ_TBL_ALERT_NO.NEXTVAL,#{proposalNo})
    </insert>

    <!-- 제안 확인 상태값 변경 -->
    <update id="proposalsStatus">
        UPDATE TBL_SUGGEST
        SET STATUS = 'Y'
        WHERE NO = #{proposalNo}
    </update>
</mapper>