<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idle.osmas.admin.dao.TermsMapper">

    <resultMap id="termsHistoryResultMap" type="com.idle.osmas.admin.dto.TermsHistoryDTO">
        <id property="no" column="NO"/>
        <result property="content" column="CONTENT"/>
        <result property="lastDate" column="LAST_DATE"/>

        <association property="terms" resultMap="termsResultMap"/>
    </resultMap>

    <resultMap id="termsResultMap" type="com.idle.osmas.admin.dto.TermsDTO">
        <id property="no" column="NO"/>
        <result property="title" column="TITLE"/>
        <result property="content" column="CONTENT"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="classifyCode" column="CLASSIFY_CODE"/>
        <result property="termsIndex" column="TERMS_INDEX"/>

        <association property="termsHistory" resultMap="termsHistoryResultMap"/>
    </resultMap>

    <resultMap id="memberResultMap" type="com.idle.osmas.member.dto.MemberDTO">
        <id property="no" column="NO"/>
        <result property="id" column="ID"/>
        <result property="pwd" column="PWD"/>
        <result property="name" column="NAME"/>
        <result property="phone" column="PHONE"/>
        <result property="birth" column="BIRTH"/>
        <result property="email" column="EMAIL"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="status" column="STATUS"/>
        <result property="introduction" column="INTRODUCTION"/>
        <result property="dropReason" column="DROP_REASON"/>
    </resultMap>

    <resultMap id="memberRoleResultMap" type="com.idle.osmas.member.dto.RoleListDTO">
        <id property="refMemberRoleCode" column="REF_MEMBER_ROLE_CODE"/>

        <association property="refMemberNo" resultMap="memberResultMap"/>
    </resultMap>

    <!-- 관리자 인지 아닌지 판단 -->
    <select id="youAdmin">
        SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
        FROM TBL_ROLE_LIST R
                 JOIN TBL_MEMBER M ON R.REF_MEMBER_NO = M.NO
        WHERE M.ID = #{userID}
          AND R.REF_MEMBER_ROLE_CODE = 0
    </select>


    <!-- OSMAS 소개글 -->
    <select id="OSAMS" resultMap="termsResultMap">
        SELECT
            T.NO,
            T.TITLE,
            H.CONTENT
        FROM TBL_TERMS T
                 JOIN TBL_TERMS_HISTORY H ON H.REF_TERMS_NO = T.NO
        WHERE
            T.CLASSIFY_CODE = 'GENERAL'
          AND T.TITLE LIKE '%OSMAS 소개글%'
          AND H.LAST_DATE = (
            SELECT MAX(LAST_DATE)
            FROM TBL_TERMS_HISTORY
            WHERE REF_TERMS_NO = T.NO
        )
    </select>

    <!-- 이용약관 불러오기 -->
    <select id="userTermsGet" resultMap="termsResultMap">
        SELECT
            T.NO,
            T.TITLE,
            H.CONTENT
        FROM TBL_TERMS T
        JOIN TBL_TERMS_HISTORY H ON H.REF_TERMS_NO = T.NO
        WHERE
            T.CLASSIFY_CODE = 'GENERAL'
          AND T.TITLE LIKE '%이용 약관%'
          AND H.LAST_DATE = (
            SELECT MAX(LAST_DATE)
            FROM TBL_TERMS_HISTORY
            WHERE REF_TERMS_NO = T.NO
        )
    </select>

    <!-- 개인정보 처리방침 불러오기 -->
    <select id="personalTermsGet" resultMap="termsResultMap">
        SELECT
            T.NO,
            T.TITLE,
            H.CONTENT
        FROM TBL_TERMS T
                 JOIN TBL_TERMS_HISTORY H ON H.REF_TERMS_NO = T.NO
        WHERE
            T.CLASSIFY_CODE = 'GENERAL'
          AND T.TITLE LIKE '%개인정보 처리방침%'
          AND H.LAST_DATE = (
            SELECT MAX(LAST_DATE)
            FROM TBL_TERMS_HISTORY
            WHERE REF_TERMS_NO = T.NO
        )
    </select>

    <!-- 프로젝트 심사기준 -->
    <select id="projectTermsGet" resultMap="termsResultMap">
        SELECT
            T.NO,
            T.TITLE,
            H.CONTENT
        FROM TBL_TERMS T
                 JOIN TBL_TERMS_HISTORY H ON H.REF_TERMS_NO = T.NO
        WHERE
            T.CLASSIFY_CODE = 'GENERAL'
          AND T.TITLE LIKE '%프로젝트 심사기준%'
          AND H.LAST_DATE = (
            SELECT MAX(LAST_DATE)
            FROM TBL_TERMS_HISTORY
            WHERE REF_TERMS_NO = T.NO
        )
    </select>

    <!-- 약관 insert -->
    <insert id="termsInputGo">
        INSERT INTO TBL_TERMS (NO, CONTENT, REGIST_DATE, CLASSIFY_CODE, TITLE)
        SELECT SEQ_TBL_TERMS_NO.NEXTVAL, #{content}, SYSDATE, 'GENERAL', #{title} FROM DUAL
    </insert>

    <!-- 첫 insert 이력 넣기 -->
    <insert id="termsHistoryInputGo">
        INSERT INTO TBL_TERMS_HISTORY (NO, CONTENT, LAST_DATE, REF_TERMS_NO)
        SELECT SEQ_TBL_TERMS_HISTORY_NO.NEXTVAL, #{content}, SYSDATE,
               (SELECT
                    NO
                FROM TBL_TERMS
                WHERE
                    CLASSIFY_CODE = 'GENERAL'
                ORDER BY
                    REGIST_DATE DESC
                    FETCH FIRST 1 ROW ONLY
                )
        FROM DUAL
    </insert>

    <!-- edit 이력 넣기 -->
    <insert id="termsEditGO">
        INSERT INTO TBL_TERMS_HISTORY (NO, CONTENT, LAST_DATE, REF_TERMS_NO)
        SELECT SEQ_TBL_TERMS_HISTORY_NO.NEXTVAL,
               #{content},
               SYSDATE,
               (SELECT NO
        FROM TBL_TERMS
        WHERE CLASSIFY_CODE = 'GENERAL'
          AND TITLE = '${title}'
            )
        FROM DUAL
    </insert>

    <!-- 원래의 약관에 edit 내용 넣기 -->
    <update id="termsEditUpdate">
        UPDATE TBL_TERMS
        SET CONTENT = #{content}
        WHERE TITLE = #{title}
    </update>

</mapper>