<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제안하기</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            text-align: center;
        }

        th {
            background-color: #f5f5f5;
        }
    </style>
    <link rel="stylesheet" href="/css/member/mainstyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/member/write.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</head>
<body>
<header id="header">
    <th:block th:include="~{/common/fragments/header}"></th:block>
</header>
<div class="board">
    <h1>제안하기</h1>
    <div style="text-align: end;">
        <span class="btn_myreview ">
            <a th:href="@{/member/suggest/suggest}">전체 제안보기</a>
        </span>
        <button style="height: 46px;" id="">제안쓰기</button>
    </div>
    <table style="margin-top: 20px;">
        <tr>
            <th>번호</th>
            <th>카테고리</th>
            <th>제목</th>
            <th>작성일</th>
            <th>닉네임</th>
        </tr>
        <th:block th:if="${suggestList != null}">
            <th:block th:each="suggest : ${suggestList}">
                <tr>
                    <td th:text="${suggest.no}"></td>
                    <td th:text="${suggest.name}"></td>
                    <td th:text="${suggest.title}" class="suggest_title"></td>
                    <td th:text="${suggest.modifyDate}"></td>
                    <td th:text="${suggest.nickname}"></td>
                </tr>
            </th:block>
        </th:block>
    </table>
    <nav style="text-align: center; margin-top: 8px;">
        <sapn th:class="pagingArea">
            <button
                    th:onclick="'location.href=\'/member/suggest/suggest?currentPage='+ ${selectCriteria.pageNo - 1} + '\''"
                    th:disabled="${selectCriteria.pageNo == 1}"> <
            </button>
            <th:block th:each="page : ${#numbers.sequence(selectCriteria.startPage, selectCriteria.endPage)}">
                <button
                        th:text="${ page }"
                        th:onclick="'location.href=\'/member/suggest/suggest?currentPage='+ ${page}+ '\''"
                        th:disabled="${ selectCriteria.pageNo eq page }">
                </button>
            </th:block>
            <button
                    th:onclick="'location.href=\'/member/suggest/suggest?currentPage='+ ${selectCriteria.pageNo + 1} + '\''"
                    th:disabled="${selectCriteria.pageNo == selectCriteria.maxPage}">>
            </button>
        </sapn>
    </nav>
</div>
<div id="modal">
    <div class="modal-content">
        <button id="close-modal">x</button>
        <div class="form-container">
            <h2>제안하기</h2>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" id="title" name="title" readonly>
            </div>
            <input type="text" id="no" style="display: none">
            <input type="text" id="nickname" style="display: none">
            <div class="form-group">
                <label for="content">내용</label>
                <textarea id="content" name="content" readonly></textarea>
            </div>
            <div class="button-container">
                <button onclick="" class="button_modify">수정</button>
                <button onclick="" class="button_remove">삭제</button>
            </div>
        </div>
    </div>
</div>
<script>
    const modal = document.getElementById("modal");
    const closeModalBtn = document.getElementById("close-modal");
    closeModalBtn.addEventListener("click", () => {
        modal.style.display = "none";
        document.body.style.overflow = "auto"; // 스크롤바 보이기
        $('.button_modify').text('수정');
        $('#content').attr('readonly',true);
        $('#title').attr('readonly', true);
    });

    if (document.querySelectorAll(".suggest_title")){
        const $suggest = document.querySelectorAll(".suggest_title");
        for(let i = 0; i < $suggest.length; i++){
            $suggest[i].onclick = function (){
                let no = this.parentNode.children[0].innerHTML;
                let title = this.parentNode.children[2].innerHTML;
                let nickname = this.parentNode.children[4].innerHTML;
                $.ajax({
                    url: "/member/suggest/suggest",
                    type: "post",
                    data: {no,no},
                    success: function (data){
                        modal.style.display = "block";
                        document.body.style.overflow = "hidden";
                        $('#title').val(title);
                        $('#content').val(data);
                        $('#no').val(no);
                        $('#nickname').val(nickname);
                    },
                    error: function (error){
                        alert(error)
                    }
                });
            }
        }
    }
    $('.button_remove').click(function (){
        let no = $('#no').val();
        let nickname = $('#nickname').val();
        $.ajax({
            url: "/member/suggest/remove",
            type: "post",
            data: {no,nickname},
            success: function (data){
                location.reload();
                alert(data);
            },
            error: function (error){
                alert(error)
            }
        });
    });
    $('.button_modify').click(function (){
        if($('.button_modify').text() == '등록'){
            let content = $('#content').val();
            let title = $('#title').val();
            let no = $('#no').val();
            let nickname = $('#nickname').val();
            $.ajax({
                url: "/member/suggest/modify",
                type: "post",
                data: {content,title,no,nickname},
                success: function (data){
                    $('.button_modify').text('수정');
                    $('#content').attr('readonly',true);
                    $('#title').attr('readonly', true);
                    location.reload();
                    alert(data);
                }, error: function (error){
                    $('.button_modify').text('수정');
                    $('#content').attr('readonly',true);
                    $('#title').attr('readonly', true);
                    alert(error);
                }
            });
        }
        $('.button_modify').text('등록');
        $('#content').removeAttr('readonly');
        $('#title').removeAttr('readonly');
    });

</script>
<footer>
    <th:block th:include="~{/common/fragments/footer}"></th:block>
</footer>
</body>
</html>