<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제안하기</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            text-align: center;
        }

        th {
            background-color: #f5f5f5;
        }
    </style>
    <link rel="stylesheet" href="/css/member/mainstyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/member/write.css">
</head>
<body>
<header id="header">
    <th:block th:include="~{/common/fragments/header}"></th:block>
</header>
<div class="board">
    <h1>제안하기</h1>
    <div style="text-align: end;">
        <span class="btn_myreview ">
            <a th:href="@{/member/suggest/mysuggest}">나의 제안보기</a>
        </span>
        <button style="height: 46px;" id="open-modal">제안쓰기</button>
    </div>
    <table style="margin-top: 20px;">
        <tr>
            <th>번호</th>
            <th>카테고리</th>
            <th>제목</th>
            <th>작성일</th>
            <th>닉네임</th>
        </tr>
        <th:block th:if="${suggestList != null}">
            <th:block th:each="suggest : ${suggestList}">
                <tr>
                    <td th:text="${suggest.no}">1</td>
                    <td th:text="${suggest.name}">빅사이즈</td>
                    <td th:text="${suggest.title}">게시판 예시</td>
                    <td th:text="${suggest.modifyDate}">2023-06-17</td>
                    <td th:text="${suggest.nickname}">John Doe</td>
                </tr>
            </th:block>
        </th:block>
    </table>
    <nav style="text-align: center; margin-top: 8px;">
        <div class="search_content">
            <form th:action="@{/member/suggest/suggest}" method="get">
                <select name="searchCondition" id="selectKeyword">
                    <option value="title">제목</option>
                    <option value="nickname">닉네임</option>
                    <option value="category">카테고리</option>
                </select>
                <input type="search" name="searchValue" id="select">
                <button style="">검색</button>
            </form>
        </div>
        <sapn th:class="pagingArea">
            <button
                    th:onclick="'location.href=\'/member/suggest/suggest?currentPage='+ ${selectCriteria.pageNo - 1} + '\''"
                    th:disabled="${selectCriteria.pageNo == 1}"> <
            </button>
            <th:block th:each="page : ${#numbers.sequence(selectCriteria.startPage, selectCriteria.endPage)}">
                <button
                        th:text="${ page }"
                        th:onclick="'location.href=\'/member/suggest/suggest?currentPage='+ ${page}+ '\''"
                        th:disabled="${ selectCriteria.pageNo eq page }">
                </button>
            </th:block>
            <button
                    th:onclick="'location.href=\'/member/suggest/suggest?currentPage='+ ${selectCriteria.pageNo + 1} + '\''"
                    th:disabled="${selectCriteria.pageNo == selectCriteria.maxPage}">>
            </button>
        </sapn>
    </nav>
</div>
<div id="modal">
    <div class="modal-content">
        <button id="close-modal">x</button>
        <div class="form-container">
            <h2>제안하기</h2>
            <div class="form-group">
                <label for="category">카테고리</label>
                <select id="category" name="category">
                    <option value="">빅사이즈</option>
                    <option value="">스몰</option>
                    <option value="">감자</option>
                </select>
            </div>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" id="title" name="title">
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <textarea id="content" name="content"></textarea>
            </div>
            <div class="button-container">
                <button onclick="" class="">등록</button>
                <button onclick="" class="">수정</button>
                <button onclick="" class="">삭제</button>

            </div>
        </div>
    </div>
</div>
<script>
    const modal = document.getElementById("modal");
    const openModalBtn = document.getElementById("open-modal");
    const closeModalBtn = document.getElementById("close-modal");
    openModalBtn.addEventListener("click", () => {
        modal.style.display = "block";
        document.body.style.overflow = "hidden"; // 스크롤바 제거
    });
    closeModalBtn.addEventListener("click", () => {
        modal.style.display = "none";
        document.body.style.overflow = "auto"; // 스크롤바 보이기
    });
</script>
<footer>
    <th:block th:include="~{/common/fragments/footer}"></th:block>
</footer>
</body>
</html>