<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>판매페이지_상품상세내용</title>
    <link rel="stylesheet" href="/css/seller/salesPage.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet"> <script src="/js/seller/slaesPage.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<header id="header">
    <th:block th:include="~{/common/fragments/header}"></th:block>
</header>

<body>
    <th:block th:include="~{/seller/fragments/product}"></th:block>

    <nav>
        <ul>
<!--            <li class="selectedpage"><a style="cursor: pointer" onclick="location.href='/seller/sales/salesPage1?no=20'">상품내용</a></li>-->
            <li class="selectedpage"><a style="cursor: pointer" id="updateContent">상품내용</a></li>
            <li class="contentsmiddle"><a style="cursor: pointer" onclick="location.href='/seller/sales/salesPage2?no=20'">프로젝트정보</a></li>
            <li class="contentsmiddle"><a style="cursor: pointer" onclick="location.href='/seller/sales/salesPage3?no=20'">Q/A</a></li>
            <li class="contentsmiddle"><a style="cursor: pointer" onclick="location.href='/seller/sales/salesPage4?no=20'">FAQ</a></li>
            <li class="contentsmiddle"><a style="cursor: pointer" onclick="location.href='/seller/sales/salesPage5?no=20'">새소식</a></li>
            <li class="contentsmiddle"><a style="cursor: pointer" onclick="location.href='/seller/sales/salesPage6?no=20'">판매자정보</a></li>
        </ul>
    </nav>

    <div class="contentsbottom">
        <p id="dynamicContent">동적으로 변경될 내용</p>
    </div>

<!--    <button id="updateContent">내용 업데이트</button>-->

    <script src="/js/seller/salesPageDetail.js"></script>

</body>

<footer>
    <th:block th:include="~{/common/fragments/footer}"></th:block>
</footer>
</html>