<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>판매페이지_FAQ</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>

<body>
<table>
    <thead>
    <tr>
        <th style="width: 100px;"></th>
        <th style="width: 850px;"></th>
        <th style="width: 150px; font-size: 20px">등록일</th>
    </tr>
    </thead>
    <tbody>
        <div class="contentheadline">FAQ</div>
        <th:block th:each="faq, index : ${faqList}">
            <tr>
                <td class="tdindex" th:text="${index.count}" style="font-size: 20px"></td>
                <td>
                    <a th:text="${faq.title}" style="cursor: pointer; font-size: 20px" class="show-details"></a>
                </td>
                <td class="tdindex" th:text="${faq.registDate}" style="font-size: 20px"></td>
            </tr>
            <tr class="hidden-row" style="display: none;">
                <td class="tdindex">↳</td>
                <td>
                    <div th:text="${faq.content}" style="font-size: 16px; color: #884A3B"></div>
                </td>
                <td></td>
            </tr>
        </th:block>
    </tbody>
</table>

<script src="/js/seller/salesPageDetail.js"></script>


</body>
</html>