<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>판매페이지_FAQ</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>

<body>

<div class="contentsbottom">
    <table>
        <tr>
            <th style="width: 150px;">번호</th>
            <th style="width: 800px;">자주하는질문</th>
            <th style="width: 150px;">등록일</th>
        </tr>
        <tr th:each="faq, index : ${faqList}">
            <td class="tdindex" th:text="${index.count}"></td>
            <td><a style="cursor: pointer" class="show-details" th:text="${faq.title}"></a></td>
            <td th:text="${faq.registDate}"></td>
        </tr>
    </table>

    <script src="/js/seller/salesPageDetail.js"></script>

    <div>
        <ul class="cus-page">
            <li><a href=#><</a></li>
            <li><a href=#>1</a></li>
            <li><a href=#>2</a></li>
            <li><a href=#>3</a></li>
            <li><a href=#>4</a></li>
            <li><a href=#>5</a></li>
            <li><a href=#>></a></li>
        </ul>
    </div>
</div>


</body>
</html>