<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>판매페이지_프로젝트정보</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="/js/seller/slaesPage.js"></script>
</head>

<body>
    <div class="contentheadline" >프로젝트를 소개합니다</div>
    <div>
        <div class="teaminfo">
            <div class="sellerlogo"><img class="logoimage" src="/images/seller/sales/sellerLogo.PNG" alt="판매자로고"></div>
            <div th:text="${sellerRollDTO.name}"></div>
        </div>
        <div th:text="${salesDTO.content}"style="text-align: left; font-size: 15px; width:900px;
              white-space: normal; word-break: break-all; text-overflow: clip; overflow: hidden">
        </div>
    </div>

</body>
</html>