<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>판매페이지_새소식</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="/js/seller/slaesPage.js"></script>
</head>

<body>
    <table>
        <div class="contentheadline" >새소식</div>
        <tr>
            <th style="width: 1000px;"></th>
        </tr>
        <tr th:each="newInfo, index: ${ newInfoList }">
            <th>
                <div style="padding-bottom: 20px;">
                    <p th:text="${newInfo.title}" style="text-align: left; font-size: 25px"></p>
                    <div class="content-wrapper">
                        <div class="newInfoContent" th:text="${newInfo.content}"></div>
                        <button class="more-button">더 보기</button>
                    </div>
                    <p th:text="'수정일: '+ ${newInfo.modifyDate}" style="text-align: left; font-size: 15px"></p>
                </div>
            </th>
        </tr>
    </table>
<script src="/js/seller/salesPageDetail.js"></script>
</body>
</html>