<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>판매페이지_FAQ</title>
    <link rel="stylesheet" href="/css/seller/salesPage.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">  <script src="/js/seller/slaesPage.js"></script>
</head>

<header id="header">
    <th:block th:include="~{/common/fragments/header}"></th:block>
</header>

<body>
<th:block th:include="~{/seller/fragments/product}"></th:block>

<nav>
    <ul>
        <li class="contentsmiddle"><a style="cursor: pointer" onclick="location.href='/seller/sales/salesPage1'">상품내용</a></li>
        <li class="contentsmiddle"><a style="cursor: pointer" onclick="location.href='/seller/sales/salesPage2'">프로젝트정보</a></li>
        <li class="contentsmiddle"><a style="cursor: pointer" onclick="location.href='/seller/sales/salesPage3'">Q/A</a></li>
        <li class="selectedpage"><a style="cursor: pointer" onclick="location.href='/seller/sales/salesPage4'">FAQ</a></li>
        <li class="contentsmiddle"><a style="cursor: pointer" onclick="location.href='/seller/sales/salesPage5'">새소식</a></li>
        <li class="contentsmiddle"><a style="cursor: pointer" onclick="location.href='/seller/sales/salesPage6'">판매자정보</a></li>
    </ul>
</nav>

<div class="contentsbottom">
    <table>
        <tr>
            <th style="width: 150px;">번호</th>
            <th style="width: 1000px;">자주하는질문</th>
        </tr>
        <tr>
            <td class="tdindex">1</td>
            <td>배송일정은  프로젝트 정보에 기재되어있습니다.</td>
        </tr>
        <tr>
            <td class="tdindex">2</td>
            <td>배송지 정보 변경은 프로젝트 마감 전까지 마이페이지에서 수정 가능합니다.</td>
        </tr>
        <tr>
            <td class="tdindex">3</td>
            <td>펀딩 달성 미달시 펀딩금액은 전액 환불됩니다.</td>
        </tr>
        <tr>
            <td class="tdindex">4</td>
            <td></td>
        </tr>
        <tr>
            <td class="tdindex">5</td>
            <td></td>
        </tr>
        <tr>
            <td class="tdindex">6</td>
            <td></td>
        </tr>
    </table>

    <div>
        <ul class="cus-page">
            <li><a href=#><</a></li>
            <li><a href=#>1</a></li>
            <li><a href=#>2</a></li>
            <li><a href=#>3</a></li>
            <li><a href=#>4</a></li>
            <li><a href=#>5</a></li>
            <li><a href=#>></a></li>
        </ul>
    </div>
</div>

</body>

<footer >
    <th:block th:include="~{/common/fragments/footer}"></th:block>
</footer>
</html>