<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>판매페이지_상품상세내용</title>
    <link rel="stylesheet" href="./style.css" >
    <script src="../../resources/메인페이지/script.js"></script>
    <script src="../script.js"></script>
</head>

<header id="header"></header>


<body>

<div class="contents">
    <div class="top">
        <div class="category"><div class="text">의류</div></div>
        <div class="title"><div class="text">장애인-비장애인 누구나 입는 '유니버셜' 의류</div></div>
        <div class="sellerlogo"><img class="logoimage" src="../resources/image/판매자로고.PNG" alt="판매자로고"></div>
    </div>

    <div class="product">
        <!-- <div class="productimg"><img class="image" src="../resources/image/썸네일1.PNG" alt="상품사진"></div> -->

        <div class="imagecontainer">
            <div class="productimg">
                <img class="image" src="../resources/image/썸네일1.PNG" alt="상품사진1">
                <img class="image" src="../resources/image/썸네일2.PNG" alt="상품사진1">
                <img class="image" src="../resources/image/썸네일3.PNG" alt="상품사진1">
            </div>
            <div class="imagebuttoncontainer">
                <button class="imagebutton" onclick="showSlide(0)"></button>
                <button class="imagebutton"  onclick="showSlide(1)"></button>
                <button class="imagebutton" onclick="showSlide(2)"></button>
            </div>
        </div>





        <div class="option">
            <div class="optiontop">
                <div class="optiontitle">목표금액</div>
                <div class="optiontop-sub">
                    <div>600,000</div>
                    <div>원 /</div>
                    <div>1,000,000</div>
                    <div>원</div>
                </div>
            </div>

            <div class="progress-bar-container">
                <div class="progress-bar">
                    <div class="progress-gauge1"></div>
                    <div class="progresstext">
                        <di >60</di>
                        <div>% 달성중</div>
                    </div>
                </div>

            </div>

            <div class="optiontop">
                <div class="optiontitle">남은날짜</div>
                <div class="optiontop-sub">
                    <div>펀딩기간 : </div>
                    <div>2023.06.01 ~ 2023.06.15</div>
                </div>
            </div>

            <div class="progress-bar-container">
                <div class="progress-bar">
                    <div class="progress-gauge2"></div>
                    <div class="progresstext">
                        <div>10</div>
                        <div>일 남았습니다</div>
                    </div>
                </div>
            </div>

            <div class="optiontop">
                <div class="optiontitle">프로젝트 후원하기</div>
            </div>

            <div class="optionmiddle">
                <input type="checkbox" style="width: 45px;">
                <div class="optiontext" >옵션선택 없이 후원</div>
                <input class="optiontext" id="donation" type="text" value="1000+">
                <div class="optiontext">원</div>
            </div>

            <div class="optionmiddle">
                <div class="optiontext">옵션1</div>
                <select class="optiontext" id="selectbox">
                    <option value="1">옵션1</option>
                    <option value="2">옵션2</option>
                    <option value="3">옵션3</option>
                </select>
            </div>

            <div class="optionmiddle">
                <div class="optiontext">옵션2</div>
                <select class="optiontext" id="selectbox">
                    <option value="1">옵션1</option>
                    <option value="2">옵션2</option>
                    <option value="3">옵션3</option>
                </select>
            </div>

            <div class="optiontop">
                <div class="optiontitle">선택옵션 확인</div>
                <div class="optiontop-sub">
                    <div class="optiontext" id="totalamount">45,000</div>
                    <div class="optiontext" id="totalamount">원</div>
                    <button id="orderbutton" type="submit">후원하기</button>
                </div>
            </div>

            <div class="optionbottom">
                <div class="optionmiddle">
                    <div class="optiontext">선택1</div>
                    <input class="optiontext" id="optioncheck" type="text" value="기본값" readonly>
                    <div class="optiontext">수량</div>
                    <input class="optiontext" id="optionamount" type="text" value="1" >
                    <button class="button" id="plusbutton">+</button>
                    <button class="button" id="minusbutton">-</button>
                </div>
                <div class="optionmiddle">
                    <div class="optiontext">선택2</div>
                    <input class="optiontext" id="optioncheck" type="text" value="기본값" readonly>
                    <div class="optiontext">수량</div>
                    <input class="optiontext" id="optionamount" type="text" value="1" >
                    <button class="button" id="plusbutton">+</button>
                    <button class="button" id="minusbutton">-</button>
                </div>
                <div class="optionmiddle">
                    <div class="optiontext">선택3</div>
                    <input class="optiontext" id="optioncheck" type="text" value="기본값" readonly>
                    <div class="optiontext">수량</div>
                    <input class="optiontext" id="optionamount" type="text" value="1" >
                    <button class="button" id="plusbutton">+</button>
                    <button class="button" id="minusbutton">-</button>
                </div>

            </div>
        </div>
    </div>


    <nav>
        <ul>
            <li class="contentsmiddle"><a href="./1_판매페이지_상품상세내용.html">상품내용</a></li>
            <li class="contentsmiddle"><a href="./2_판매페이지_프로젝트정보.html">프로젝트정보</a></li>
            <li class="selectedpage"><a href="./3_판매페이지_Q&A.html">Q/A</a></li>
            <li class="contentsmiddle"><a href="./4_판매페이지_FAQ.html">FAQ</a></li>
            <li class="contentsmiddle"><a href="./5_판매페이지_새소식.html">새소식</a></li>
            <li class="contentsmiddle"><a href="./6_판매페이지_판매자정보.html">판매자정보</a></li>
        </ul>
    </nav>



    <div class="contentsbottom">
        <table>
            <tr>
                <th style="width: 150px;">문의자</th>
                <th style="width: 900px;">문의내용</th>
            </tr>
            <tr>
                <td class="tdindex">홍길동</td>
                <td>175에 80kg 인데 사이즈 몇입으면 되나요?</td>
            </tr>
            <tr>
                <td class="tdindex">관리자</td>
                <td>ㄴ 홍길동님, 110(XXL) 사이즈 추천드립니다.</td>
            </tr>
            <tr>
                <td class="tdindex">아무개</td>
                <td>프로젝트 달성 안되면 환불돼요?</td>
            </tr>
            <tr>
                <td class="tdindex">관리자</td>
                <td>ㄴ 아무개님, 네 프로젝트 미달성시 전액 환불됩니다.</td>
            </tr>
            <tr>
                <td class="tdindex">이순신</td>
                <td>배송지 변경하고싶은데요! 서울시 00구</td>
            </tr>
            <tr>
                <td class="tdindex">관리자</td>
                <td>ㄴ 이순신님, 변경해드렸습니다.</td>
                <td class="button-cell" >
                    <button style="height: 30px;">수정</button>
                    <button style="height: 30px;">삭제</button>
                </td>
            </tr>
        </table>

        <div>
            <ul class="cus-page">
                <li><a href=#><</a></li>
                <li><a href=#>1</a></li>
                <li><a href=#>2</a></li>
                <li><a href=#>3</a></li>
                <li><a href=#>4</a></li>
                <li><a href=#>5</a></li>
                <li><a href=#>></a></li>
            </ul>
        </div>

        <input class="optiontext" id="optioncheck" type="text" value="문의자" readonly>
        <input class="optiontext" id="question" type="text" value="문의내용" >
        <button style="font-size: 20px; width: 60px; height: 35px;">입력</button>
    </div>



</body>

<footer id="footer"></footer>
</html>