<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>판매페이지_상품상세내용</title>
    <link rel="stylesheet" href="./style.css" >
    <script src="../../resources/메인페이지/script.js"></script>
    <script src="../script.js"></script>
</head>

<header id="header"></header>


<body>

<div class="contents">
    <div class="top">
        <div class="category"><div class="text">의류</div></div>
        <div class="title"><div class="text">장애인-비장애인 누구나 입는 '유니버셜' 의류</div></div>
        <div class="sellerlogo"><img class="logoimage" src="../resources/image/판매자로고.PNG" alt="판매자로고"></div>
    </div>

    <div class="product">
        <!-- <div class="productimg"><img class="image" src="../resources/image/썸네일1.PNG" alt="상품사진"></div> -->

        <div class="imagecontainer">
            <div class="productimg">
                <img class="image" src="../resources/image/썸네일1.PNG" alt="상품사진1">
                <img class="image" src="../resources/image/썸네일2.PNG" alt="상품사진1">
                <img class="image" src="../resources/image/썸네일3.PNG" alt="상품사진1">
            </div>
            <div class="imagebuttoncontainer">
                <button class="imagebutton" onclick="showSlide(0)"></button>
                <button class="imagebutton"  onclick="showSlide(1)"></button>
                <button class="imagebutton" onclick="showSlide(2)"></button>
            </div>
        </div>





        <div class="option">
            <div class="optiontop">
                <div class="optiontitle">목표금액</div>
                <div class="optiontop-sub">
                    <div>600,000</div>
                    <div>원 /</div>
                    <div>1,000,000</div>
                    <div>원</div>
                </div>
            </div>

            <div class="progress-bar-container">
                <div class="progress-bar">
                    <div class="progress-gauge1"></div>
                    <div class="progresstext">
                        <di >60</di>
                        <div>% 달성중</div>
                    </div>
                </div>

            </div>

            <div class="optiontop">
                <div class="optiontitle">남은날짜</div>
                <div class="optiontop-sub">
                    <div>펀딩기간 : </div>
                    <div>2023.06.01 ~ 2023.06.15</div>
                </div>
            </div>

            <div class="progress-bar-container">
                <div class="progress-bar">
                    <div class="progress-gauge2"></div>
                    <div class="progresstext">
                        <div>10</div>
                        <div>일 남았습니다</div>
                    </div>
                </div>
            </div>

            <div class="optiontop">
                <div class="optiontitle">프로젝트 후원하기</div>
            </div>

            <div class="optionmiddle">
                <input type="checkbox" style="width: 45px;">
                <div class="optiontext" >옵션선택 없이 후원</div>
                <input class="optiontext" id="donation" type="text" value="1000+">
                <div class="optiontext">원</div>
            </div>

            <div class="optionmiddle">
                <div class="optiontext">옵션1</div>
                <select class="optiontext" id="selectbox">
                    <option value="1">옵션1</option>
                    <option value="2">옵션2</option>
                    <option value="3">옵션3</option>
                </select>
            </div>

            <div class="optionmiddle">
                <div class="optiontext">옵션2</div>
                <select class="optiontext" id="selectbox">
                    <option value="1">옵션1</option>
                    <option value="2">옵션2</option>
                    <option value="3">옵션3</option>
                </select>
            </div>

            <div class="optiontop">
                <div class="optiontitle">선택옵션 확인</div>
                <div class="optiontop-sub">
                    <div class="optiontext" id="totalamount">45,000</div>
                    <div class="optiontext" id="totalamount">원</div>
                    <button id="orderbutton" type="submit">후원하기</button>
                </div>
            </div>

            <div class="optionbottom">
                <div class="optionmiddle">
                    <div class="optiontext">선택1</div>
                    <input class="optiontext" id="optioncheck" type="text" value="기본값" readonly>
                    <div class="optiontext">수량</div>
                    <input class="optiontext" id="optionamount" type="text" value="1" >
                    <button class="button" id="plusbutton">+</button>
                    <button class="button" id="minusbutton">-</button>
                </div>
                <div class="optionmiddle">
                    <div class="optiontext">선택2</div>
                    <input class="optiontext" id="optioncheck" type="text" value="기본값" readonly>
                    <div class="optiontext">수량</div>
                    <input class="optiontext" id="optionamount" type="text" value="1" >
                    <button class="button" id="plusbutton">+</button>
                    <button class="button" id="minusbutton">-</button>
                </div>
                <div class="optionmiddle">
                    <div class="optiontext">선택3</div>
                    <input class="optiontext" id="optioncheck" type="text" value="기본값" readonly>
                    <div class="optiontext">수량</div>
                    <input class="optiontext" id="optionamount" type="text" value="1" >
                    <button class="button" id="plusbutton">+</button>
                    <button class="button" id="minusbutton">-</button>
                </div>

            </div>
        </div>
    </div>


    <nav>
        <ul>
            <li class="contentsmiddle"><a href="./1_판매페이지_상품상세내용.html">상품내용</a></li>
            <li class="contentsmiddle"><a href="./2_판매페이지_프로젝트정보.html">프로젝트정보</a></li>
            <li class="contentsmiddle"><a href="./3_판매페이지_Q&A.html">Q/A</a></li>
            <li class="contentsmiddle"><a href="./4_판매페이지_FAQ.html">FAQ</a></li>
            <li class="contentsmiddle"><a href="./5_판매페이지_새소식.html">새소식</a></li>
            <li class="selectedpage"><a href="./6_판매페이지_판매자정보.html">판매자정보</a></li>
        </ul>
    </nav>



    <div class="contentsbottom">
        <div>
            <div class="teaminfo">
                <div class="sellerlogo"><img class="logoimage" src="../resources/image/판매자로고.PNG" alt="판매자로고"></div>
                <div>TEAM 모카썸</div>
            </div>
            <div style="font-size: 25px; margin-bottom: 20px;">상호 / 대표자주식회사 위클리플랜 / 홍춘식브랜드모카썸
                사업자번호1328636662통신판매업신고2022-서울강서-1154
                연락처02-2210-8443E-mailhana.kim@panko.co.kr
                영업소재지서울 강서구 강서로 468 (테크노타워) 4층 301-1호, 403호 (등촌동)
            </div>
            <div style="font-size: 25px;">반송지정보
                교환 / 반품 주소(15878) 경기 군포시 번영로 82 (한국복합물류(주)) A-1동 고속도로방면 1층 JH포장 (모카썸 물류센터)
            </div>

        </div>

    </div>



</body>

<footer id="footer"></footer>
</html>