<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>판매페이지_판매자정보</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">   <script src="/js/seller/slaesPage.js"></script>
</head>

<body>

<div class="contentsbottom">
    <div>
        <div class="teaminfo">
            <div class="sellerlogo"><img class="logoimage" src="/images/seller/sales/sellerLogo.PNG" alt="판매자로고"></div>
            <div>TEAM 모카썸</div>
        </div>
        <div style="font-size: 25px; margin-bottom: 20px;">상호 / 대표자주식회사 위클리플랜 / 홍춘식브랜드모카썸
            사업자번호1328636662통신판매업신고2022-서울강서-1154
            연락처02-2210-8443E-mailhana.kim@panko.co.kr
            영업소재지서울 강서구 강서로 468 (테크노타워) 4층 301-1호, 403호 (등촌동)
        </div>
        <div style="font-size: 25px;">반송지정보
            교환 / 반품 주소(15878) 경기 군포시 번영로 82 (한국복합물류(주)) A-1동 고속도로방면 1층 JH포장 (모카썸 물류센터)
        </div>

    </div>

</div>


</body>
</html>