<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="product">
<link rel="stylesheet" href="/css/seller/salesPage.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
<script src="/js/seller/slaesPage.js"></script>

<div class="contents">
    <div class="top">
      <div class="categorybox"><div class="text">의류</div></div>
      <div class="title"><div class="text">장애인-비장애 누구나 입는 '유니버셜' 의류</div></div>
  <!--    <div th:if="${salesDTO}" class="title">-->
  <!--      <div class="text" th:text="${salesDTO.title}"></div>-->
  <!--    </div>-->
      <div class="sellerlogo"><img class="logoimage" src="/images/seller/sales/sellerLogo.PNG" alt="판매자로고"></div>
    </div>
</div>

  <div class="product">
    <!-- <div class="productimg"><img class="image" src="../resources/image/썸네일1.PNG" alt="상품사진"></div> -->

    <div class="imagecontainer">
      <div class="productimg">
        <img class="image" src="/images/seller/sales/sales1.PNG" alt="상품사진1">
        <img class="image" src="/images/seller/sales/sales2.PNG" alt="상품사진1">
        <img class="image" src="/images/seller/sales/sales3.PNG" alt="상품사진1">
      </div>
      <div class="imagebuttoncontainer">
        <button class="imagebutton" onclick="showSlide(0)"></button>
        <button class="imagebutton"  onclick="showSlide(1)"></button>
        <button class="imagebutton" onclick="showSlide(2)"></button>
      </div>
    </div>



    <div class="option">
      <div class="optiontop">
        <div class="optiontitle">목표금액</div>
        <div class="optiontop-sub">
          <div>600,000</div>
          <div>원 /</div>
          <div>1,000,000</div>
          <div>원</div>
        </div>
      </div>

      <div class="progress-bar-container">
        <div class="progress-bar">
          <div class="progress-gauge1"></div>
          <div class="progresstext">
            <di >60</di>
            <div>% 달성중</div>
          </div>
        </div>

      </div>

      <div class="optiontop">
        <div class="optiontitle">남은날짜</div>
        <div class="optiontop-sub">
          <div>펀딩기간 : </div>
          <div>2023.06.01 ~ 2023.06.15</div>
        </div>
      </div>

      <div class="progress-bar-container">
        <div class="progress-bar">
          <div class="progress-gauge2"></div>
          <div class="progresstext">
            <div>10</div>
            <div>일 남았습니다</div>
          </div>
        </div>
      </div>

      <div class="optiontop">
        <div class="optiontitle">프로젝트 후원하기</div>
      </div>

      <div class="optionmiddle">
        <input type="checkbox" style="width: 30px;">
        <div class="optiontext" style="margin-left: -75px; margin-top: 5px" >옵션선택 없이 후원</div>
        <input class="optiontext" id="donation" type="text" value="1000+" style="margin-right: -85px;">
        <div class="optiontext">원</div>
      </div>

      <div class="optionmiddle">
        <div class="optiontext">옵션1</div>
        <select class="optiontext" id="selectbox1" onchange="addNewDiv()">
          <option value=""></option>
          <option value="블랙">블랙</option>
          <option value="레드">레드</option>
          <option value="블루">블루</option>
        </select>
      </div>

      <div class="optionmiddle">
        <div class="optiontext">옵션2</div>
        <select class="optiontext" id="selectbox2" onchange="displaySelectedOptions()">
          <option value=""></option>
          <option value="S">S</option>
          <option value="M">M</option>
          <option value="L" >L</option>
        </select>
      </div>

      <div class="optiontop">
        <div class="optiontitle">선택옵션 확인</div>
        <div class="optiontop-sub" style="margin-bottom: 10px">
          <div class="optiontext" id="totalamount">0</div>
          <div class="optiontext" id="amounttext">원</div>
          <button id="orderbutton" type="submit">후원하기</button>
        </div>
      </div>

      <div class="optionbottom" id="optioncontainer">
        <div class="optionmiddle">
          <div class="optiontext">선택</div>
          <input class="optioncheck" type="text" readonly style="font-size: 20px">
          <div class="optiontext">수량</div>
          <input class="optionamount" type="text" value="1" style="font-size: 20px" >
          <button class="plusbutton">+</button>
          <button class="minusbutton">-</button>
        </div>


<!--        <div class="optionmiddle">-->
<!--          <div class="optiontext">선택2</div>-->
<!--          <input class="optiontext" id="optioncheck" type="text" value="기본값" readonly>-->
<!--          <div class="optiontext">수량</div>-->
<!--          <input class="optiontext" id="optionamount" type="text" value="1" >-->
<!--          <button class="button" id="plusbutton">+</button>-->
<!--          <button class="button" id="minusbutton">-</button>-->
<!--        </div>-->
<!--        <div class="optionmiddle">-->
<!--          <div class="optiontext">선택3</div>-->
<!--          <input class="optiontext" id="optioncheck" type="text" value="기본값" readonly>-->
<!--          <div class="optiontext">수량</div>-->
<!--          <input class="optiontext" id="optionamount" type="text" value="1" >-->
<!--          <button class="button" id="plusbutton">+</button>-->
<!--          <button class="button" id="minusbutton">-</button>-->
<!--        </div>-->

      </div>
    </div>
  </div>

</body>
</html>