<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="product">
<link rel="stylesheet" href="/css/seller/salesPage.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
<script src="/js/seller/slaesPage.js"></script>

<div class="contents" th:if="${salesDTO}">
    <div class="top">
      <div class="categorybox"><div class="text" th:text="${categoryDTO.name}"></div></div>
      <div class="title">
        <div class="text" th:text="${salesDTO.title}"></div> <!--프로젝트 제목-->
      </div>
      <div class="sellerlogo"><img class="logoimage" src="/images/seller/sales/sellerLogo.PNG" alt="판매자로고"></div>
    </div>

  <div class="product">
    <!-- <div class="productimg"><img class="image" src="../resources/image/썸네일1.PNG" alt="상품사진"></div> -->

    <div class="imagecontainer">
      <div class="productimg">
        <img class="image" src="/images/seller/sales/sales1.PNG" alt="상품사진1">
        <img class="image" src="/images/seller/sales/sales2.PNG" alt="상품사진1">
        <img class="image" src="/images/seller/sales/sales3.PNG" alt="상품사진1">
      </div>
      <div class="imagebuttoncontainer">
        <button class="imagebutton" onclick="showSlide(0)"></button>
        <button class="imagebutton"  onclick="showSlide(1)"></button>
        <button class="imagebutton" onclick="showSlide(2)"></button>
      </div>
    </div>



    <div class="option">
      <div class="optiontop">
        <div class="optiontitle">목표금액</div>
        <div class="optiontop-sub">
          <div th:text="${salesDTO.currentAmount}" id="currentAmount"></div> <!--현재금액-->
          <div>원 /</div>
          <div th:text="${salesDTO.targetAmount}" id="targetAmount"></div> <!--목표액-->
          <div>원</div>
        </div>
      </div>

      <div class="progress-bar-container">
        <div class="progress-bar">
          <div id="progress-gauge1"></div>
          <div class="progresstext">
            <div id="calcAmount"></div>
            <div>% 달성중</div>
          </div>
        </div>

      </div>

      <div class="optiontop">
        <div class="optiontitle">남은날짜</div>
        <div class="optiontop-sub">
          <div>펀딩기간 : </div>
          <div id="startDate" th:text="${salesDTO.startDate}"></div>
          <div>~</div>
          <div id="endDate" th:text="${salesDTO.endDate}"></div>
        </div>
      </div>

      <div class="progress-bar-container">
        <div class="progress-bar">
          <div id="progress-gauge2"></div>
          <div class="progresstext">
            <div id="calcDate"></div>
            <div id="calcDatetext">일 남았습니다</div>
          </div>
        </div>
      </div>

      <div class="optiontop">
        <div class="optiontitle">프로젝트 후원하기</div>
      </div>

      <div class="optionmiddle">
        <input type="checkbox" style="width: 30px;">
        <div class="optiontext" style="margin-left: -75px; margin-top: 5px" >옵션선택 없이 후원</div>
        <input class="optiontext" id="donation" type="text" value="1000+" style="margin-right: -85px;" onclick="clearText()">
        <div class="optiontext">원</div>
      </div>

      <div class="optionmiddle">
        <div class="optiontext">옵션1</div>
        <select class="optiontext" id="selectbox1" onchange="addNewDiv()">
          <option value=""></option>
          <option th:each="option: ${ optionList }" th:text="${ option.name}"></option>
        </select>
      </div>

      <div class="optionmiddle">
        <div class="optiontext" >옵션2</div>
        <select class="optiontext" id="selectbox2" onchange="displaySelectedOptions()">
          <option value=""></option>
          <option th:each="option: ${ optionList }">
            <span th:text="${ option.productSize} + '   ('"></span>
            <span class="optionprice" th:text="${option.price}"></span>
            <span>원)</span>
          </option>
        </select>
      </div>

      <div class="optiontop">
        <div class="optiontitle">선택옵션 확인</div>
        <div class="optiontop-sub" style="margin-bottom: 10px">
          <div class="optiontext" id="totalamount"></div>
          <div class="optiontext" id="amounttext">원</div>
          <button id="orderbutton" type="submit">후원하기</button>
        </div>
      </div>

      <div class="optionbottom" id="optioncontainer">
        <div class="optionmiddle">
          <div class="optiontext">선택</div>
          <input class="optioncheck" type="text" readonly style="font-size: 20px">
          <div class="optiontext">수량</div>
          <input class="optionamount" type="text" value="1" style="font-size: 20px" >
          <button class="plusbutton">+</button>
          <button class="minusbutton">-</button>
<!--          <input clsss="optionmoney" type="text" readonly style="font-size: 20px">-->
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script>
  calcPercent();
  calcBetweenDate();
</script>
</html>