<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/seller/sellerDashboard.css">
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>

<nav id="projectListNav" class="cus-nav" th:fragment="nav">
  <div style="text-align: center;">
    <img src="/images/seller/Logo.png" width="150px" style="margin-top: 30px; margin-bottom: 30px; cursor: pointer" onclick="location.href='/main'">
  </div>
  <h2>판매자 페이지</h2>
  <br>
  <!-- menu-none-visible 스위치 -->
  <ul class="menu-list">
    <h5 onclick="confirmTempProject()">프로젝트 등록</h5>
  </ul>
  <ul class="menu-list">
    <h5>프로젝트 관리</h5>
    <div class="menu-visible ">
      <li id="cusAllMenu" onclick="location.href='./projectList?listType=all'" >전체 조회</li>
      <li id="cusScreenMenu" onclick="location.href='./projectList?listType=screening'">심사중</li>
      <li id="cusProcessMenu" onclick="location.href='./projectList?listType=processing'">진행중</li>
      <li id="cusRefuseMenu" onclick="location.href='./projectList?listType=rejected'">반려</li>
      <li id="cusCancelMenu" onclick="location.href='./projectList?listType=cancel'">취소</li>
    </div>
  </ul>
  <ul class="menu-list">
    <h5>주문관리</h5>
    <div class="menu-visible ">
      <li id="orderAllMenu" onclick="location.href='./orderList?listType=all'">전체조회</li>
      <li id="orderReceiptMenu" onclick="location.href='./orderList?listType=receipt'">주문접수</li>
      <li id="orderDeliveryMenu" onclick="location.href='./orderList?listType=delivery'">배송처리</li>
      <li id="orderRefundMenu" onclick="location.href='./orderList?listType=refund'">교환환불</li>
      <!--     <li id="orderCancelMenu" onclick="location.href='./orderList?listType=cancel'">취소내역</li>-->
     <!--      <li id="orderCalculateMenu" onclick="location.href='./orderList?listType=calculate'">주문정보</li>-->
    </div>
  </ul>
  <ul class="menu-list">
    <h5>Q / A </h5>
    <div class="menu-visible">
      <li id="qaAllMenu" onclick="location.href='./projectQnAList?listType=all'">전체조회</li>
      <li id="qaWaitMenu" onclick="location.href='./projectQnAList?listType=wait'">답변 대기중</li>
      <li id="qaCompleteMenu" onclick="location.href='./projectQnAList?listType=complete'">답변 완료</li>
    </div>
  </ul>
</nav>

<div th:fragment="pageantion">
  <ul class="cus-page">
    <li th:onclick="movePage(1)" th:text="'<<'"></li>
    <th:block th:each="num : ${#numbers.sequence(currentPageNum - 2, currentPageNum+2)}">
      <th:block th:if="${num <= endPageNum and num >0 }">
        <li th:text="${num}" th:if="${currentPageNum == num}" style="font-weight: 700" th:onclick="|movePage(${num})|"></li>
        <li th:text="${num}" th:if="${currentPageNum != num}" th:onclick="|movePage(${num})|"></li>
      </th:block>
    </th:block>
    <li  th:onclick="|movePage(${maxPageNum})|" th:text="'>>'"></li>
  </ul>
</div>

<th:block th:fragment="prjItem('title','content','amount','date','views','img')">
<div class="project-item">
  <div>
    <img class="project-item-thumbnail" th:src="${img}">
  </div>
  <div class="project-row">
    <div th:text="${money}"></div>
    <div><span class="color" th:value="|${date}일남음|"></span></div>
  </div>
  <div th:text="${title}"></div>
  <div>
    참여자수 : <span th:text="${views}"></span>명
  </div>
</div>
</th:block>

<th:block th:switch="${status}" th:fragment="progressStatus(status)" >
    <span th:case="${'CANCEL'}">취소</span>
    <span th:case="${'TEMPORARY'}">임시저장</span>
    <span th:case="${'REJECTED'}">반려</span>
    <span th:case="${'PROCESSING'}">진행중</span>
    <span th:case="${'CLOSED'}">종료</span>
    <span th:case="${'SCREENING'}">심사중</span>
</th:block>


<th:block th:switch="${status}" th:fragment="payStatus(status)">
  <span th:case="${'APPROVAL'}">승인</span>
  <span th:case="${'REFUND'}">거절</span>
  <span th:case="${'FAIL'}">실패</span>
</th:block>
</html>