<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ht="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 찾기</title>
    <link rel="stylesheet" href="/css/member/Loginstyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
</head>

<body>
<div class="logo">
    <a href="/">
        <img src="/images/member/logo.png" alt="">
    </a>
</div>
<h2 style="margin-bottom: 100px;">
    <div class="tab_list">
        <a href="./findid">아이디 찾기</a>
        <a href="./findpwd">비밀번호 찾기</a>
    </div>
</h2>
<div class="container_main">


    <p class="guide" th:text="${result}" style="text-align: center;">


    </p>
    <div class="container_button" style="margin-top: 100px;">
        <div>
            <button onclick="location.href='/member/login/login'" class="ok_button" id="button1" style="width: 50%;">로그인 하기
            </button>

        </div>
        <div>
            <button onclick="location.href='/'" class="ok_button" style="width: 50%;">홈 화면 가기 하기</button>
        </div>
    </div>

</div>
</body>

</html>