<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ht="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 찾기</title>
    <link rel="stylesheet" href="/css/member/Loginstyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</head>

<body>
<div class="logo">
    <a href="/">
        <img src="/images/member/logo.png" alt="">
    </a>
</div>

<h2>
    <div class="tab_list">
        <a href="./findid">아이디 찾기</a>
        <a href="./findpwd">비밀번호 찾기</a>
    </div>
</h2>

<div class="container_main">
    <h3 class="contant_header">아이디 찾기</h3>
    <div class="contant_main">
        <p class="guide">
            가입하실 때 사용한 이메일 주소를 입력해주세요. <br>
            아이디를 메일로 받을 수 있습니다.
        </p>
        <form th:action="@{/member/findinfo/findid}" method="post">
            <div>
                <input type="text" name="email" id="email" class="input_text" placeholder="이메일 입력" required th:onchange="emailOk()">
            </div>
            <p class="error_message">
            </p>
            <div class="container_button">
                <button type="submit" class="ok_button" disabled>확인</button>
            </div>
        </form>
    </div>
    <div>
        <ul class="find_info">
            <li>
                <a href="/member/login/login">로그인하기</a>
            </li>
            <li>
                <a href="/member/findinfo/findpwd">비밀번호 찾기</a>
            </li>
            <li>
                <a href="/member/signup/signUp">회원 가입</a>
            </li>
        </ul>
    </div>
</div>
<script>
    function emailOk() {
        const email = $('#email').val();
        let emailCheck = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;
        if (!emailCheck.test(email)) {
            $('.error_message').text('이메일형식으로 입력해주세요')
            $('#email').val('');
            $('#email').focus();
            $('.ok_button')
        }else{
            $('.error_message').text('');
            $('.ok_button').removeAttr('disabled')

        }
    }

</script>
</body>

</html>