<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OSMAS 소개글</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
</head>
<body>

<header id="header">
    <th:block th:include="~{/common/fragments/header}"></th:block>
</header>

<middle>
    <h1>주류가 아닌 비주류 사이즈<br>
        OSMAS에서는 메인입니다 !</h1><br>
    <h3>신체 구조가 매우 왜소하거나 매우 크거나, 또는 장애를 가진 사람들은 일반적인 시중 의류에서 자신에게 맞는 크기의 옷을 찾는 데 어려움을 겪을 수 있습니다.<br>

        이러한 고객님들을 위한 저희는 오스메스입니다.<br>
        <br><br><br>
        자신에게 맞는 핏을 찾는 어려움을 해소하고,<br>

        자신을 표현하고 자신감을 가질 수 있는 기회를 제공하며,<br>

        사이즈에 구애받지 않고 다양한 사람들이 자신의 스타일을 표현할 수 있는 경험을 제공하고자 합니다 ! <br>
        <br><br><br>
        다양한 크기의 의상이 시장에 나타나게 함으로써 우리는 고객님의 불편함을 해소해주는 동시에 사회적 다양성을 존중하고 포용하는 메시지를 전달합니다 :)</h3>
</middle>

<footer >
    <th:block th:include="~{/common/fragments/footer}"></th:block>
</footer>

</body>
</html>