<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OSMAS 소개글</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <link rel="stylesheet" href="/css/admin/footerCategory/terms.css">
</head>
<body>

<header id="header">
    <th:block th:include="~{/common/fragments/header}"></th:block>
</header>

<middle>
    <div>
        <div th:each="osmas, iterStat: ${OSAMS}">
            <div class="termsContainer">
                <form method="POST" th:action="@{/admin/footerCategory/termsEdit}">
                    <p th:attr="data-title=${osmas.title}"></p>
                    <h3 th:utext="${osmas.termsHistory.content}"></h3>
                    <input type="hidden" name="content" th:value="${osmas.termsHistory.content}"/>
                    <input type="hidden" name="title" th:value="${osmas.title}"/>
                    <button class="change" type="submit" th:if="${isAdmin}">수정하기</button>
                </form>
            </div>
            <hr class="separator" th:unless="${iterStat.last}">
        </div>
    </div>
    <div class="spann"></div>
</middle>

<footer>
    <th:block th:include="~{/common/fragments/footer}"></th:block>
</footer>

</body>
</html>