<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>개인정보 처리방침</title>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <link rel="stylesheet" href="/css/admin/footerCategory/terms.css">
</head>
<body>

<header id="header">
  <th:block th:include="~{/common/fragments/header}"></th:block>
</header>

<middle>

  <div>
    <div th:each="personal, iterStat: ${personalTerms}">
      <h1 style="text-align: center;" th:text="${personal.title}"></h1>
      <div class="termsContainer">
        <div class="terms">
          <h3 th:utext="${personal.content}"></h3>
        </div>
        <hr class="separator" th:if="${not iterStat.last}">
      </div>
    </div>
  </div>
  <div class="spann"></div>

</middle>

<footer >
  <th:block th:include="~{/common/fragments/footer}"></th:block>
</footer>

</body>
</html>