<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>개인정보 처리방침</title>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <link rel="stylesheet" href="/css/admin/footerCategory/terms.css">
</head>
<body>

<header>
  <th:block th:include="~{/common/fragments/header}"></th:block>
</header>

<main>
  <div>
    <div th:each="personal, iterStat: ${personalTerms}">
      <form method="POST" th:action="@{/admin/footerCategory/termsEdit}">
        <h1 style="text-align: center;" th:text="${personal.title}"></h1>
        <div class="termsContainer">
          <div class="terms">
            <h3 th:utext="${personal.termsHistory.content}"></h3>
            <input type="hidden" name="content" th:value="${personal.termsHistory.content}"/>
            <input type="hidden" name="title" th:value="${personal.title}"/>
          </div>
        </div>
        <button class="change" type="submit" th:if="${isAdmin}">수정하기</button>
      </form>
      <hr class="separator" th:unless="${iterStat.last}">
    </div>
  </div>
  <div class="spann"></div>
</main>

<footer>
  <th:block th:include="~{/common/fragments/footer}"></th:block>
</footer>

</body>
</html>