<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <!-- include libraries(jQuery, bootstrap) -->
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
  <!-- include summernote css/js-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
  <!-- include summernote-ko-KR -->
  <script src="/resources/js/summernote-ko-KR.js"></script>
  <title>글쓰기</title>
</head>
<style>
  #subBtn {
    background-color: #FFC26F;
    font-size: 12px;
    height: 40px;
    width: 80px;
    color: white;
    border: none;
    text-align: center;
    display: block;
    margin: 20px auto;
    float: none; /* 수정된 부분 */
  }

  #subBtn:hover {
    background-color: #884A39;
  }

  #summernote-container {
    max-height: 600px;
    max-width: 1100px;
    border: 1px solid #ccc;
    overflow: auto;
    padding: 10px;
    position: relative;
    margin: 0 auto; /* 수정된 부분 */
  }
</style>
<body>
<header>
  <th:block th:include="~{/common/fragments/header}"></th:block>
</header>

<h2 style="text-align: center; margin-bottom: 30px;">글 작성</h2>
<div style="width: 60%; margin: auto;">
  <form>
    <div style="width: 100%;">
      <input type="text" name="title" style="width: 40%; margin-bottom: 10px;" placeholder="제목">
    </div>
    <div id="summernote-container">
      <textarea id="summernote" name="content"></textarea>
    </div>
    <div style="text-align: center; margin-top: 10px;">
      <input id="subBtn" type="button" value="글 작성">
    </div>
  </form>
</div>

<script>
  $(document).ready(function() {
    $('#summernote').summernote({
      placeholder: 'content',
      minHeight: 370,
      maxHeight: null,
      focus: true,
      lang : 'ko-KR'
    });

    $('#subBtn').on('click', function() {
      goWrite();
    });

    function goWrite() {
      var title = $('input[name="title"]').val();
      var content = $('#summernote').summernote('code');

      // 가져온 값 사용하기
      console.log("제목:", title);
      console.log("내용:", content);

      // AJAX 요청 보내기
      $.ajax({
        url: '/admin/footerCategory/termsInputGo',
        method: 'POST',
        data: {
          title: title,
          content: content
        },
        success: function(response) {
          console.log('글 작성 완료');
          alert('글 작성 완료!');
          location.reload(); // 페이지 새로 고침
        },
        error: function(error) {
          console.error("글 작성 실패", error);
        }
      });
    }
  });
</script>

<footer>
  <th:block th:include="~{/common/fragments/footer}"></th:block>
</footer>

</body>
</html>