<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>이용 약관</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <link rel="stylesheet" href="/css/admin/footerCategory/terms.css">
    <!-- include summernote-ko-KR -->
    <script src="/resources/js/summernote-ko-KR.js"></script>
    <script>
        var contentElement = document.getElementById("content");
        var contentText = contentElement.innerText;
        contentElement.innerHTML = contentText;
    </script>
</head>
<body>

<header id="header">
    <th:block th:include="~{/common/fragments/header}"></th:block>
</header>

<middle>

    <div>
        <div th:each="use, iterStat: ${useTerms}">
            <h1 style="text-align: center;" th:text="${use.title}"></h1>
            <p></p>
            <div class="termsContainer">
                <div class="terms">
                    <h3 th:utext="${use.content}"></h3>
            </div>
            <hr class="separator" th:if="${not iterStat.last}">
        </div>
    </div>
        </div>
    <div class="spann"></div>

</middle>

<footer >
    <th:block th:include="~{/common/fragments/footer}"></th:block>
</footer>

</body>
</html>