<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>권한 회수 완료</title>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <link rel="stylesheet" href="/css/admin/sellerApproval/sellerAuthorityManaging.css">
</head>
<body>

<header id="header">
    <th:block th:include="~{/common/fragments/header}"></th:block>
</header>

<middle>
    <div class="containerbox">
        <nav class="box3">
            <ul>
                <li class="box"><a onclick="href='waitingAuthority'">권한 부여 대기</a></li>
                <li class="box"><a onclick="href='holdingAuthority'">권한 부여 보류</a></li>
                <li class="box"><a onclick="href='succesAuthority'">권한 부여 완료</a></li>
                <li class="box"><a onclick="href='waitingRetrieve'">권한 회수 대기</a></li>
                <li class="box"><a onclick="href='holdingRetrieve'">권한 회수 보류</a></li>
                <li  class="box" style="background-color: #bea376;"><a href="">권한 회수 완료</a></li>
            </ul>
        </nav>
    </div>

    <h4 style="color: rgb(168, 164, 164); text-align: center;">권한 회수가 완료된 판매자들입니다.</h4>
    <div class="product">
        <div class="image-container">
            <img src="image.jpg" alt="Product Image">
        </div>
        <div class="content-container">
            <h3 class="seller-name">판매자 이름</h3>
            <p class="sale-description">판매 내용</p>
        </div>
        <h4 class="box2">권한 회수 완료</h4>
    </div>

    <div class="product">
        <div class="image-container">
            <img src="image.jpg" alt="Product Image">
        </div>
        <div class="content-container">
            <h3 class="seller-name">판매자 이름</h3>
            <p class="sale-description">판매 내용</p>
        </div>
        <h4 class="box2">권한 회수 완료</h4>
    </div>

    <div class="product">
        <div class="image-container">
            <img src="image.jpg" alt="Product Image">
        </div>
        <div class="content-container">
            <h3 class="seller-name">판매자 이름</h3>
            <p class="sale-description">판매 내용</p>
        </div>
        <h4 class="box2">권한 회수 완료</h4>
    </div>

    <div class="product">
        <div class="image-container">
            <img src="image.jpg" alt="Product Image">
        </div>
        <div class="content-container">
            <h3 class="seller-name">판매자 이름</h3>
            <p class="sale-description">판매 내용</p>
        </div>
        <h4 class="box2">권한 회수 완료</h4>
    </div>

    <div class="product">
        <div class="image-container">
            <img src="image.jpg" alt="Product Image">
        </div>
        <div class="content-container">
            <h3 class="seller-name">판매자 이름</h3>
            <p class="sale-description">판매 내용</p>
        </div>
        <h4 class="box2">권한 회수 완료</h4>
    </div>

    <!-- pagenation start -->
    <div>
        <ul class="pagenation">
            <li><a href=#><</a></li>
            <li><a href=#>1</a></li>
            <li><a href=#>2</a></li>
            <li><a href=#>3</a></li>
            <li><a href=#>4</a></li>
            <li><a href=#>5</a></li>
            <li><a href=#>></a></li>
        </ul>
    </div>
</middle>

<footer >
    <th:block th:include="~{/common/fragments/footer}"></th:block>
</footer>

</body>
</html>