@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
  font-family: 'Noto Sans KR', sans-serif;
}

/*============*/
/* mypagemain */
/*============*/

.mypage h2{
  margin-top: 30px;
  margin-bottom: 30px;
}

.mypage_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  overflow: hidden;
  border-bottom: 2px solid #ccc; 
  margin-bottom: 10px; 
}

.mypage_bar li {
  float: left;
  margin-right: 35px;
}

.mypage_bar li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  letter-spacing: 2px;
  border-bottom: 2px solid transparent; 
  transition: border-bottom-color 0.3s ease; 
}

.mypage_bar li a:hover {
  border-bottom-color: #ff5555; 
}

.mypage_bar li a.active {
  background-color: #4CAF50;
  color: white;
}

/*================*/
/* mypage_profile */
/*================*/

.mypage_name,
.mypage_intro {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.mypage_name h3,
.mypage_intro h3 {
  margin-bottom: 10px;
}

.mypage_name input[type="text"] {
  width: 30%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}
.mypage_intro input[type="text"] {
  width: 30%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.mypage_name button.btn_save,
.mypage_intro button.btn_save {
  padding: 10px 18px; 
  background-color: #bea376;
  color: #000;
  border: none;
  border-radius: 0;
}

.message-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #bea376;
  color: #000;
  padding: 20px;
  border-radius: 4px;
  z-index: 9999;
  display: none; /* 초기에는 숨겨진 상태로 설정 */
}
.show {
  display: block; /* .show 클래스가 추가되면 표시되도록 설정 */
}

/*================*/
/* MypageAccount */
/*================*/

.mypage_email,
.mypage_pwd {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.mypage_email h3,
.mypage_pwd h3 {
  margin-bottom: 10px;
}

.mypage_email input[type="text"] {
  width: 30%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}
.mypage_pwd input[type="password"] {
  width: 30%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 4px;

}

.mypage_email button.btn_save,
.mypage_pwd button.btn_save {
  padding: 10px 18px;
  background-color: #bea376;
  color: #000;
  border: none;
  border-radius: 0;
}

.mypage_delete button.btn_save {
  padding: 10px 18px;
  background-color: #bea376;
  color: #000;
  border: none;
  border-radius: 0;
  margin-bottom: 30px;
}

.mypage_pwd h4 {
  margin-top: 18px;
  margin-bottom: 5px;
}

/*=====================*/
/* MypageAccountDelete */
/*=====================*/

.top_line {
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;

}
.delete_top {
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
}

.delete_mid {
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
}

.delete_next {
  background-color: #bea376;
  color: #000;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
}

/*=========================*/
/* MypageAccountDeleteNext */
/*=========================*/

.delete_reason ul {
  list-style: none;
  text-align: center;
}

.delete_reason ul li {
  display: inline-block;
  position: relative;
}

.delete_reason ul li a {
  display: block;
  padding: 10px;
  width: 500px;
  background-color: #ffffff;
  color: #333333;
  text-decoration: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.delete_reason ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
}

.delete_reason ul li:hover > ul {
  display: inherit;
}

.delete_reason ul ul li {
  width: 100%;
  float: none;
  display: list-item;
  position: relative;
  text-align: left;
}

.delete_reason ul ul ul li {
  position: relative;
  top: -60px;
  left: 100%;
}

.delete_reason ul li:hover {
  background-color: #dddddd;
}

.delete_reason ul li:hover a {
  color: #000000;
}

.delete_write {
  display: flex;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  justify-content: center;
}

.delete_reason .delete_write input {
  width: 510px;
  height: 500px;
  padding-right: 9px;

  font-size: 14px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-left: 39px;
}

.delete_reason .btn_save {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
  width: 100px;
  height: 40px;
  background-color: #bea376;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete_reason .btn_save:hover {
  background-color: #bea376;
}

.delete_reason .message-container {
  display: none;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  background-color: #bea376;
  color: #000;
}

.delete_reason .message-container.show {
  display: block;
}


/*================*/
/* SponsorProject */
/*================*/

.sponsor .img {
  display: flex;
  align-items: center;
}

.sponsor .img img {
  width: 250px;
  height: 200px;
}

.sponsor .img p {
  font-weight: bold;
  font-size: large;
  margin-left: 20px;
}

.sponsor_top {
  font-weight: bold;
  font-size:large;
  border-bottom: 3px solid #ccc;
}


/*==================*/
/* MypageShippingAd */
/*==================*/


.mypage_shipping{
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.mypage_shipping h3 {
  margin-bottom: 10px;
}

.mypage_shipping input[type="text"] {
  width: 30%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.mypage_shipping, .find_ship {
  margin-left: 10px;
}

.mypage_shipping button.btn_save {
  padding: 10px 18px; 
  background-color: #bea376;
  color: #000;
  border: none;
  border-radius: 0;
}

/*=============*/
/* MypageAlarm */
/*=============*/

.mypage_alarm .img {
  display: flex;
  align-items: center;
}

.mypage_alarm .img img {
  width: 250px;
  height: 200px;
}

.mypage_alarm .img p {
  font-size: medium;
  margin-left: 20px;
}

.mypage_alarm {
  border-bottom: 3px solid #ccc;
}

/*===============*/
/* MypageMessage */
/*===============*/

.mypage_message{
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.mypage_message h3 {
  margin-bottom: 10px;
}

.mypage_message input[type="text"] {
  width: 30%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.mypage_message button.btn_save {
  padding: 10px 18px;
  background-color: #bea376;
  color: #000;
  border: none;
  border-radius: 0;
}
.mypage_message textarea {
  width: 31%;
  height: 200px; /* 원하는 높이로 조정하세요 */
}

