@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Noto Sans KR', sans-serif;
}

/* 아랫단 숫자 페이지 */
.pagenation {
    margin-top: 3em;
    list-style: none;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.pagenation li {
    padding: 5px 10px 5px 10px;
    margin: 5px;
}

.pagenation li:hover,
.pagenation li:hover a {
    background-color: #bea376;
    color: white !important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagenation li a {
    color: black; /* 숫자 글씨 색상을 변경하려면 원하는 색상으로 설정하세요 */
    text-decoration: none;
}

/* 상품 관리 */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1400px;
    height: 1000px;
    margin: 100px auto;
    text-align: center;
}

.product-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    width: 100%;
}

.product {
    width: calc(33.33% - 20px); /* 너비와 상품 간의 간격 조정 */
    margin-right: 60px; /* 오른쪽 간격 조정 */
    padding: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: gainsboro;
}

.image-container {
    margin-bottom: 10px;
}

.image-container img {
    width: 100%;
}

.seller-name {
    font-size: 18px;
    margin-bottom: 5px;
}

.sale-description {
    font-size: 14px;
    margin-bottom: 10px;
}